
<div id="domain-container" class="container">
    <div class="row" id="step1">
        <h2 class="col-12 my-2 title">Add domain to sell and park</h2>
        <div class="col-12 my-2">
            <ul class="domain-tabs">
                <li class="tab-item active">Step1: Enter Domain</li>
                <li class="tab-item ">Step1: Price Domains</li>
                <li class="tab-item">Step1: Activate SedoMLS Premium</li>
            </ul>
        </div>
        <div class="col-12 col-sm-8 col-md-6">
            <div class="box lightBlue">
                <h2 class="sub-title">Option 1: Enter up to 200 domain names</h2>
                <textarea id="domainSignupTextarea">Separate domains with a comma, space, or line break.
                        (E.g. domain.com, domain.net, domain.org)</textarea>
            </div>

            <div class="box lightBlue">
                <h2 class="sub-title">Option 2: Add more than 200 domain names <a href="#" class="link domainUploadPage float-right">Go to our upload page</a></h2>
            </div>
            <div class="row">
                <div class="col-md-1 float-right">
                    <label class="checkbox">
                        <input class="float-left" id="acceptTerms" name="acceptTerms" type="checkbox">
                    </label>
                </div>
                <div class="col-md-10">
                    <label class="label terms float-left" for="acceptTerms">
                        I have read the <a href="#" class="external_link">Marketplace Agreement</a>,
                        <a href="#" class="external_link">Transfer Agreement</a>,
                        <a href="#" class="external_link" target="_blank">User Agreement</a>
                        and
                        <a href="#" class="external_link" target="_blank">Guidelines</a>
                        and confirm that I am the rightful owner of this domain and/or website. Should I sell the domain, I understand I will pay a
                        commission in accordance with the <a href="#" class="external_link" target="_blank">price list</a>.
                        By setting my domain's DNS preferences to Sedo's parking servers, I also agree to Sedo's <a href="#" class="external_link" target="_blank">
                            Domain Parking Terms &amp; Conditions
                        </a>.
                    </label>
                </div>
            </div>
            <div class="text-center">

                <button class="btn btn-info">Go to Step 2</button>
            </div>
        </div>
    </div>
    <div id="step2" class="row">
        <h2 class="col-12 my-2 title">Add domain to sell and park</h2>
        <div class="col-12 my-2">
            <ul class="domain-tabs">
                <li class="tab-item ">Step1: Enter Domains</li>
                <li class="tab-item active">Step1: Price Domains</li>
                <li class="tab-item">Step1: Activate SedoMLS Premium</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div col-md-12>
            <h2 class="col-12 my-2 title">
                Set Buy Now Prices
            </h2>
        </div>
        <div class="col-md-12">
            <p class="subline">We recommend setting Buy Now prices, which sell faster and allow buyers to purchase domains without the hassle of negotiations.</p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="text-center col-md-6">
            <a href="#">Go back to Step 1</a>
            <button class="btn btn-info">Go to Step 3</button>
        </div>
    </div>
</div>
