<div id="domain-container" class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 bg-light">
            <h2 class=" display-4 bg-light">Keyword Watchlist</h2>
            <h2 class=" col-12 my-2 title bg-light">Keep track of your watchlist</h2>
            <ul class="nav nav-pills nav-justified bg-primary">
                <li class="nav-item">
                    <a class="nav-link active bg-info" href="#">Buyers Control Panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Watchlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#"></a>
                </li>
            </ul>
            <p>Enter the keywords you’re interested in. We will email you once a week with a list of recently added similar domains.</p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="bg-primary">
                            <th>Keyword Watchlist</th>
                            <th>Last Update</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="height:50px;" colspan="3" class="arrow alignr float-right">
                                Add Keyword/Domain:
                                <input type="text" size="20" name="domain" maxlength="200" class="Form_Input Input_Text">&nbsp;
                                <button type="submit" value="Submit" class="btn btn-info " name="button_execute">
                                    <span>Submit</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p><b>To watch a specific domain please enter the domain at the bottom of the Buyer Control Panel</b></p>
        </div>
    </div>
</div>