<!-- typo3PageId: 105 -->
<div id="domain-container" class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <h2 class=" display-4 bg-light">My Domains</h2>
            <h2 class="col-12 my-2 title">Update sales settings, negotiate offers and add domains to your account</h2>
            <ul class="nav nav-pills nav-justified bg-info">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Domain Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Offers recieved</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Add Domains</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Domain Ownership Verification</a>
                </li>
            </ul>
            <div class="bgclr">
                <h2>
                    <strong>Change your view:</strong>&nbsp;&nbsp;
                    <select>
                        <option value="DomainManagementStandardOverview" id="select_view_standard" selected="">Standard Overview</option>
                        <option value="DomainManagementSalesSettings" id="select_view_sales">Sales Settings</option>
                        <option value="DomainManagementCategorySettings" id="select_view_category">Category Settings</option>
                        <option value="DomainManagementParkingSettings" id="select_view_parking_opt">Parking Optimization</option>
                        <option value="DomainManagementParkingStatistics" id="select_view_parking_stat">Parking Statistics</option>
                        <option value="DomainManagementPersonalOverview" id="select_view_custom">Custom Overview</option>
                        <option value="DomainManagementDeletedDomains" id="select_view_deleted">Deleted Domains</option>
                        <option value="DomainManagementMLSPromotionStatus" id="select_view_premium">SedoMLS Premium Promotion</option>
                    </select>
                    &nbsp;<a href="/member/dnmanagement.php4?language=us&amp;view=DomainManagementPersonalOverview" id="open_customization">Customize your view</a>
                    &nbsp;&nbsp;
                    <select>
                        <option value="DomainManagementStandardOverview" id="select_view_standard" selected=""></option>
                        <option value="DomainManagementSalesSettings" id="select_view_sales">Filter by Portfolio </option>
                        <option value="DomainManagementCategorySettings" id="select_view_category">Filter by group</option>
                    </select>
                    <a class="btn btn-light h-2" href="#">
                        <span>Search</span>
                    </a>
                    <a class="help right" href="/faq/faq.php?faq_thema=40&amp;language=us" onclick="javascript:return showpopup(this.href,880,600)"><span>Help?</span></a>
                </h2>

                <div class="teaserButton">
                    <h2 class="col-12 my-2 title">
                        Your feedback is desired! <a class="float-right" href="#">
                            Answer survey
                        </a>
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="float-right">
                            <strong>Range Data:</strong>
                            <select>
                                <option value="DomainManagementStandardOverview" id="select_view_standard" selected="">Month to Date</option>
                                <option value="DomainManagementSalesSettings" id="select_view_sales">Last Seven Days</option>
                                <option value="DomainManagementCategorySettings" id="select_view_category">Last 31 Days</option>
                                <option value="DomainManagementParkingSettings" id="select_view_parking_opt">Last 12 Days</option>
                            </select>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <strong>Set Prices:</strong>
                        <select>
                            <option value="DomainManagementStandardOverview" id="select_view_standard" selected="">Month to Date</option>
                            <option value="DomainManagementSalesSettings" id="select_view_sales">Last Seven Days</option>
                            <option value="DomainManagementCategorySettings" id="select_view_category">Last 31 Days</option>
                            <option value="DomainManagementParkingSettings" id="select_view_parking_opt">Last 12 Days</option>
                        </select>
                        <a class="btn btn-light h-2" href="#">
                            <span>Activate SedoMLS premium</span>
                        </a>
                        <strong>Promote domains:</strong>
                        <select>
                            <option value="DomainManagementStandardOverview" id="select_view_standard" selected="">Month to Date</option>
                            <option value="DomainManagementSalesSettings" id="select_view_sales">Last Seven Days</option>
                            <option value="DomainManagementCategorySettings" id="select_view_category">Last 31 Days</option>
                            <option value="DomainManagementParkingSettings" id="select_view_parking_opt">Last 12 Days</option>
                        </select>
                        <a class="btn btn-light h-2" href="#">
                            <span>Delete</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="float-right">
                            <strong>Sort by:</strong>
                            <select>
                                <option value="DomainManagementStandardOverview" id="select_view_standard" selected="">Select</option>
                                <option value="DomainManagementSalesSettings" id="select_view_sales">Date entered</option>
                                <option value="DomainManagementCategorySettings" id="select_view_category">Status</option>
                                <option value="DomainManagementCategorySettings" id="select_view_category">Domain</option>
                            </select>
                        </div>
                    </div>
                </div>
                <h1>Set your domains at a fixed Buy Now price and all previous bidders will be notified about the new price and can purchase the domain name instantly!</h1>
                <h1>Activate SedoMLS Premium today! If your registrar is not yet part of the SedoMLS Premium network, <a href="" class="registrar_email_link">please email your account manager</a> there to request that they join!</h1>
            </div>
        </div>
    </div>
</div>


