 <div class="container">
     <div class="row">
         <div class="col-md-2"></div>
         <div class="col-md-8">
             <h1> <b>My sedo</b></h1>
             <h3>Your domain management portal</h3>
             <h1>Welcome Izaj!</h1>
             <p>Your customer communication PIN is <strong>0507</strong></p>
         </div>
         <div class="row outer">
             <div class="col-md-2"></div>
             <div class="col-md-5">
  Currency:&nbsp;<select name="currency" id="currency">
                     <option label="EUR" value="1" selected="selected">EUR</option>
                     <option label="USD" value="3">USD</option>
                     <option label="GBP" value="4">GBP</option>
                 </select>
                 <div class="table-responsive-sm">
                     <table class="table table-bordered table-striped">
                         <thead>
                             <tr class="table-primary">
                                 <th colspan="3">Parking Earnings</th>

                             </tr>
                         </thead>
                         <tbody>
                             <tr>
                                 <td>All Domains</td>
                                 <td>Last 30 Days</td>
                                 <td>Last 12 months</td>

                             </tr>
                             <tr>
                                 <td>Earning</td>
                                 <td>0.01 EUR</td>
                                 <td>0.01 EUR</td>

                             </tr>
                             <tr>
                                 <td>Uniques</td>
                                 <td>0</td>
                                 <td>0</td>

                             </tr>
                             <tr>
                                 <td>Clicks</td>
                                 <td>0</td>
                                 <td>0</td>

                             </tr>
                             <tr>
                                 <td>Ctr</td>
                                 <td>0%</td>
                                 <td>0%</td>

                             </tr>
                         </tbody>
                     </table>
                     <div class="table-responsive-sm">
                         <table class="table table-bordered table-striped">
                             <thead>
                                 <tr class="table-primary">
                                     <th colspan="3">Marketplace Earnings</th>

                                 </tr>
                             </thead>
                             <tbody>
                                 <tr>
                                     <td>No of sales</td>
                                     <td>0</td>
                                     <td>0</td>

                                 </tr>
                                 <tr>
                                     <td>Sales Value</td>
                                     <td>0.01 EUR</td>
                                     <td>0.01 EUR</td>

                                 </tr>
                                 <tr>
                                     <td>Total Earning</td>
                                     <td>0.01 EUR</td>
                                     <td>0.01 EUR</td>

                                 </tr>

                             </tbody>
                         </table>
                     </div>
                 </div>
             </div>

             <div class="col-md-5">
                 <a href="#">
                     <img class="img2" src="/img/sedoimg.PNG">
                 </a>
                 <h3 class="para img1"><b>Important Updates</b></h3>
                 <h1>.CO Auction has just started!</h1>
                 <div>
                     <p class="para img1">
                         carpets.co, mobilephones.co, beamer.co and many more!
                         In honor of .CO’s 10th anniversary we’ll be hosting a special .CO - auction event with mainly English keyword domains from July 23-30.
                         With a wide range of short and memorable .co domain names, you have an exclusive chance to get a domain that stands out from the crowd.
                         The auction has just started when you clicked and will run until July 30 at approximately 12 PM EDT.
                         <a href="">
                             Take a look at the domains!
                         </a>
                         <em>Safeguarding Sedo’s Marketplace against Misuse of Critical Domains</em>
                         Why you shouldn't list corona virus related domains
                         Safeguarding Sedo’s Marketplace against Misuse of Critical Domains
                         As the Corona Virus situation unfolds, we want to assure our customers and the domain community that we take the use of domains related to tragic events such as this one very seriously. Utilizing these types of domains to initiate scams or take advantage of people by soliciting illegitimate donations, etc. are strictly forbidden within our Terms and Conditions.
                         Furthermore while Sedo strives to protect our users’ rights to exercise free speech and maintain a diverse marketplace of domain names, Sedo cannot endorse practices which may capitalize on these types of events. We have therefore made the decision to bar domain names related to the Corona Virus or COVID-19 from our marketplace or parking program. These domains are now blacklisted and we have instituted other system-wide parameters alerting us to their use.
                     </p>
                 </div>
             </div>
         </div>
     </div>
</div>    

    
    
  