<main role="main" id="content-main-wrapper" class="content-wrapper-full transit-wrapper" >
    <!-- typo3PageId: 255 -->
    <div id="col3">
        <div class="precontent">
            <h1>My Sedo</h1>
            <p>Your domain management portal</p>
        </div>
        <div class="keyvisual">
        </div>
        <div class="clear"></div><input type="hidden" id="tplvars-sedo-member-id" value="3670507">

        <script type="text/javascript">

            var memberId = 3670507;
            var isLLC = 0;
            var language = 'us';

            $(document).ready(function () {
                $("#currency").change(function () {
                    //add waiging gif
                    $("#parking_ctr_month").addClass('wait');
                    $.ajax({
                        type: "POST",
                        url: "index_service.php",
                        data: "memberId=" + memberId + "&currencyId=" + $('#currency').val() + "&isLLC=" + isLLC + "&language=" + language,
                        dataType: "xml",
                        success: function (xml) {
                            if (xml) {
                                var earnings_year;
                                var earnings_month;
                                var epc_year;
                                var epc_month;
                                var rpm_year;
                                var rpm_month;
                                var sales_year;
                                var sales_month;
                                var total_year;
                                var total_month;

                                $("#ajaxError").hide();

                                $(xml).find('result').each(function () {
                                    $(xml).find('parking').each(function () {
                                        earnings_year = $(this).find('earnings_year').text();
                                        earnings_month = $(this).find('earnings_month').text();
                                        epc_year = $(this).find('epc_year').text();
                                        epc_month = $(this).find('epc_month').text();
                                        rpm_year = $(this).find('rpm_year').text();
                                        rpm_month = $(this).find('rpm_month').text();
                                    });
                                    $(xml).find('sales').each(function () {
                                        sales_year = $(this).find('year').text();
                                        sales_month = $(this).find('month').text();
                                    });
                                    total_year = $(this).find('total_year').text();
                                    total_month = $(this).find('total_month').text();
                                });
                                var currencyIso = $('#currency :selected').text();

                                $("#parking_earnings_month").html(earnings_month + '&nbsp;' + currencyIso);
                                $("#parking_earnings_year").html(earnings_year + '&nbsp;' + currencyIso);
                                $("#parking_epc_month").html(epc_month + '&nbsp;' + currencyIso);
                                $("#parking_epc_year").html(epc_year + '&nbsp;' + currencyIso);
                                $("#parking_rpm_month").html(rpm_month + '&nbsp;' + currencyIso);
                                $("#parking_rpm_year").html(rpm_year + '&nbsp;' + currencyIso);
                                $("#sales_sales_value_month").html(sales_month + '&nbsp;' + currencyIso);
                                $("#sales_sales_value_year").html(sales_year + '&nbsp;' + currencyIso);
                                $("#total_earnings_month").html(total_month + '&nbsp;' + currencyIso);
                                $("#total_earnings_year").html(total_year + '&nbsp;' + currencyIso);
                            } else {
                                $("#ajaxError").show();
                            }
                            //remove waiting gif
                            $("#parking_ctr_month").removeClass('wait');
                        },
                        error: function () {
                            $("#parking_ctr_month").removeClass('wait');
                            $("#ajaxError").show();
                        }
                    });
                });

                $("#link_credit_limit_report").click(function (e) {
                    e.preventDefault();
                    $('<div/>', { 'class': 'myDlgClass', 'id': 'link-' + ($(this).index() + 1) })
                        .load('/member/mls/credit_limit_report.php?language=us').appendTo('body').dialog({
                            maxHeight: 640,
                            minHeight: 640,
                            minWidth: 800,
                            title: 'SedoMLS Premium Credit Limit Report'
                        });
                });

            });

        </script>


        <div class="content5050bg">
            <div class="contentbox50">
                <div class="contenthead">
                    <h2>Welcome ejaz!</h2>
                </div>
                <div class="content">

                    <div class="m01 whitebox">
                        <p>Your customer communication PIN is <strong>0507</strong></p>
                    </div>




                    <div class="m01">
                        <div class="alignr marginb">
                            Currency:&nbsp;<select name="currency" id="currency">
                                <option label="EUR" value="1" selected="selected">EUR</option>
                                <option label="USD" value="3">USD</option>
                                <option label="GBP" value="4">GBP</option>
                            </select>
                        </div>
                        <div style="display:none" id="ajaxError" class="error">An internal error has occurred. Please try again later.</div>
                        <table class="contenttable indexpage" cellspacing="0" cellpadding="0">

                            <thead>
                                <tr>
                                    <th class="alignl borderr borderl" colspan="3">Parking Earnings</th>
                                </tr>
                            </thead>
                            <tbody class="subhead">
                                <tr>
                                    <td class="alignl borderl">All Domains</td>
                                    <td class="alignl subhead">Last 31 Days</td>
                                    <td class="alignl borderr">Last 12 months</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr class="tr-odd">
                                    <td class="alignl borderl">Earnings</td>
                                    <td class="alignr">
                                        <span id="parking_earnings_month">
                                            0

                                            EUR
                                        </span>
                                    </td>
                                    <td class="alignr">
                                        <span id="parking_earnings_year">
                                            0

                                            EUR
                                        </span>
                                    </td>
                                </tr>
                                <tr class="tr-even">
                                    <td class="alignl borderl">Uniques</td>
                                    <td class="alignr">
                                        <span id="parking_uniques_month">
                                            0

                                        </span>
                                    </td>
                                    <td class="alignr">
                                        <span id="parking_uniques_year">
                                            0

                                        </span>
                                    </td>
                                </tr>
                                <tr class="tr-odd">
                                    <td class="alignl borderl">Clicks</td>
                                    <td class="alignr">
                                        <span id="parking_clicks_month">
                                            0

                                        </span>
                                    </td>
                                    <td class="alignr">
                                        <span id="parking_clicks_year">
                                            0

                                        </span>
                                    </td>
                                </tr>
                                <tr class="tr-even">
                                    <td class="alignl borderl">CTR</td>
                                    <td class="alignr">
                                        <span id="parking_ctr_month">
                                            0
                                            %
                                        </span>
                                    </td>
                                    <td class="alignr">
                                        <span id="parking_ctr_year">
                                            0
                                            %
                                        </span>
                                    </td>
                                </tr>
                                <tr class="tr-odd">
                                    <td class="alignl borderl">EPC</td>
                                    <td class="alignr">
                                        <span id="parking_epc_month">
                                            0

                                            EUR
                                        </span>
                                    </td>
                                    <td class="alignr">
                                        <span id="parking_epc_year">
                                            0

                                            EUR
                                        </span>
                                    </td>
                                </tr>
                                <tr class="tr-even">
                                    <td class="alignl borderl">RPM</td>
                                    <td class="alignr">
                                        <span id="parking_rpm_month">
                                            0

                                            EUR
                                        </span>
                                    </td>
                                    <td class="alignr">
                                        <span id="parking_rpm_year">
                                            0

                                            EUR
                                        </span>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody class="head">
                                <tr>
                                    <td class="alignl borderr borderl" colspan="3">Marketplace Earnings</td>
                                </tr>
                            </tbody>
                            <tbody class="subhead">
                                <tr>
                                    <td class="alignl borderl">All Domains</td>
                                    <td class="alignl subhead">Last 31 Days</td>
                                    <td class="alignl borderr">Last 12 months</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr class="tr-odd">
                                    <td class="alignl borderl">Number of Sales</td>
                                    <td class="alignr">
                                        <span id="sales_sales_number_month">
                                            0
                                        </span>
                                    </td>
                                    <td class="alignr">
                                        <span id="sales_sales_number_year">
                                            0
                                        </span>
                                    </td>
                                </tr>
                                <tr class="tr-even">
                                    <td class="alignl borderl">Sales Value</td>
                                    <td class="alignr">
                                        <span id="sales_sales_value_month">
                                            0
                                            EUR
                                        </span>
                                    </td>
                                    <td class="alignr">
                                        <span id="sales_sales_value_year">
                                            0
                                            EUR
                                        </span>
                                    </td>
                                </tr>
                            </tbody>

                            <tbody class="foot">
                                <tr>
                                    <td class="alignl borderl borderr">Total Earnings</td>
                                    <td class="alignr borderr">
                                        <span id="total_earnings_month">
                                            0.00
                                            &nbsp;EUR
                                        </span>
                                    </td>
                                    <td class="alignr borderr">
                                        <span id="total_earnings_year">
                                            0.00
                                            &nbsp;EUR
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>


                    <div class="m01 whiteboxLogin">
                        <h3>Your Activity Index:</h3>
                        <div class="floatbox">
                            <div class="sub col50 left">
                                <div class="margin"><p><strong>as buyer:</strong></p></div>
                            </div>
                            <div class="sub col50 right">
                                <div class="margin"><p><strong>as seller:</strong></p></div>
                            </div>
                        </div>
                        <div class="floatbox">
                            <div class="sub col50 left">
                                <div class="margin"><span class="rating value-0">&nbsp;</span></div>
                            </div>
                            <div class="sub col50 right">
                                <div class="margin"><span class="rating value-0">&nbsp;</span></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="contentbox50">

                <a href="#" class="my-sedo__promotion-banner">
                    <img src="https://cdn.sedo.com/fileadmin/images/banner/en/sedo_expiring-auctions_mysedo_en.png" width="392">
                </a>

                <div class="contenthead">
                    <h2>Important Updates</h2>
                </div>
                <div class="content">
                    <div class="m01">
                        <strong style="font-size:1.22em">Why you shouldn't list corona virus related domains </strong><br>
                        <em>Safeguarding Sedo’s Marketplace against Misuse of Critical Domains</em>
                        <br>
                        <br>
                        <div>
                            <p>
                                <br>
                                As the Corona Virus situation unfolds, we want to assure our customers and the domain community that we take the use of domains related to tragic events such as this one very seriously. Utilizing these types of domains to initiate scams or take advantage of people by soliciting illegitimate donations, etc. are strictly forbidden within our Terms and Conditions.
                            </p>
                            <p>
                                <br>
                                Furthermore while Sedo strives to protect our users’ rights to exercise free speech and maintain a diverse marketplace of domain names, Sedo cannot endorse practices which may capitalize on these types of events. We have therefore made the decision to bar domain names related to the Corona Virus or COVID-19 from our marketplace or parking program. These domains are now blacklisted and we have instituted other system-wide parameters alerting us to their use.
                            </p>
                            <p>&nbsp;</p>
                        </div>
                        <strong style="font-size:1.22em">Farewell, Minimum Fee - Extended through 2020!</strong><br>
                        <em>Bid farewell to our minimum fee and earn more than ever before</em>
                        <br>
                        <br>
                        <div>
                            <p>Until now, with every domain sale you had to pay a minimum fee of $60. That meant selling a domain for a few hundred dollars might not have been worth your while. So we are eliminating the minimum fee until the end of 2020! On top of that, the previous minimum bid of $90 is now reduced to $20.</p>
                            <p>&nbsp;</p>
                            <p><a href="#">Find out more about this promotion!</a> &nbsp;</p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</main>