<div id="domain-container" class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 bg-light ">
            <div class="Doorthlogo">
                <img src="#" alt="logo, " />
            </div>
            <p>Sedo Parking - Data Processing Agreement</p>
            <h1>In order to continue using our parking service you need to read and accept the Data Processing Agreement. </h1>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="float-right">
                        <strong>English:</strong>
                        <select>
                            <option value="DomainManagementStandardOverview" id="select_view_standard" selected="">English</option>
                            <option value="DomainManagementSalesSettings" id="select_view_sales">German</option>
                        </select>
                    </h2>
                </div>
            </div>
            <h2 class="col-12 my-2 title">Article 7 Correction, restriction and deletion of data</h2>
            <p>(1)The Processor may not correct, delete or limit the processing of the data processed on behalf of the Controller in an arbitrary manner </p>
            <p>(2)Where included in the scope of services, the deletion concept, the right to be forgotten, correction, data portability and information shall be ensured directly according to the Controller's documented instructions.  </p>
            <h2 class="col-12 my-2 title">Article 8 Quality assurance and other obligations of the Processor</h2>
            <p>In addition to complying with the provisions of this commission, the Processor also has statutory obligations in accordance with Articles 28 - 33 of the GDPR, guaranteeing compliance with the following guidelines and provisions in particular: </p>
            <p>(a)Written appointment of a data protection officer, who shall perform his/her work in accordance with Articles 38 and 39 of the GDPR. The data protection officer can be contacted at any time electronically via dataprotection@doorth.de.</p>
            <p>(b)Observance of confidentiality pursuant to Articles 28 (3) (2) (b), 29, 32 (4) of the GDPR. When carrying out the work, the Processor shall only deploy staff who are committed to maintaining confidentiality and have been familiarized with the relevant data protection provisions. The Processor and any person with access to personal data who is under the authority of the Processor may only process such data in accordance with the instructions given by the Controller, including the competences granted in this agreement, unless they are obliged to perform such processing by law. </p>
            <h2 class="col-12 my-2 title">Article 9 Subcontracting</h2>
            <p>(1)The Processor shall be allowed to have its services provided by third parties and to engage sub- processors. </p>
            <p>(2)Meant by subcontracting within the meaning of this provision are those services directly relating to the provision of the principal service. This does not include ancillary services availed of by the Processor, e.g. in the form of telecommunication services, postal/transport services, maintenance and user services or the disposal of data carriers, as well as other measures to ensure confidentiality, availability, integrity and capacity of the hardware and software of data processing systems. </p>
            <h2 class="col-12 my-2 title">Annex 1: technical and organizational measures</h2>
            <p>Physical access control is intended to prevent unauthorised persons from gaining access to the information processing systems of Sedo GmbH (hereinafter referred to as “Sedo”). The data centre used by Sedo guarantees a high level of protection through modern security technology and extensive property and data protection measures. Access to the data centre is restricted to a limited group of authorised employees. </p>

            <div class="bg-light">
                <p>You can download the contract at the following link: </p>
                <p><a class="dsgvo-overlay__download-link dsgvo-overlay__download-link--inside dsgvo-overlay__download-link--visible" href="/fileadmin/documents/parking/gdpr-files/SedoGmbH-Parking_Auftragsverarbeitungsvereinbarung.pdf" data-gdpr-file-download="inside-de" target="_blank">Sedo Parking Auftragsverarbeitungsvereinbarung (PDF - German)</a></p>
            </div>
        </div> 
          <!--  <div class="row">
                <div class="col-md-12">
                    <div class="wizard-step wizard-step-1" style="display: block;">
                        <div class="wizard-step-wrapper">
                            <nav>
                                <ul class="steps">
                                    <li>
                                        <a class="btn active">

                                            <svg class="s-font-info">
                                                <use xlink:href="#s-font-info"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn">
                                            <svg class="s-font-icon-bidder">
                                                <use xlink:href="#s-font-icon-bidder"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn">
                                            <span class="material-icons">
                                                edit
                                            </span>
                                            <svg class="s-font-icon-edit">
                                                <use xlink:href="#s-font-icon-edit"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>-->
           
        </div>
        </div>
    
