<main role="main" id="content-main-wrapper" class="content-wrapper-full">
    <div class="t3-content-fullwidth">
        <div class="ce-image-hero frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-medium" style="background-image: url('https://cdn.sedo.com/fileadmin/images/Headers/Header_generic_v2.jpg');">
            <div class="content">
                <div class="dark rte">
                    <h1>
                        Sedo <br>
                        Partner Program
                    </h1>
                    <h2><b>Earn money with the world's largest domain marketplace.</b></h2>
                    <p>Register now: Free additional features and attractive benefits for website owners.</p>
                </div>
                <p><a href="#" title="Become a Sedo partner now" class="btn btn-blue cta">Become a Sedo partner now</a></p>
            </div>
            <div class="ce-infobox rte">
                <h3>The benefits</h3>
                <ul><li>Diversify your website with additional benefits</li><li>Transparent commission calculation</li><li>No upper limit for <b>payments</b></li><li>Completely <b>free</b></li></ul>
            </div>
        </div><div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0">
            <div class="ce-multicontent rte">
                <h2 class="align-center">Benefit from promoting Sedo products </h2>
            </div>
        </div>
        <div class="ce-wrapper ce-container white  frame-space-after-medium">
            <!-- Image [top] + Text [bottom] [50|50] -->
            <div class="ce-textimage-ver ">
                <div class="ce-image-top">
                    <a href="#" title="Sedo partnership program" class="cta">
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Partnerprogram/Domain-Verkauf.jpg" width="1420" height="1082" alt="">
                    </a>
                </div>
                <div class="ce-text-bottom rte">
                    <h2>
                    </h2>
                    <h2 class="align-left">Domain Sales</h2>
                    <p class="align-left">We will credit you with <strong>15% of the Sedo sales commission</strong> for every successful domain sale.</p>
                    <p class="align-left"><a href="#" title="Become a partner" target="_self" class="internal-link">Refer a customer that buys a domain </a>and you will earn a commission for every purchased domain.</p>
                    <p class="align-left"><a href="#" title="Sedo's partner program" class="btn btn-blue">Join Sedo's partner program</a> <a href="#" title="Sell your domains" class="btn btn-beige">Sell domains overview</a></p>
                    <h6 class="align-left"><sub>(<a href="#" title="Opens external link in a new window" class="internal-link">Overview of the transaction fees</a>) </sub></h6>
                </div>
            </div>
            <!-- Image [top] + Text [bottom] [50|50] -->
            <div class="ce-textimage-ver ">
                <div class="ce-image-top">
                    <a href="#" title="Sedo's Partner Program" class="cta">
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Partnerprogram/Domain-Vermittlung.jpg" width="1420" height="1082" alt="">
                    </a>
                </div>
                <div class="ce-text-bottom rte">
                    <h2>
                    </h2>
                    <h2 class="align-left">Broker Services</h2>
                    <p class="align-left">Direct customers to our <a href="#" title="Brokerage service" class="internal-link">domain broker services</a> and we will compensate you with a commission for every successfully referred domain acquisition. Here, too, you receive <b>15% of the Sedo sales commission.</b><br><br></p>
                    <p class="align-left"><a href="#" title="Sedo partnership program" class="btn btn-blue">Join Sedo's Partner Program</a> <a href="#" title="Brokerage service" class="btn btn-beige">Brokerage Service overview</a></p>
                    <h6 class="align-left"><sub>(<a href="#" title="Price list" class="internal-link">Overview of the transaction fees</a>) </sub></h6>
                </div>
            </div>
        </div>
        <div class="ce-image-hero resize frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-medium">
            <div class="ce-image-hero--image">
                <a href="#" class="hero--clickable">
                    <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Partnerprogram/Beispiel-Kalkulation_3040x1256_mB_US.jpg" width="3040" height="1256" alt="">
                </a>
            </div>
            <div class="content">
                <div class="bright rte">
                    <h1></h1>
                </div>
            </div>
        </div><div class="ce-accordion-wrapper beige frame frame-default frame-type-dce_dceuid4 frame-layout-0 frame-space-after-medium">
            <div class="ce-stepbystep ce-accordion rte ui-accordion ui-widget ui-helper-reset">
                <h2 class="ui-accordion-header ui-state-default ui-corner-all" role="tab" id="ui-id-2" aria-controls="ui-id-3" aria-selected="false" aria-expanded="false" tabindex="0">BECOMING A SEDO PARTNER: HOW TO</h2>
                <div class="accordion-content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-3" aria-labelledby="ui-id-2" role="tabpanel" aria-hidden="true" style="display: none;">
                    <div class="steps-wrapper">
                        <div class="step step-3">
                            <h3>Request partner ID</h3>
                            <p>You will receive your personal partner ID as soon as you have <a href="#" title="Sedo' partner program" class="internal-link">registered as a partner</a>. This lets you see how much revenue you have generated.</p>
                            <span class="counter"></span>
                        </div>
                        <div class="step step-3">
                            <h3>Integrate Sedo advertisements</h3>
                            <p>Now all you need to do is integrate our prepared website modules or advertisements and add your partner ID to every text link, banner or Sedo widget. You will start earning money from each successful referral!</p>
                            <span class="counter"></span>
                        </div>
                        <div class="step step-3">
                            <h3>Earn a commission</h3>
                            <p>Your till will ring every time you sell one of the aforementioned Sedo products. You can view your current sales statistics at any time on our partner dashboard.</p>
                            <span class="counter"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="ce-wrapper grey xx frame frame-default frame-type-dce_dceuid12 frame-layout-0 frame-space-after-medium">
            <div class="ce-multicontent rte">
                <h2 class="align-center">Simply register to start earning money with us:</h2>
                <h2 class="align-center">Website module templates and advertisements for Sedo partners </h2>
            </div>
            <div class="ce-wrapper ce-container grey  frame-space-after-medium">
                <!-- Image [left] + Text [right] -->
                <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
                <div class="ce-textimage-hor ">
                    <div class="ce-image-left">
                        <a href="#" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Partnerprogram/Partner_Search_eng.jpg" width="1420" height="1082" alt="">
                        </a>
                    </div>
                    <div class="ce-text-right rte">
                        <h2>
                            Domain search
                        </h2>
                        <p>Easy to integrate, easy to use: Your website visitors can use this widget to directly search our portfolio of more than 19 million domains.</p><ul class="icon-beige"> 	<li>Easy to integrate</li> 	<li>Acquire customers and earn money with domains that are already registered</li> 	<li>Available in 5 languages</li> 	<li><strong>Your earnings:</strong> 15% of the Sedo transaction fee for a successful domain sale</li> </ul><p><a href="/member/partner/campaigns.php?language=us" title="Register for the partner program" class="btn btn-blue">Register now for the Partner Program</a></p>
                    </div>
                </div>
            </div>
            <div class="ce-wrapper ce-container grey  frame-space-after-medium">
                <!-- Text [left] + Image [right] -->
                <div class="ce-textimage-hor ">
                    <div class="ce-image-right">
                        <a href="#" title="Sedo's partner program" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Partnerprogram/Partner_Banner.jpg" width="1420" height="1082" alt="">
                        </a>
                    </div>
                    <div class="ce-text-left rte">

                        <h2>
                            Banner ads
                        </h2>
                        <p>Multiple formats, various products:&nbsp; <br>With our advertising banners, you can select the format and product suited to your website.&nbsp; </p><ul class="icon-beige"><li>Advertise new domain suffixes or top domains </li><li>Skyscraper, rectangle or leaderboard formats</li><li><b>Your earnings:</b> 15% of the Sedo transaction fee for a successful domain sale</li></ul><p><a href="#" title="Register now for the Partner Program" class="btn btn-blue">Register now for the Partner Program</a></p>
                    </div>
                </div>
            </div>
            <div class="ce-wrapper ce-container grey  frame-space-after-medium">
                <!-- Image [left] + Text [right] -->
                <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
                <div class="ce-textimage-hor ">
                    <div class="ce-image-left">
                        <a href="#" title="Sedo's Partner Program" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Partnerprogram/Partner_Whois.jpg" width="1420" height="1082" alt="">
                        </a>
                    </div>
                    <div class="ce-text-right rte">
                        <h2>
                            Domain sales status
                        </h2>
                        <p>Access our database directly to check whether the domain name sought by your customer is for sale at Sedo.</p><ul class="icon-beige"><li>Quick and easy integration</li><li>Acquire customers and also earn money with domains that are already registered</li><li>Your earnings: 15% of the Sedo transaction fee for a successful domain sale </li></ul><p><a href="/member/partner/campaigns.php?language=us" title="Register for the partner program" class="btn btn-blue">Register now for the Sedo Partner Program</a></p>
                    </div>
                </div>
            </div>
            <div class="ce-wrapper ce-container grey  frame-space-after-medium">
                <!-- Text [left] + Image [right] -->
                <div class="ce-textimage-hor ">
                    <div class="ce-image-right">
                        <a href="#" title="Customer support" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Partnerprogram/FAQ.jpg" width="1420" height="1082" alt="">
                        </a>
                    </div>
                    <div class="ce-text-left rte">
                        <h2>
                            Frequently asked questions (FAQ)
                        </h2>
                        <p>You will find the most frequently asked questions on the topic of Partner Program here.<br></p><ol><li><a href="#" title="What is the partner program?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/1063\/kw\/partner%20program\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">What is the Partner Program?</a> </li><li><a href="https://sedo-us1.custhelp.com/app/answers/detail/a_id/1065/kw/partner%20program/search/1" title="Can I use more than one website for the Partner Program?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/1065\/kw\/partner%20program\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link"><span class="rn_Element1">Can I use more than one website for the Partner Program?<br></span></a></li><li><a href="https://sedo-us1.custhelp.com/app/answers/detail/a_id/1060/kw/partner%20program/search/1" title="How do I sign up for the Partner Program?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/1060\/kw\/partner%20program\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link"><span class="rn_Element1">How do I sign up for the Partner Program?</span></a> </li></ol><p><a href="/us/know-how-support/" title="FAQ's" class="btn btn-beige">Additional questions &amp; answers</a></p>
                    </div>
                </div>
            </div>
            <div class="ce-wrapper white frame frame-default frame-type-dce_dceuid2 frame-layout-0 frame-space-after-large">
                <div class="ce-list-boxes-cta">
                    <h2>What Sedo can do for you</h2>
                    <div class="list-boxes-item">
                        <div class="header">
                            <h4>Tell you what your domain is worth.</h4>
                            <h4></h4>
                        </div>
                        <div class="list-box list-box-left">
                            <div class="content rte">
                                <h3><b>Domain Appraisal</b></h3>
                                <p>Our experts will create an individual appraisal of your domain's value.</p>
                            </div>
                            <a href="#" class="blue cta"> </a>
                        </div>
                        <div class="list-box list-box-right">
                            <div class="content rte">
                                <h3><b>Domain Promotion</b></h3>
                                <p>More exposure and more sales through more than 650 Sedo partners worldwide.</p>
                            </div>
                            <a href="#" class="blue cta"> </a>
                        </div>
                    </div>
                    <div class="list-boxes-item">
                        <div class="header">
                            <h4></h4>
                            <h4></h4>
                        </div>
                        <div class="list-box list-box-left">
                            <div class="content rte">
                                <h3><b>Partner Program</b></h3>
                                <p>Join our affiliate network and earn money promoting our products.</p>
                            </div>
                            <a href="#" class="beige cta"> </a>
                        </div>
                        <div class="list-box list-box-right">
                            <div class="content rte">
                                <h3><b>Domain Parking</b></h3>
                                <p>Parked domains receive twice as many bids as unparked domains</p>
                            </div>
                            <a href="#" class="beige cta"> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>