<main role="main" id="content-main-wrapper" class="content-wrapper-full">
    <div class="t3-content-fullwidth">
        <div class="ce-image-hero frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-medium" style="background-image: url('https://cdn.sedo.com/fileadmin/user_upload/Services/Overview/Service_Overview_Hero_3040x1256_2.jpg');">
            <div class="content">
                <div class="dark rte">
                    <h1>Professional services for your domains</h1>
                    <p>From a domain appraisal to the acquisition or sale and the eventual seamless transfer, our domain services provide individual support for all of your needs.</p>
                </div>
            </div>
        </div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid7 frame-layout-0 frame-space-after-large">
            <div class="ce-list-image-vertical">
                <h2>Our services at a glance</h2>
                <p>A range of services exclusively for Sedo customers and partners.</p>
                <div class="item">
                    <div class="bubble">
                        <a href="#" title="Brokerage service" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Overview/Domain-Vermittlung.png" alt="" width="221" height="221">
                        </a>
                    </div>
                    <div class="content rte">
                        <a href="#" title="Brokerage service" class="cta">
                            <h3>Broker Service</h3>
                        </a>
                        <p>Whether you want to <a href="#" title="Broker service" class="internal-link">buy your dream domain</a> or sell your Premium Domain at a top price, our experienced team of brokers is there for you – dedicated and with the utmost discretion guaranteed.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="bubble">
                        <a href="#" title="Domain appraisal" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Overview/Domain-Bewertung.png" alt="" width="221" height="221">
                        </a>
                    </div>
                    <div class="content rte">
                        <a href="#" title="Domain appraisal" class="cta">
                            <h3>Domain Appraisals</h3>
                        </a>
                        <p>Every domain is different. Therefore, the big question for both buyers and sellers is:<br>How much can a domain cost? Our scientifically sound <a href="/us/services/domain-appraisal/" title="Domain appraisal">Domain Appraisal</a> quickly provides clarity – for individual domains and domain portfolios.</p>
                    </div>
                </div>

                <div class="item">

                    <div class="bubble">

                        <a href="#" title="Transfer and escrow service" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Overview/Transfer.png" alt="" width="221" height="221">
                        </a>

                    </div>

                    <div class="content rte">
                        <a href="#" title="Transfer and escrow service" class="cta">
                            <h3>Transfer Service</h3>
                        </a>
                        <p>Perfect for both buyers and sellers: Our reliable <a href="#" title="Transfer and escrow service">Transfer Services</a> ensure secure payment of the purchase price and the smooth transfer of the domain.</p>
                    </div>
                </div>

                <div class="item">

                    <div class="bubble">

                        <a href="#" title="Partner program" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Overview/Parterprogramm.png" alt="" width="221" height="221">
                        </a>

                    </div>

                    <div class="content rte">
                        <a href="#" title="Partner program" class="cta">
                            <h3>Sedo Partner Program</h3>
                        </a>
                        <p><a href="#" title="Partner program">Additional features</a> and attractive benefits for registrars, WHOIS search pages, domain blogs and pages oriented toward webmasters all at no additional cost. <a href="/us/services/sedos-partner-program/" title="partner program" class="internal-link">Register now!</a></p>
                    </div>
                </div>

                <div class="item">

                    <div class="bubble">

                        <a href="#" title="Launch calendar" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Overview/Launch-Kalender.png" alt="" width="221" height="221">
                        </a>

                    </div>

                    <div class="content rte">
                        <a href="#" title="Launch calendar" class="cta">
                            <h3>Launch Calendar</h3>
                        </a>
                        <p>Hundreds of <a href="#" title="New generic top-level domains" class="internal-link">new generic top-level domains</a> (gTLDs) are currently being launched on the internet. Find out which new domain suffixes will be available to register and which are already available on our <a href="/search/?language=us" title="Sedo marketplace" class="internal-link">marketplace</a>.</p>
                    </div>
                </div>

            </div>
        </div><div class="ce-wrapper grey frame frame-default frame-type-dce_dceuid15 frame-layout-0 frame-space-after-large">
            <div class="ce-checkmarks">

                <div class="item rte">
                    <p>Perfectly suited for the needs of both domain buyers and sellers</p>
                </div>

                <div class="item rte">
                    <p>Support and customer service in 25 languages</p>
                </div>

                <div class="item rte">
                    <p>Personal support from highly experienced professionals</p>
                </div>

                <div class="item rte">
                    <p>Transparent <a href="#" title="Price list" class="internal-link">prices </a>and fair conditions</p>
                </div>

                <div class="item rte">
                    <p>Our services have received a number of international awards for high quality standards </p>
                </div>
            </div>
        </div><div class="ce-wrapper white">
            <div class="ce-headline centered">
                <h2>The Sedo service team: experienced professionals with unique areas of expertise</h2>
            </div>
        </div>
        <div class="ce-wrapper ce-container white  frame-space-after-medium">

            <!-- Image [left] + Text [right] -->
            <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-left">



                    <a href="#" title="Broker Service" class="cta">

                        <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Overview/6_1_C1.jpg" alt="" width="1420" height="1082">

                    </a>


                </div>
                <div class="ce-text-right rte">

                    <h2>

                        The best brokers in the industry
                    </h2>
                    <p>Unique expertise, global contacts, numerous awards – our brokerage team has been one of the industry's most successful for more than 15 years.</p><ul class="icon-beige"> 	<li>Record-holding individual sales of up to 13M USD</li> 	<li>Able to negotiate in multiple languages, from English to Persian to even Mandarin.</li> 	<li>For finding prospective buyers: anonymous, inexpensive, successful</li> </ul><p><a href="/us/services/broker-service/" title="Contacting Sedo brokers" class="btn btn-blue">Contact the Broker Team now</a></p>
                </div>
            </div>

            <!-- Text [left] + Image [right] -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-right">



                    <a href="#" title="Domain Appraisals" class="cta">

                        <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Overview/6_1_C4.jpg" alt="" width="1420" height="1082">

                    </a>


                </div>
                <div class="ce-text-left rte">

                    <h2>

                        Domain Appraisals by professionals
                    </h2>
                    <p>Scientifically sound domain analysis meets exclusive expertise: Our industry insiders analyze thousands of domain transactions every year.&nbsp;&nbsp; </p><ul class="icon-beige"><li>The largest database of sales</li><li>Manual value analysis of every single domain name</li><li>Available in just a few days</li></ul><p><a href="/us/services/domain-appraisal/" title="Order Domain Appraisal" class="btn btn-blue">Get your domain appraised now</a></p>
                </div>
            </div>

            <!-- Image [left] + Text [right] -->
            <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-left">
                    <a href="#" title="Transfer Service" class="cta">
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Overview/6_1_C5.jpg" alt="" width="1420" height="1082">
                    </a>
                </div>
                <div class="ce-text-right rte">

                    <h2>

                        Secure Domain Transfer
                    </h2>
                    <p>Our professionals know exactly what a Domain Transfer involves – processing it quickly and reliably while factoring in all of the legal, financial and technical considerations. </p><ul class="icon-beige"><li>Up to 1,500 domain transactions processed every week</li><li>Available even for agreements reached outside of our marketplace</li><li>Reliable security for both buyers and sellers</li></ul><p><a href="/us/services/domain-transfer-service/" title="Transfer service" class="btn btn-blue">Transfer Service<br></a></p>
                </div>
            </div>

            <!-- Text [left] + Image [right] -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-right">
                    <a href="#" title="Partner Program" class="cta">
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Overview/6_1_C7.jpg" alt="" width="1420" height="1082">
                    </a>
                </div>
                <div class="ce-text-left rte">
                    <h2>
                        Become a Sedo partner
                    </h2>
                    <p>With easily integrated website widgets and generous commissions, our partner network provides the opportunity to achieve mutual success. </p><ul class="icon-beige"><li>Generate more domain sales and profits</li><li>Gain customers while enjoying mutual success</li><li>Easily track your earnings in your customer account</li></ul><p><a href="/us/services/sedos-partner-program/" title="Partner program" class="btn btn-blue">Register now for the Sedo Partner Program</a></p>
                </div>
            </div>
        </div>
        <div class="ce-wrapper ce-container grey  frame-space-after-large">
 <!-- Text [left] + Image [right] -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-right">
                    <a href="#" title="Customer support" class="cta">
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Overview/FAQ.jpg" alt="" width="1420" height="1082">
                    </a>
                </div>
                <div class="ce-text-left rte">
                    <h2>
                        Frequently asked questions (FAQ)
                    </h2>
                    <p>You will find the most frequently asked questions about our domain services here. </p><ol><li><a href="#" title="When and how will I get my Domain Appraisal?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/639\/kw\/appraisal\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">When and how will I get my Domain Appraisal?<br></a></li><li><a href="#" title="How will my broker communicate with me when I request the Broker Service?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/1136\/kw\/how%20will%20my%20broker\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link"><span class="rn_Element1">How will my broker communicate with me when I request the Broker Service? </span></a></li><li><a href="#" title="What is the Partner Program?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/1063\/kw\/partner%20program\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link"><span class="rn_Element1">What is the Sedo Partner Program?</span></a></li></ol><p><a href="#" title="FAQ's" target="FEopenLink" class="btn btn-beige">Additional questions &amp; answers</a></p>
                </div>
            </div>
        </div>
    </div>
</main>