<main role="main" id="content-main-wrapper" class="content-wrapper-full">
    <div class="t3-content-fullwidth">
        <div class="ce-image-hero frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-medium" style="background-image: url('https://cdn.sedo.com/fileadmin/images/Headers/Header_generic_v3_2.jpg');">


            <div class="content">

                <div class="bright rte" data-ce="imagehero">


                    <h1>Domain Parking</h1>

                    <h2>Earn money, and sell your domains more quickly.</h2>
                    <p>With domain parking, you earn money with thematically matched advertising links featured on your domain. With every click on an ad your till will ring!</p>
                </div>

                <p><a href="/member/domainsignup/index.php?language=us" class="btn btn-blue cta">Set up domain parking now</a></p>

            </div>


            <div class="ce-infobox rte" data-ce="imagehero">

                <h3>Your benefits</h3>
                <ul><li><b>Earn money</b> by advertising: aligned with the domain name and in the language of the visitors to your page</li><li><b>Easy to set up</b> and completely free </li><li><b>Attract visitors</b> with advertising instead turning them away with an under construction notification: parked domains can be accessed online and sell twice as fast as offline domains</li><li><b>Get to know your domain's value:</b> gain valuable visitor statistics as a basis for price negotiations with prospective buyers</li></ul>
            </div>

        </div><div class="ce-wrapper white">




            <div class="ce-headline centered">
                <h2>Free Domain Parking for everyone</h2>
            </div>












        </div>


        <div class="ce-wrapper ce-container white  frame-space-after-extra-large">

            <!-- Image [top] + Text [bottom] [50|50] -->
            <div class="ce-textimage-ver ">
                <div class="ce-image-top">


                    <div class="ce-disturber">Easy + free</div>


                    <a href="/member/domainsignup/index.php?language=us" title="Add domains for parking" class="cta">

                        <img src="https://cdn.sedo.com/fileadmin/user_upload/Park_Domains/Domain-Parking.jpg" alt="" width="1420" height="1082">

                    </a>


                </div>
                <div class="ce-text-bottom rte" data-ce="textimage">

                    <h2>

                        Ad revenue for unused domains
                    </h2>
                    <p>Domain parking benefits you in three different ways simultaneously: <strong>Earn money</strong> when visitors click on ad links, learn how often your domain is visited and boost sales.</p>
                    <p>All you need to do is park your domains at Sedo<strong>, for free</strong>. We will handle the rest – everything from ad placement to <strong>paying out your advertising earnings.</strong></p><ul class="icon-blue icon-beige"> 	<li><strong>Earn money</strong> with advertisements – consistent with your domain name, professionally and fully automatic</li> 	<li>Very convenient <strong>payment</strong> by wire transfer or PayPal</li> 	<li>Parked domains can be visited online and <strong>sell twice</strong> as fast as non-parked domains</li> 	<li>Valuable <strong>visitor statistics</strong> can be used as the basis for purchase negotiations</li> 	<li>Guaranteed <strong>free</strong> and can be cancelled at any time</li> </ul><p><a href="/member/domainsignup/index.php?language=us" title="Park domains" class="btn btn-blue">Park your domain now – It's absolutely free</a></p>
                </div>
            </div>

            <!-- Image [top] + Text [bottom] [50|50] -->
            <div class="ce-textimage-ver ">
                <div class="ce-image-top">


                    <div class="ce-disturber">From 1,000 parked domains</div>


                    <a href="mailto:ParkingPros@sedo.com" class="cta">

                        <img src="https://cdn.sedo.com/fileadmin/user_upload/Park_Domains/Domain-Parking-Profis.jpg" alt="" width="1420" height="1082">

                    </a>


                </div>
                <div class="ce-text-bottom rte" data-ce="textimage">

                    <h2>

                        Benefits for domain professionals
                    </h2>
                    <p>Do you own more than 1,000 high-value domains? As a professional domainer, you will find everything you need through Sedo to generate <b>maximum profits</b> from your domain portfolio.</p>
                    <p>Sedo's parking program is the <b>first choice for domain professionals:</b> </p><ul class="icon-beige icon-blue"><li>A personal account manager for all your domain questions with customized solutions for successful parking and selling</li><li> An international advertiser network with the leading ad provider in the PPC sector and many other globally active advertisers</li><li>Gap free traffic monetization with complete international coverage</li></ul><p><a href="mailto:ParkingPros@sedo.com" title="Domain parking professional support" class="btn btn-beige">Professional support</a></p>
                </div>
            </div>


        </div>





        <div class="ce-wrapper ce-container grey  frame-space-after-medium">

            <!-- Image [left] + Text [right] -->
            <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-left">



                    <a href="/member/domainsignup/index.php?language=us" title="Park your domains now" class="cta">

                        <img src="https://cdn.sedo.com/fileadmin/user_upload/Park_Domains/Parking_50-50_1420x1082_EN.jpg" alt="" width="1420" height="1082">

                    </a>


                </div>
                <div class="ce-text-right rte" data-ce="textimage">

                    <h2>

                        Earn money with Domain Parking
                    </h2>
                    <p>Take advantage of Sedo's Domain Parking! You can earn money with your unused domains and sell them even quicker.&nbsp;<b>Domain Parking is completely free of charge!</b></p>
                    <p><b>The idea is simple:</b>&nbsp;Advertisements which thematically correspond to the domain name will be displayed on your domain.&nbsp;<b>You will earn money</b>&nbsp;whenever a visitor clicks on the advertising links<b>.</b></p>
                    <p>Your domain will no longer lead to an empty page or a page under construction. Use it instead as advertising space and feature professional content on your domain which will always be in the visitor's native language. This ensures that no click will ever escape you!</p>
                    <p><a href="/member/domainsignup/index.php?language=us" title="Park your domain now" class="btn btn-blue">Park your domain now</a></p>
                </div>
            </div>


        </div>


        <div class="ce-wrapper white frame frame-default frame-type-dce_dceuid16 frame-layout-0 frame-space-after-medium">
            <div class="ce-quotes">

                <div class="item">
                    <div class="quote rte" data-ce="quoteboxes">
                        <p class="align-center"><i>"I was able to quickly and independently set up domain parking at Sedo. No my unused domains no longer show an empty page - and I get paid for it!”</i></p>
                    </div>
                    <div class="author">
                        <p>
                            DANIEL L.<br>
                            SEDO CUSTOMER
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="quote rte" data-ce="quoteboxes">
                        <p class="align-center"><i>"Who would have thought that money could be earned with an unused domain? Thanks to Sedo, everything was easily and quickly set up."</i></p>
                    </div>
                    <div class="author">
                        <p>
                            SARAH N.<br>
                            SEDO CUSTOMER
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="quote rte" data-ce="quoteboxes">
                        <p class="align-center"><i>"Suddenly I had more purchase requests for my domain. And all of them a result of the parking option arrangement at Sedo and a banner on my parking site."</i></p>
                    </div>
                    <div class="author">
                        <p>
                            MICHAEL F.<br>
                            SEDO CUSTOMER
                        </p>
                    </div>
                </div>

            </div>
        </div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid4 frame-layout-0 frame-space-after-medium">
            <div class="ce-stepbystep rte" data-ce="stepbystep">
                <h2>DOMAIN PARKING: HOW IT WORKS</h2>

                <div class="steps-wrapper">

                    <div class="step step-4">
                        <h3>Create a customer account</h3>
                        <p><a href="/member/register.php?language=us" title="Create an account" class="internal-link">Register</a> on our marketplace for free. You can park as many domains as you like as soon as your personal customer account is activated.</p>
                        <span class="counter"></span>
                    </div>

                    <div class="step step-4">
                        <h3>Complete certification</h3>
                        <p>Complete the "<a href="/member/membercert/index.php?language=us" title="Member certification" class="internal-link">domain parking certification</a>" in your customer account. This also makes it possible for you to display ads from our premium advertising partners on your parked domains.</p>
                        <span class="counter"></span>
                    </div>

                    <div class="step step-4">
                        <h3>Set up Domain Parking</h3>
                        <p>Now add all of the domains which you would like to park to your account. Thanks to a special <a href="/member/domainsignup/index.php?language=us" title="Add domains" class="internal-link">online assistant</a> through Sedo, adding domains is child's play and can be quickly completed.</p>
                        <span class="counter"></span>
                    </div>

                    <div class="step step-4">
                        <h3>Rerouting domains to Sedo</h3>
                        <p>Lastly, set up forwarding through the name server for each of your domains with your web hosting company or domain registrar. Your Domain Parking will then be activated after 24 hours.</p>
                        <span class="counter"></span>
                    </div>

                </div>
            </div>
        </div>


        <div class="ce-wrapper ce-container grey  frame-space-after-medium">

            <!-- Image [left] + Text [right] -->
            <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-left">





                    <img src="https://cdn.sedo.com/fileadmin/user_upload/Park_Domains/Parking_einrichten.jpg" alt="" width="1420" height="1082">




                </div>
                <div class="ce-text-right rte" data-ce="textimage">

                    <h2>

                        How to set up Domain Parking with your web hoster
                    </h2>
                    <p>We offer the easiest and most convenient method to set up Domain Parking: <strong>Rerouting by Domain Name Server (DNS)</strong>.</p>
                    <p>And it really is this easy: Log into your personal customer account with your web hosting company or domain registrar. Next change the name server entry as follows for every domain you would like to park at Sedo:</p>
                    <p class="align-center"><strong>NS1.SEDOPARKING.COM<br> NS2.SEDOPARKING.COM</strong></p>
                    <p><strong>Important:</strong> Please note that every domain must be forwarded individually. You must therefore set up the name server forwarding for each every single domain which you would like to park at Sedo.</p>
                </div>
            </div>


        </div>





        <div class="ce-wrapper ce-container white  frame-space-after-large">

            <!-- Text [left] + Image [right] -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-right">



                    <a href="/us/know-how-support/" title="FAQ's" class="cta">

                        <img src="https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/Domain_Auction/FAQ.jpg" alt="" width="1420" height="1082">

                    </a>


                </div>
                <div class="ce-text-left rte" data-ce="textimage">

                    <h2>

                        Frequently asked questions (FAQ)
                    </h2>
                    <p>You will find the most frequently asked questions about domain parking here.</p><ol> 	<li><a href="https://sedo-us1.custhelp.com/app/answers/detail/a_id/1168/kw/what%20is%20domain%20parking/search/1" title="What are the advantages of parking with Sedo?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/1168\/kw\/what%20is%20domain%20parking\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">What are the advantages of parking with Sedo?</a></li> 	<li><a href="https://sedo-us1.custhelp.com/app/answers/detail/a_id/689/kw/park/search/1" title="How do I park my domains with Sedo?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/689\/kw\/park\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">How do I park my domains with Sedo?</a></li> 	<li><a href="https://sedo-us1.custhelp.com/app/answers/detail/a_id/2827/kw/park/search/1" title="Why does my parked page look different than my other domains?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/2827\/kw\/park\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">Why does my parked page look different than my other domains?</a></li> </ol><p><a href="/us/know-how-support/" title="FAQ's" class="btn btn-beige">Additional questions &amp; answers</a></p>
                    <h2>&nbsp;</h2>
                </div>
            </div>


        </div>



    </div>
</main>
