<main role="main" id="content-main-wrapper" class="content-wrapper-full">
    <div class="t3-content-fullwidth">
        <div class="ce-image-hero frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-large" style="background-image: url('https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Company/header_dasunternehmen_Bb.jpg');">


            <div class="content">

                <div class="dark rte" data-ce="imagehero">


                    <h1>Every 2nd domain transaction globally</h1>

                    <h2>is handled by Sedo. </h2>
                    <p>Welcome to the world's leading platform for domain buyers and sellers</p>
                </div>

            </div>




        </div><div class="ce-wrapper grey frame frame-default frame-type-dce_dceuid15 frame-layout-0 frame-space-after-medium">
            <div class="ce-checkmarks">

                <div class="item rte" data-ce="checkmarkshorizontal">
                    <p>19 million domains for sale</p>
                </div>

                <div class="item rte" data-ce="checkmarkshorizontal">
                    <p>2 million customers worldwide</p>
                </div>

                <div class="item rte" data-ce="checkmarkshorizontal">
                    <p>700,000 domain sales since the start of Sedo</p>
                </div>

                <div class="item rte" data-ce="checkmarkshorizontal">
                    <p>130 employees in Cologne and Boston</p>
                </div>

            </div>
        </div>


        <div class="ce-wrapper ce-container white  frame-space-after-medium">

            <!-- Image [left] + Text [right] -->
            <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-left">



                    <a href="/search/?language=us" title="Find your perfect domain" class="cta">

                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Company/8_1_C1.jpg" alt="" width="1420" height="1082">

                    </a>


                </div>
                <div class="ce-text-right rte" data-ce="textimage">

                    <h2>

                        The first address for your online success
                    </h2>
                    <p><strong>Good ideas and great products need the right name – and an internet address. One that is as easy to remember as possible. But what can you do if your desired domain is already taken?</strong></p>
                    <p>In the pioneering years of the World Wide Web registering suitable names as internet domains was very accessible, but fast forward to today and most web addresses especially the impactful ones are already taken.</p>
                    <p>As the largest <a href="/search/?language=us" title="Our trade platform" class="internal-link">trading platform</a> for “secondhand” domains, we help customers all over the world to find the perfect domain when a preferable domain of choice is unavailable.</p>
                    <p>We bring hundreds of buyers and sellers together every day – and with a market share of 60%, we are the leading provider in what is referred to as the "secondary market" for already registered or "used" domains.</p>
                </div>
            </div>

            <!-- Text [left] + Image [right] -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-right">



                    <a href="/search/?language=us" title="Find your perfect domain" class="cta">

                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Company/8_1_C2.jpg" alt="" width="1420" height="1082">

                    </a>


                </div>
                <div class="ce-text-left rte" data-ce="textimage">

                    <h2>

                        Welcome to the world's largest domain marketplace.
                    </h2>
                    <p><strong>With over 19 million listed domains and 2 million customers, Sedo is the world's largest platform for the professional trading of web addresses.</strong></p>
                    <p>Sedo stands for "Search Engine for Domain Offers" and our online platform currently provides not only a convenient searchable domain marketplace, but also extensive <a href="/us/services/" title="Overview of Sedo services" class="internal-link">services for domain buyers and sellers</a>: from domain parking to value appraisals all the way up to the brokerage and marketing of domains by our professional brokerage team.</p>
                    <p>Specifically tailored to customers from the internet industry – one of the world's largest <a href="/us/sedo/sedomls/" title="SedoMLS.com" class="internal-link">distribution networks for registrars (SedoMLS)</a> offers extensive registry services which we use to support owners of Top Level Domains (gTLDs) with the <a href="/us/what-we-offer/registry-overview/" title="Opens internal link in the current window" class="internal-link">market launch of their new domain suffixes</a>.</p>
                    <p>Sedo has been a member of United Internet AG since 2001.</p>
                </div>
            </div>


        </div>


        <div class="ce-wrapper grey">




            <div class="ce-headline">
                <h2>Sedo is perfect for...</h2>
            </div>












        </div>


        <div class="ce-wrapper ce-container grey ">

            <!-- Text [top] + Image [bottom] [50|50] -->
            <div class="ce-textimage-ver ">
                <div class="ce-image-bottom">

                </div>
                <div class="ce-text-top rte" data-ce="textimage">

                    <h2>
                    </h2>
                    <ul class="icon-beige"><li>Companies and startups searching for their perfect address</li><li>Concise <a href="/us/about-us/case-studies/" title="Case studies and success stories" class="internal-link">internet domains for marketing</a> and campaigns </li><li>Developing an online presence for new products</li><li>Investing in <a href="/search/?special_inventory=1&amp;cHash=be55b91bbbf9edcf13c9a4cbfb5e3756&amp;language=us" title="Top Domains" class="internal-link">valuable domain names</a> </li></ul><p><a href="/us/buy-domains/how-it-works/" title="Buy domains" class="btn btn-blue">Sedo for domain buyers</a></p>
                </div>
            </div>

            <!-- Text [top] + Image [bottom] [50|50] -->
            <div class="ce-textimage-ver ">
                <div class="ce-image-bottom">

                </div>
                <div class="ce-text-top rte" data-ce="textimage">

                    <h2>
                    </h2>
                    <ul class="icon-beige"><li><a href="/us/sell-domains/" title="Sell domains" class="internal-link">Monetizing</a> unused web addresses</li><li>Earning money with <a href="/us/park-domains/" title="Earn money with Domain Parking" class="internal-link">Domain Parking</a></li><li>Professional trading of internet domains </li><li>Launching a <a href="/us/domains/domain-overview/" title="New domain suffixes">Top Level Domain</a> (gTLD) </li></ul><p><a href="/us/sell-domains/how-it-works/" title="Sell domains" class="btn btn-blue">Sedo for domain sellers</a></p>
                </div>
            </div>


        </div>


        <div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0">
            <div class="ce-multicontent rte" data-ce="multicontent">
                <h1 class="align-center">Sedo – by the numbers</h1>
                <p> A wide variety of <a href="/us/buy-domains/market-trends/" title="Market trends" class="internal-link">data and domains</a> is closely analyzed at Sedo to ensure that we can provide the best in internet addresses. Review our own numbers to get to know us better.</p>
            </div>
        </div>


        <div class="ce-wrapper ce-container white  frame-space-after-medium">

            <!-- Image [top] + Text [bottom] [50|50] -->
            <div class="ce-textimage-ver ">
                <div class="ce-image-top">



                    <a href="/us/buy-domains/market-trends/" title="Market trends" class="cta">

                        <img src="https://cdn.sedo.com/fileadmin/user_upload/Sedo_2019-01_Infographic_EN.jpg" alt="" width="1420" height="1082">

                    </a>


                </div>
                <div class="ce-text-bottom rte" data-ce="textimage">

                    <h2>
                    </h2>

                </div>
            </div>

            <!-- Image [top] + Text [bottom] [50|50] -->
            <div class="ce-textimage-ver ">
                <div class="ce-image-top">



                    <a href="/us/sell-domains/promotion-options/" title="SedoMLS and promotion options" class="cta">

                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Company/Standorte_1420_US.jpg" alt="" width="1420" height="1082">

                    </a>


                </div>
                <div class="ce-text-bottom rte" data-ce="textimage">

                    <h2>
                    </h2>

                </div>
            </div>


        </div>


        <div class="ce-wrapper grey xx frame frame-default frame-type-dce_dceuid12 frame-layout-0 frame-space-after-medium">
            <div class="ce-multicontent rte" data-ce="multicontent">
                <h2>From startup to industry leader - a unique success story </h2>
                <p><b></b>Within just a few years, Sedo – the "<b>Search Engine for Domain Offers</b>" has developed into the largest player in the secondary domain market with a 60% market share.<b></b></p>
            </div>
        </div><div class="ce-image-hero resize frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-medium">

            <div class="ce-image-hero--image">

                <a href="/us/about-us/news-press/" title="News and press" class="hero--clickable">
                    <img src="https://cdn.sedo.com/fileadmin/user_upload/Sedo_2019_Timeline_1420x1256_EN.jpg" alt="" width="3040" height="1256">
                </a>

            </div>





        </div><div class="ce-content-slider frame frame-default frame-type-dce_dceuid10 frame-layout-0 frame-space-after-medium">
            <div class="bx-wrapper" style="max-width: 100%;">
                <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 541px;">
                    <ul class="bxslider" style="width: 1015%; position: relative; transition-duration: 0s; transform: translate3d(-1309px, 0px, 0px);">
                        <li style="float: left; list-style: outside none none; position: relative; width: 1309px;" class="bx-clone">

                            <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Company/Management_Hero_3040x1256_DIRK_Bubbles_Blau.jpg" alt="" width="3040" height="1256">


                            <div class="content rte" data-ce="sliderfull">
                                <h2>Dirk Ochotzki</h2>
                                <h2>Head of Operations</h2>
                                <p>Dirk Ochotzki began working at Sedo as the Director of Transfers in 2006. He was appointed the Head of Operations in January, 2013. His range of responsibilities includes the Customer Support, Transfer and Security &amp; Compliance teams. He is also in charge of Commercial Services at Sedo. Before coming to Sedo, Dirk gained experience in various mid-level management roles at Sony Belgium and the Netherlands. Dirk studied machine technology at the University of Applied Sciences in Aachen.</p>

                            </div>

                        </li>

                        <li style="float: left; list-style: outside none none; position: relative; width: 1309px;">

                            <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Management_Hero_1520x628_MC.jpg" alt="" width="1520" height="628">


                            <div class="content rte" data-ce="sliderfull">
                                <h2>Matthias Conrad</h2>
                                <h2>CEO</h2>
                                <p>Matthias Conrad started his career in 1999 as product manager at Vodafone Germany. As a qualified electrical engineer, he worked for Vodafone Egypt and Vodafone Hungary for six years, where he was responsible for product management and customer marketing in the B2B segment until 2011 as Director Marketing. Since July 2011 Matthias Conrad has been working for 1&amp;1 IONOS. He was responsible for the product management for the international web hosting and e-commerce business and most recently as Head of Marketing for the re-branding and brand introduction of 1&amp;1 IONOS. In addition, he completed an extra-occupational MBA at Henley Business School.</p>

                            </div>

                        </li>

                        <li style="float: left; list-style: outside none none; position: relative; width: 1309px;">

                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Management_Hero_1520x628_BARBARA_Bubbles_Blau1.jpg" alt="" width="1520" height="628">


                            <div class="content rte" data-ce="sliderfull">
                                <h2>Barbara Stolz</h2>
                                <h2>CFO</h2>
                                <p>Barbara Stolz is Sedo's Managing Director of Finance (CFO) since February 2016. She manages the Finance &amp; Controlling, Human Resource and Legal business units. Barbara began her professional career at Metro AG and gained experience within the corporate sector among the areas of finance, controlling and taxation at various large companies. She began working at QSC AG in 2005 as the Head of Invoicing. In 2009, she became the Business Unit Manager of Finance and was appointed CFO in 2013. Barbara has completed vocational training as a publishing company manager and accountant.</p>

                            </div>

                        </li>

                        <li style="float: left; list-style: outside none none; position: relative; width: 1309px;">

                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Slider_Paul_Fawell_compressed.jpg" alt="" width="3040" height="1256">


                            <div class="content rte" data-ce="sliderfull">
                                <h2>Paul Martin Fawell</h2>
                                <h2>General Manager, Managing Director of North America</h2>
                                <p>Paul Martin Fawell has been with Sedo since 2009, and has held the role of General Manager/Vice President of Operations and Finance since August 2011. In his current role, Paul manages day-to-day operations for Sedo's North American office. Paul holds a BA in Business Administration and Information Systems from the University of Colorado at Boulder. Prior to joining Sedo, he worked for AIESEC US, Inc., the world's largest student-driven organization, as Chief Financial Officer.</p>

                            </div>

                        </li>

                        <li style="float: left; list-style: outside none none; position: relative; width: 1309px;">

                            <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Company/Management_Hero_1520x628_ROBROCK.jpg" alt="" width="1520" height="628">


                            <div class="content rte" data-ce="sliderfull">
                                <h2>Michael Robrock</h2>
                                <h2>COO Chief Operating Officer</h2>
                                <p>Michael Robrock is Sedo’s Chief Operating Officer. In the COO role, Michael oversees all customer-facing departments including Sales and Operations.&nbsp;With a solid background in the domain and online marketing industries, Michael is responsible for leading collaborative efforts to drive core focuses including Sedo’s customer experience and maintaining an exceptionally high level of support.</p>
                                <p>As an industry insider and domain veteran with 20+ years serving in leadership roles, Michael knows firsthand the intricacies of the domain world and how to deliver a superior customer experience.&nbsp;Michael’s past work experience also includes consulting to various business types. He holds an Applied Sciences Degree from the University of Munich.</p>

                            </div>

                        </li>

                        <li style="float: left; list-style: outside none none; position: relative; width: 1309px;">

                            <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Company/Dieter_Granitzki_Sedo_CTO.jpg" alt="" width="1520" height="628">


                            <div class="content rte" data-ce="sliderfull">
                                <h2>Dieter Granitzki</h2>
                                <h2>CTO</h2>
                                <p>As CTO Dieter Granitzki is responsible for overseeing the entire technical infrastructure at Sedo. He has 30 years of experience in IT and software development. His enthusiasm for software development is also coupled with a dialed-in understanding of Sedo’s technical landscape and products both existing and in development.</p>
                                <p>Prior to Sedo, Dieter led the development teams at Werkenntwen.de and Affilicon. In addition to the leadership responsibilities of this role, he also oversaw the introduction of DevOps, the development from start to finish of high-volume websites, as well as introducing direct-to-consumer eCommerce services.</p>

                            </div>

                        </li>

                        <li style="float: left; list-style: outside none none; position: relative; width: 1309px;">

                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Management_Hero_1520x628_CHRISTIAN1.jpg" alt="" width="1520" height="628">


                            <div class="content rte" data-ce="sliderfull">
                                <h2>Christian Voss</h2>
                                <h2>CMO Chief Marketing Officer</h2>
                                <p>Before starting to work for Sedo in 2013 Christian Voss was initially a Sedo customer. In January 2016, he became Sedo’s Chief Marketing Officer (CMO) and in 2017, he also took on the domain name Brokerage. From the Sedo headquarters in Cologne, he manages the company’s global marketing and PR activities and promotes its international presence. His professional career began as a traffic planner and since 1999 he has been consultant and director of two online marketing and SEO agencies in Cologne. Christian Voss studied in Manchester and Göttingen, and has a master’s degree in geography from the Georg-August-Universität in Göttingen.</p>

                            </div>

                        </li>

                        <li style="float: left; list-style: outside none none; position: relative; width: 1309px;">

                            <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Company/Management_Hero_1520x628_SCHMID.jpg" alt="" width="1520" height="628">


                            <div class="content rte" data-ce="sliderfull">
                                <h2>Andreas Schmid</h2>
                                <h2>Head of Product Management</h2>
                                <p>Andreas is Head of Product Management at Sedo. In his role he is responsible for the development of the Sedo Marketplace, Services for Domain Owners and Domain Parking. His focus is to help domain owners succeed in monetizing and selling their domains as well as helping potential domain buyers to find the domain name they need.&nbsp;Andreas joined Sedo in 2013 and held various positions as a Product Manager.&nbsp;He has worked as Head of Sales &amp; Marketing in a Couponing Startup before and holds a Diploma in Business Administration from the University of Cologne.</p>

                            </div>

                        </li>

                        <li style="float: left; list-style: outside none none; position: relative; width: 1309px;">

                            <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Company/Management_Hero_3040x1256_DIRK_Bubbles_Blau.jpg" alt="" width="3040" height="1256">


                            <div class="content rte" data-ce="sliderfull">
                                <h2>Dirk Ochotzki</h2>
                                <h2>Head of Operations</h2>
                                <p>Dirk Ochotzki began working at Sedo as the Director of Transfers in 2006. He was appointed the Head of Operations in January, 2013. His range of responsibilities includes the Customer Support, Transfer and Security &amp; Compliance teams. He is also in charge of Commercial Services at Sedo. Before coming to Sedo, Dirk gained experience in various mid-level management roles at Sony Belgium and the Netherlands. Dirk studied machine technology at the University of Applied Sciences in Aachen.</p>

                            </div>

                        </li>

                        <li style="float: left; list-style: outside none none; position: relative; width: 1309px;" class="bx-clone">

                            <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Management_Hero_1520x628_MC.jpg" alt="" width="1520" height="628">


                            <div class="content rte" data-ce="sliderfull">
                                <h2>Matthias Conrad</h2>
                                <h2>CEO</h2>
                                <p>Matthias Conrad started his career in 1999 as product manager at Vodafone Germany. As a qualified electrical engineer, he worked for Vodafone Egypt and Vodafone Hungary for six years, where he was responsible for product management and customer marketing in the B2B segment until 2011 as Director Marketing. Since July 2011 Matthias Conrad has been working for 1&amp;1 IONOS. He was responsible for the product management for the international web hosting and e-commerce business and most recently as Head of Marketing for the re-branding and brand introduction of 1&amp;1 IONOS. In addition, he completed an extra-occupational MBA at Henley Business School.</p>

                            </div>

                        </li>
                    </ul>
                </div><div class="bx-controls bx-has-pager"><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div><div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div><div class="bx-pager-item"><a href="" data-slide-index="2" class="bx-pager-link">3</a></div><div class="bx-pager-item"><a href="" data-slide-index="3" class="bx-pager-link">4</a></div><div class="bx-pager-item"><a href="" data-slide-index="4" class="bx-pager-link">5</a></div><div class="bx-pager-item"><a href="" data-slide-index="5" class="bx-pager-link">6</a></div><div class="bx-pager-item"><a href="" data-slide-index="6" class="bx-pager-link">7</a></div><div class="bx-pager-item"><a href="" data-slide-index="7" class="bx-pager-link">8</a></div></div></div>
            </div>
        </div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid7 frame-layout-0 frame-space-after-medium">
            <div class="ce-list-image-vertical">
                <h2>Awards Sedo has won</h2>
                <p>Over the years we have won some of the most prestigious awards in the domain name industry.<br><br></p>


                <div class="item" data-index="0">

                    <div class="bubble">


                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Awards/The_Domain_Conference_Sedo_Company_Of_The_Year.jpg" alt="" width="221" height="221">


                    </div>

                    <div class="content rte" data-ce="listimagemodulevertical">

                        <h3>Company of the Year 2016</h3>

                        <p>Awarded by TheDomainConference</p>
                    </div>
                </div>

                <div class="item" data-index="1">

                    <div class="bubble">


                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Awards/The_Domain_Conference_Sedo_Company_Of_The_Year.jpg" alt="" width="221" height="221">


                    </div>

                    <div class="content rte" data-ce="listimagemodulevertical">

                        <h3>Broker of the Year 2016</h3>

                        <p>Awarded by TheDomainConference to Dave Evanson</p>
                    </div>
                </div>

                <div class="item" data-index="2">

                    <div class="bubble">


                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Awards/2015_World_Domain_Day_Best_Aftermarket_Platform_Sedo.jpg" alt="" width="221" height="221">


                    </div>

                    <div class="content rte" data-ce="listimagemodulevertical">

                        <h3>Best Aftermarket Platform 2015</h3>

                        <p>Awarded by the World Domain Day</p>
                    </div>
                </div>

                <div class="item" data-index="3">

                    <div class="bubble">


                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Awards/2014_TRAFFIC_Broker_Of_The_Year.jpg" alt="" width="221" height="221">


                    </div>

                    <div class="content rte" data-ce="listimagemodulevertical">

                        <h3>Broker of the Year 2014</h3>

                        <p>Awarded by T.R.A.F.F.I.C. to Dave Evanson</p>
                    </div>
                </div>

                <div class="item" data-index="4">

                    <div class="bubble">


                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Awards/2014_Domainers_Choice_Awards_Best_Domain_Marketplace.jpg" alt="" width="221" height="221">


                    </div>

                    <div class="content rte" data-ce="listimagemodulevertical">

                        <h3>Best Domain Marketplace 2014</h3>

                        <p>Awarded by Domainer's Choice Awards</p>
                    </div>
                </div>

                <div class="item" data-index="5">

                    <div class="bubble">


                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Awards/2013_TRAFFIC_Broker_Of_The_Year.jpg" alt="" width="221" height="221">


                    </div>

                    <div class="content rte" data-ce="listimagemodulevertical">

                        <h3>Broker of the Year 2013</h3>

                        <p>Awarded by T.R.A.F.F.I.C. to Negar Haiikhani</p>
                    </div>
                </div>

                <div class="item" data-index="6">

                    <div class="bubble">


                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Awards/2013_TRAFFIC_Best_Overall_Domain_Solution.jpg" alt="" width="221" height="221">


                    </div>

                    <div class="content rte" data-ce="listimagemodulevertical">

                        <h3>Best Overall Domain Solution 2013</h3>

                        <p>Awarded by T.R.A.F.F.I.C.</p>
                    </div>
                </div>

                <div class="item" data-index="7">

                    <div class="bubble">


                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Awards/2012_TRAFFIC_Broker_Of_The_Year.jpg" alt="" width="221" height="221">


                    </div>

                    <div class="content rte" data-ce="listimagemodulevertical">

                        <h3>Broker of the Year 2012</h3>

                        <p>Awarded by T.R.A.F.F.I.C. to Dave Evanson</p>
                    </div>
                </div>

                <div class="item" data-index="8">

                    <div class="bubble">


                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Awards/2012_TRAFFIC_Best_Overall_Domain_Solution.jpg" alt="" width="221" height="221">


                    </div>

                    <div class="content rte" data-ce="listimagemodulevertical">

                        <h3>Best Overall Domain Solution 2012</h3>

                        <p>Awarded by T.R.A.F.F.I.C.</p>
                    </div>
                </div>

                <div class="item" data-index="9">

                    <div class="bubble">


                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Awards/2012_DomainNameWire_Most_Innovative_Company_for_domain_names.jpg" alt="" width="221" height="221">


                    </div>

                    <div class="content rte" data-ce="listimagemodulevertical">

                        <h3>Most Innovative Company for Domain Names 2012</h3>

                        <p>Awarded by Domain Name Wire</p>
                    </div>
                </div>

                <div class="item" data-index="10">

                    <div class="bubble">


                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Awards/2011_TRAFFIC_Best_Overall_Domain_Solution.jpg" alt="" width="221" height="221">


                    </div>

                    <div class="content rte" data-ce="listimagemodulevertical">

                        <h3>Best Overall Domain Solution 2011</h3>

                        <p>Awarded by T.R.A.F.F.I.C.</p>
                    </div>
                </div>

                <div class="item" data-index="11">

                    <div class="bubble">


                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Awards/2012_DomainNameWire_Most_Innovative_Company_for_domain_names.jpg" alt="" width="221" height="221">


                    </div>

                    <div class="content rte" data-ce="listimagemodulevertical">

                        <h3>Most Innovative Company for Selling Domain Names 2011</h3>

                        <p>Awarded by Domain Name Wire</p>
                    </div>
                </div>

                <div class="item" data-index="12">

                    <div class="bubble">


                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Awards/2012_DomainNameWire_Most_Innovative_Company_for_domain_names.jpg" alt="" width="221" height="221">


                    </div>

                    <div class="content rte" data-ce="listimagemodulevertical">

                        <h3>Best Domain Name Parking Company 2011</h3>

                        <p>Awarded by Domain Name Wire</p>
                    </div>
                </div>

                <div class="item" data-index="13">

                    <div class="bubble">


                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Awards/2010_TRAFFIC_Best_Overall_Domain_Solution.jpg" alt="" width="221" height="221">


                    </div>

                    <div class="content rte" data-ce="listimagemodulevertical">

                        <h3>Best Overall Domain Solution 2010</h3>

                        <p>Awarded by T.R.A.F.F.I.C.</p>
                    </div>
                </div>

                <div class="item" data-index="14">

                    <div class="bubble">


                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Awards/2012_DomainNameWire_Most_Innovative_Company_for_domain_names.jpg" alt="" width="221" height="221">


                    </div>

                    <div class="content rte" data-ce="listimagemodulevertical">

                        <h3>Most Innovative Company for Selling Domain Names 2010</h3>

                        <p>Awarded by Domain Name Wire</p>
                    </div>
                </div>

                <div class="item" data-index="15">

                    <div class="bubble">


                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Awards/2012_DomainNameWire_Most_Innovative_Company_for_domain_names.jpg" alt="" width="221" height="221">


                    </div>

                    <div class="content rte" data-ce="listimagemodulevertical">

                        <h3>Best Online Domain Sales Venue 2010</h3>

                        <p>Awarded by Domain Name Wire</p>
                    </div>
                </div>

                <div class="item" data-index="16">

                    <div class="bubble">


                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Awards/2012_DomainNameWire_Most_Innovative_Company_for_domain_names.jpg" alt="" width="221" height="221">


                    </div>

                    <div class="content rte" data-ce="listimagemodulevertical">

                        <h3>Best Domain Name Parking Company 2010</h3>

                        <p>Awarded by Domain Name Wire</p>
                    </div>
                </div>

            </div>
        </div><div class="ce-image-hero resize frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-medium">

            <div class="ce-image-hero--image">

                <a href="/us/about-us/case-studies/" title="View additional customer references" class="hero--clickable">
                    <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Case_Studies/ImageHeroes_Slider_hubspot_blau.jpg" alt="" width="1520" height="628">
                </a>

            </div>


            <div class="content">

                <div class="bright rte" data-ce="imagehero">


                    <h1></h1>

                    <h2 class="style-h1" style="color: rgb(255, 255, 255);">Hubspot</h2>
                    <p><b>Dharmesh Shah, CTO</b></p>
                    <p>"We put a lot of thought into posting valuable content for our customers, partners and even employees, so <b>culturecode.com</b> was a natural place to unveil our own culture code. </p>
                    <p>We also wanted the ability to easily share the code, and giving someone a lengthy URL or asking them to do a search on our site isn’t very convenient.&nbsp; On the other hand, a custom domain like culturecode.com is much easier to remember.” </p>
                </div>

                <p><a href="/us/about-us/case-studies/" title="View additional customer references" class="btn btn-blue cta">View additional testimonials</a></p>

            </div>




        </div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid2 frame-layout-0 frame-space-after-large">
            <div class="ce-list-boxes-cta">
                <h2>More about the company</h2>


                <div class="list-boxes-item" data-row="0">
                    <div class="header">
                        <h4>News about the company and market</h4>

                    </div>
                    <div class="list-box list-box-left">
                        <div class="content rte" data-ce="listboxescta">
                            <h3><b>Newsroom </b></h3>
                            <p>Press releases and basic information about Sedo</p>
                        </div>

                        <a href="/us/about-us/news-press/" class="blue cta"> </a>

                    </div>
                    <div class="list-box list-box-right">
                        <div class="content rte" data-ce="listboxescta">
                            <h3><b>Market trends</b></h3>
                            <p>The latest in what's trading and expert opinions</p>
                        </div>

                        <a href="/us/buy-domains/market-trends/" class="blue cta"> </a>

                    </div>
                </div>

                <div class="list-boxes-item" data-row="1">
                    <div class="header">
                        <h4>Additional information</h4>

                    </div>
                    <div class="list-box list-box-left">
                        <div class="content rte" data-ce="listboxescta">
                            <h3><b>Careers</b></h3>
                            <p>Take a look at our available positions and learn more about working at Sedo</p>
                        </div>

                        <a href="/us/about-us/careers/" class="blue cta"> </a>

                    </div>
                    <div class="list-box list-box-right">
                        <div class="content rte" data-ce="listboxescta">
                            <h3><b>FAQ's</b></h3>
                            <p>Find answers to the most frequently asked questions here</p>
                        </div>

                        <a href="/us/know-how-support/" class="beige cta"> </a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</main>