
<div class="ce-image-hero frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-medium" style="background-image: url('https://cdn.sedo.com/fileadmin/user_upload/Services/Brokerage/Broker_Hero_3040x1256_NEGAR_Bubbles_Beige_03.jpg');">


    <div class="content">

        <div class="dark rte">
            <h1>Broker Service</h1>

            <h2>Our professionals buy or sell domains on your behalf. </h2>
            <p>Whether we're buying your ideal domain or selling your premium domains for the best prices, our experienced team of brokers is there for you – dedicated, trustworthy and discrete. </p>
        </div>

        <p><a href="#" class="btn btn-blue cta">Hire a broker today</a></p>

    </div>

</div><div class="ce-wrapper white">
    <div class="ce-headline centered">
        <h2>Our experts, at your service</h2>
    </div>
</div>


<div class="ce-wrapper ce-container white  frame-space-after-medium">

    <!-- Image [top] + Text [bottom] [50|50] -->
    <div class="ce-textimage-ver ">
        <div class="ce-image-top">


            <div class="ce-disturber">For Buyers</div>


            <a href="#" title="Brokerage Service" class="cta">

                <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Brokerage/Domain-Vermittlung.jpg" alt="" width="1420" height="1082">

            </a>


        </div>
        <div class="ce-text-bottom rte">

            <h2>

                We acquire your perfect domain
            </h2>
            <p><strong>Are you not able to find your desired domain on our <a href="#" title="marketplace" class="internal-link">marketplace</a>? Or would you simply like to save the time and hassle by having our brokers negotiate for you? Our experts will contact the owner on your behalf and handle all of the necessary negotiations.</strong></p>
            <p>Just let us know which domain you are interested in and entrust our brokers with the negotiations. We will assign you a personal domain broker who will initiate negotiations with the owner on your behalf. You as the customer remain discreetly in the background. Guaranteed!<br> &nbsp;</p><ul class="icon-beige"> 	<li><strong>Domains à la Carte:</strong> our experts will acquire your domain,<br> 	even if it isn't for sale at Sedo</li> 	<li><strong>Individual support:</strong> your personal domain broker will advise and consult with you before initiating and solidifying negotiations with the owner on your behalf</li> 	<li><strong>Guaranteed discretion:</strong> customers remain anonymous during negotiations</li> 	<li><strong>Free</strong> <a href="/us/services/domain-transfer-service/" title="Transfer service" class="internal-link">Transfer Services</a> included</li> </ul><ul> 	<li><strong>69 USD</strong> one-off fee for contracting</li> 	<li><a href="/us/what-we-offer/price-list/" title="Price list" class="internal-link">15% commission on the purchase price</a> upon successful Domain Brokerage</li> </ul>
        </div>
    </div>

    <!-- Image [top] + Text [bottom] [50|50] -->
    <div class="ce-textimage-ver ">
        <div class="ce-image-top">


            <div class="ce-disturber">For Sellers</div>


            <a href="#" title="Domain Marketing" class="cta">

                <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Brokerage/Domain-Vermarktung.jpg" alt="" width="1420" height="1082">

            </a>


        </div>
        <div class="ce-text-bottom rte">

            <h2>

                Highest prices for premium domains
            </h2>
            <p><b>Are you the owner of a high-quality domain? Our experts will help you to approach the right buyers – and obtain the best possible selling price for your domain.</b></p>
            <p>Since 1999, our domain brokerage team has completed some of the most chart topping and expensive sales in the industry: Sex.com for 13m USD, dudu.com for 1m USD, kaffee.de for 100,000 EUR, and many many more. We will assign you a personal domain broker who will initiate negotiations with potential buyers on your behalf. Customers always remain confidential. Guaranteed!<br><br></p><ul class="icon-beige"><li><b>No upfront costs</b> – You will&nbsp; only be charged if your domain is sold</li><li><b>Guaranteed discretion:</b> Customers remain anonymous during the negotiations</li><li><b>Free </b><a href="/us/services/domain-transfer-service/" title="Transfer service" class="internal-link">Transfer Services</a> included<br><br></li></ul><ul><li>No contracting fees</li><li><a href="/us/what-we-offer/price-list/" title="Price list" class="internal-link">15% commission on the sales price</a> upon a successful sale.</li></ul>
        </div>
    </div>


</div>


<div class="ce-wrapper grey frame frame-default frame-type-dce_dceuid22 frame-layout-0 frame-space-after-medium">
    <div class="ce-broker-input">
        <div class="buyerside">
            <h3>Get the domain you really want!</h3>
            <p></p>
            <form action="/brokerage/acquisition.php" method="GET">
                <input type="hidden" name="language" value="us">
                <input placeholder="Your desired domain name" class="form-control" type="text" name="domain">
                <input type="submit" value="Hire a broker">
            </form>
            <div class="info">
                <p></p>
            </div>
        </div>
        <div class="sellerside">
            <h3>Sell your Top Domain through our brokers</h3>
            <p></p>
            <form action="/member/brokerage/index_seller.php" method="GET">
                <input type="hidden" name="language" value="us">
                <input placeholder="Tell us which top domain you want to sell" class="form-control" type="text" name="domain">
                <input type="submit" value="Apply with your domain">
            </form>
            <div class="info">
                <p></p>
            </div>
        </div>
    </div>
</div><div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0">
    <div class="ce-multicontent rte">
        <h2 class="align-center">Our Minimum Requirement for Domain Marketing </h2>
    </div>
</div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid15 frame-layout-0 frame-space-after-large">
    <div class="ce-checkmarks">

        <div class="item rte">
            <p>Your domain consists of no more than two descriptive words.</p>
        </div>

        <div class="item rte">
            <p>You agree to an exclusive marketing agreement.</p>
        </div>

        <div class="item rte">
            <p>You notify us of any ongoing correspondence and offers already received from interested parties.</p>
        </div>

        <div class="item rte">
            <p>Domains with spelling and typographic errors will not be accepted.</p>
        </div>

        <div class="item rte">
            <p>You provide us with traffic statistics for the past 12 months.</p>
        </div>

    </div>
</div>


<div class="ce-wrapper ce-container grey  frame-space-after-medium">

    <!-- Text [left] + Image [right] -->
    <div class="ce-textimage-hor ">
        <div class="ce-image-right">



            <a href="#" title="FAQ" class="cta">

                <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Brokerage/FAQ.jpg" alt="" width="1420" height="1082">

            </a>


        </div>
        <div class="ce-text-left rte">

            <h2>

                Frequently asked questions (FAQ)
            </h2>
            <p>You will find the most frequently asked questions here. <br></p><ol><li><a href="#" title="How will my broker communicate with me when I request the brokerage service?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/1136\/kw\/broker\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">How will my broker communicate with me when I request the broker service?</a></li><li><a href="https://sedo-us1.custhelp.com/app/answers/detail/a_id/1145/kw/broker/search/1" title="Does it cost anything to sell my domain(s) with the help of a broker?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/1145\/kw\/broker\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">Does it cost anything to sell my my domain with the help of a broker?</a></li><li><a href="https://sedo-us1.custhelp.com/app/answers/detail/a_id/1144/kw/broker/search/1" title="How will Sedo’s brokers help me market and sell my domains?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/1144\/kw\/broker\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">How will Sedo's brokers help me market and sell my domains?</a></li><li><a href="https://sedo-us1.custhelp.com/app/answers/detail/a_id/1124/kw/agreement/search/1" title="Do I still have to pay for the buyer-side brokerage service if Sedo fails to get the domain for me?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/1124\/kw\/agreement\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">Do I still have to pay for the buyer-side broker service if Sedo fails to get the domain for me?</a></li></ol><p><a href="/us/know-how-support/" title="FAQ's" class="btn btn-beige">Additional questions &amp; answers</a></p>
        </div>
    </div>


</div>


<div class="ce-wrapper white frame frame-default frame-type-dce_dceuid2 frame-layout-0 frame-space-after-large">
    <div class="ce-list-boxes-cta">
        <h2>What Sedo can do for you</h2>


        <div class="list-boxes-item">
            <div class="header">
                <h4>Tell you what your domain is worth.</h4>

                <h4></h4>

            </div>
            <div class="list-box list-box-left">
                <div class="content rte">
                    <h3><b>Domain Appraisal</b></h3>
                    <p>Our experts will create an individual appraisal of your domain's value.</p>
                </div>

                <a href="#" class="blue cta"> </a>

            </div>
            <div class="list-box list-box-right">
                <div class="content rte">
                    <h3><b>Domain Promotion</b></h3>
                    <p>Increased exposure and sales through more than 650 Sedo partners worldwide.</p>
                </div>

                <a href="#" class="blue cta"> </a>

            </div>
        </div>

        <div class="list-boxes-item">
            <div class="header">
                <h4>You already have a buyer?</h4>

                <h4></h4>

            </div>
            <div class="list-box list-box-left">
                <div class="content rte">
                    <h3><b>Domain Transfer</b></h3>
                    <p>Secure transfer transactions even when agreements are reached outside of our marketplace.</p>
                </div>

                <a href="#" class="blue cta"> </a>

            </div>
            <div class="list-box list-box-right">
                <div class="content rte">
                    <h3><b>Domain Parking</b></h3>
                    <p>Parked domains receive twice as many bids as unparked domains</p>
                </div>

                <a href="#" class="beige cta"> </a>

            </div>
        </div>

    </div>
</div>
