@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main role="main" id="content-main-wrapper" class="content-wrapper-full">
    <div class="t3-content-fullwidth">
        <div class="ce-image-hero frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-medium" style="background-image: url('https://cdn.sedo.com/fileadmin/user_upload/Header_generic_v1.jpg');">


            <div class="content">

                <div class="dark rte">


                    <h1>Auction Calendar</h1>

                    <h2>Find your perfect domain in one of our Auction Events.</h2>
                </div>

            </div>




        </div>


        <div class="ce-wrapper ce-container white  frame-space-after-medium">

            <!-- Image [left] + Text [right] -->
            <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-left">


                    <div class="ce-disturber">Exclusive one-time chance!</div>


                    <a href="#" class="cta">

                        <img src="https://cdn.sedo.com/fileadmin/user_upload/CO_20-07_710x541_Auction-Calendar.jpg" alt="" width="710" height="541">

                    </a>


                </div>
                <div class="ce-text-right rte">

                    <h2>

                        .CO Auction
                    </h2>
                    <h4>July 23&nbsp;- July 30</h4>
                    <p>Our .co domain auction offers a wide range of exclusive .co domain names suitable for new and existing companies and business ideas. .co offers more flexibility than many other TLD's, while also being practical and credible enough to strengthen any business or business pursuit.</p>
                    <p><a href="#" target="_blank" class="btn btn-blue">View Auction</a></p>
                </div>
            </div>


        </div>





        <div class="ce-wrapper ce-container white  frame-space-after-medium">

            <!-- Image [left] + Text [right] -->
            <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-left">


                    <div class="ce-disturber">Top Domains only</div>




                    <img src="https://cdn.sedo.com/fileadmin/user_upload/Buy_Domains/Auction_Calendar/Auction_Calender_GDA_EN.jpg" alt="" width="710" height="541">




                </div>
                <div class="ce-text-right rte">

                    <h2>

                        GreatDomains Auction
                    </h2>
                    <p>The <span style="color:#0061aa"><strong>best domains we have </strong></span>for sale, all in one auction! In our <span style="color:#0061aa"><strong>bi-monthly </strong></span>GreatDomains Auction you'll find hand-picked Top Domains, helping you make your mark online.</p>
                </div>
            </div>


        </div>





        <div class="ce-wrapper ce-container white  frame-space-after-medium">

            <!-- Image [left] + Text [right] -->
            <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-left">


                    <div class="ce-disturber">$79 only!</div>


                    <a href="#" class="cta">

                        <img src="https://cdn.sedo.com/fileadmin/user_upload/Buy_Domains/Auction_Calendar/Sedo_18-09_EXPIRING-DOMAINS_710x541_Auction_Calender_EN.jpg" alt="" width="710" height="541">

                    </a>


                </div>
                <div class="ce-text-right rte">

                    <h2>

                        Expiring Domains Auctions
                    </h2>
                    <h4>Running daily</h4>
                    <p>Our exclusive feed with Expiring Domains! Auctions start as low as $79 so you could snag quite a bargain on domain names that have <span style="color:#0061aa"><strong>not been available before</strong></span>. With these types of domains, we’re expanding the names available for you by 2,000 domains daily!&nbsp;</p>
                    <p><a#" target="_blank" class="btn btn-blue">View&nbsp;Expiring Auctions</a>&nbsp;<a href="#" class="btn btn-beige">Learn more about Expiring Domains</a></p>
                </div>
            </div>


        </div>





        <div class="ce-wrapper ce-container white  frame-space-after-medium">

            <!-- Image [left] + Text [right] -->
            <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-left">


                    <div class="ce-disturber">Auctions every day</div>


                    <a href="#" title="View Marketplace and Direct Auctions" class="cta">

                        <img src="https://cdn.sedo.com/fileadmin/user_upload/Buy_Domains/Auction_Calendar/marketplace_auctions_calender_comp.jpg" alt="" width="1420" height="1082">

                    </a>


                </div>
                <div class="ce-text-right rte">

                    <h2>

                        Marketplace Auctions &amp; Direct Auctions
                    </h2>
                    <h4>Running daily</h4>
                    <p>Go browse our inventory of Marketplace Auctions and Direct Auctions. You'll find all the domains put up for <span style="color:#0061aa"><strong>auction by our users.</strong></span> Find a bargain, start bidding and get the domain you want!</p>
                    <p><a #" title="View running auctions" class="btn btn-blue">View running auctions</a></p>
                </div>
            </div>


        </div>


        <div class="ce-wrapper white frame frame-default frame-type-dce_dceuid2 frame-layout-0 frame-space-after-large">
            <div class="ce-list-boxes-cta">
                <h2>GET STARTED NOW</h2>


                <div class="list-boxes-item">
                    <div class="header">
                        <h4>Ready, steady, go to the marketplace!</h4>

                    </div>
                    <div class="list-box list-box-left">
                        <div class="content rte">
                            <h3>Search the marketplace</h3>
                            <p>Search and find your domain from over 19 million names in our data base.</p>
                        </div>

                        <a href="#" title="Domain search" class="blue cta"> </a>

                    </div>
                    <div class="list-box list-box-right">
                        <div class="content rte">
                            <h3>Sell your own domain via auction</h3>
                            <p>Learn more about our different domain auction types and start selling your domains at the best price.</p>
                        </div>

                        <a href="#" title="Sell your domains via auction" class="blue cta"> </a>

                    </div>
                </div>

                <div class="list-boxes-item">
                    <div class="header">
                        <h4>Learn more</h4>

                    </div>
                    <div class="list-box list-box-left">
                        <div class="content rte">
                            <h3>About Sedo</h3>
                            <p>Everything worth knowing about Sedo.</p>
                        </div>

                        <a href="#" class="blue cta"> </a>

                    </div>
                    <div class="list-box list-box-right">
                        <div class="content rte">
                            <h3>FAQ</h3>
                            <p>Find answers to the most frequently asked questions.</p>
                        </div>

                        <a href="#" class="beige cta"> </a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</main>