<main role="main" id="content-main-wrapper" class="content-wrapper-full">
    <div class="t3-content-fullwidth">
        <div class="ce-image-hero resize frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-medium">
            <div class="ce-image-hero--image">
                <a href="#" class="hero--clickable">
                    <img src="https://cdn.sedo.com/fileadmin/user_upload/Karriere_Hero_Pic_2_1_New.jpg" alt="" width="3040" height="1256">
                </a>
            </div>
            <div class="content">
                <div class="dark rte">
                    <h1>
                        Your career at <br>
                        Sedo
                    </h1>
                    <p>Sedo offers outstanding prospects for a career in the ever-expanding online market. From our offices in Cologne and Boston, our team of experts is working towards the future in both a digital and creative environment.</p>
                </div>
                <p><a href="#" class="btn btn-blue cta">Apply now!</a></p>
            </div>
        </div><div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0 frame-space-after-medium">
            <div class="ce-multicontent rte">
                <h2>Become part of a global success story</h2>
                <p>A good product needs a good brand name, and an <a href="#" title="Find domain" class="internal-link">internet address that is as easy as possible to remember</a>. Finding an adequate name was an easy task in the early pioneer days of the World Wide Web <br>but now practically all of the quality names are already taken. Those looking for a name to concisely describe their product or business can face a long and arduous search – often without a satisfying result. One good alternative is to <a href="/us/buy-domains/" title="Buy domains" class="internal-link">purchase a name which has already been registered</a>.<br><br>This way of thinking was precisely the reason that Sedo GmbH was founded in 2001 – and since that time, has made a significant contribution to establishing the global "secondary domain market". Comparable to the real estate market, domains are the virtual "properties" of the internet. Our vision: To provide private individuals and companies with the domain they require to enable their <a href="/us/about-us/case-studies/" title="Success with domains" class="internal-link">success</a>.</p>
            </div>
        </div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid7 frame-layout-0 frame-space-after-medium">
            <div class="ce-list-image-vertical">
                <h2>Current job descriptions</h2>
                <p>A division of United Internet, one of Europe's leading online companies and an independent service provider, Sedo is a global leader in the secondary domain market. Domains are one of the internet's most important components. If you are of a similar mindset, do not hesitate to apply for a job with us today.</p>
                <div class="item">
                    <div class="bubble blue">
                        <a href="#" class="cta">
                            BOSTON<br>
                            COLOGNE
                        </a>
                    </div>
                    <div class="content rte">
                        <a href="#" class="cta">
                            <h3>Sales &amp; Brokerage Consultant (m/f/d)</h3>
                        </a>
                        <p>You are a hands-on person and you want to drive new business through brokerage on behalf of domain owners? You are an innovative, driven and entrepreneurial person with demonstrated ability to develop and leverage a strong client network, secure new business, negotiate and close deals between multiple parties? Then become part of our team!</p>
                    </div>
                </div>
                <div class="item">
                    <div class="bubble blue">
                        <a href="#" class="cta">
                            COLOGNE
                        </a>
                    </div>
                    <div class="content rte">
                        <a href="#" class="cta">
                            <h3>PHP Software Developer (m/f/d) Marketplace</h3>
                        </a>
                        <p>You love the challenge of working with the latest technologies and tools and jointly improving products and processes? Working with PHP is your passion? Then, become a part of our dynamic team!</p>
                    </div>
                </div>
                <div class="item">
                    <div class="bubble blue">
                        <a href="#" class="cta">
                            COLOGNE
                        </a>
                    </div>
                    <div class="content rte">
                        <a href="#" class="cta">
                            <h3>PHP Software Developer (m/f/d) Parking</h3>
                        </a>
                        <p>Development with PHP is your daily business and you are looking for the next logical career step on your way to becoming a senior developer? You want to work with more than just a normal CRUD application and within a complex high load system where every faster ms counts? Then become part of our team!</p>
                    </div>
                </div>
            </div>
        </div><div class="ce-wrapper
grey

frame-space-after-medium">
            <div class="ce-list-boxes-multi rte">
                <h2>Benefits of being a Sedo employee</h2>
                <p>The responsibilities of your new position should be fun and motivating in themselves. However, we think that a few additional benefits couldn't hurt.<br> &nbsp;</p>
                <div class="list-boxes-wrapper">
                    <div class="list-box list-box-item">
                        <div class="content">
                            <h3>Central location</h3>
                            <p>Our office is centrally located in the Kendall Square area of Cambridge, close to MIT, Harvard, and downtown Boston.</p>
                        </div>
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Careers/Icon_MAP_220x220px_02.png" alt="" width="220" height="220">
                    </div>
                    <div class="list-box list-box-item">
                        <div class="content">
                            <h3>Public transportation</h3>
                            <p>The Sedo office has excellent access to public transportation as it is within walking distance of the Red, Green, and Orange lines.&nbsp; Employees who commute via public transit receive a fully subsidized Monthly LinkPass or a partially subsidized commuter rail pass.</p>
                        </div>
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Careers/Icon_JOBTICKET_220x220px_02.png" alt="" width="220" height="220">
                    </div>
                    <div class="list-box list-box-item">
                        <div class="content">
                            <h3>Fitness studio</h3>
                            <p>We offer our employees a discounted premium membership for the "Cambridge Athletic Club". The recently refurbished fitness center is located near our office building and offers plenty of options and activities to offset any</p>
                            <p>stressful day you may have had at work.</p>
                        </div>
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Careers/Icon_FITNESSSTUDIO_220x220px_02.png" alt="" width="220" height="220">
                    </div>
                    <div class="list-box list-box-item">
                        <div class="content">
                            <h3>Drinks &amp; snacks</h3>
                            <p>Coffee, tea, soda, sparking water, and various snacks are stocked weekly and freely available for our employees.</p>
                        </div>
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Careers/Icon_SNACKS_220x220px_02.png" alt="" width="220" height="220">
                    </div>
                    <div class="list-box list-box-item">
                        <div class="content">
                            <h3>Vacation</h3>
                            <p>We want our employees to be refreshed and able to carry out their projects with enthusiasm. Therefore, new employees start with 12 days of vacation every year and are entitled to more<br> (up to 26 days) the longer they stay<br> with Sedo.</p>
                        </div>
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Careers/Icon_URLAUB_220x220px_02.png" alt="" width="220" height="220">
                    </div>
                    <div class="list-box list-box-item">
                        <div class="content">
                            <h3>Flexible working hours</h3>
                            <p>Take your child to the nursery, sleep in, or get to the office early so you can leave early. You can set your schedule to arrive between 7 a.m. 10 a.m. and arrange your working day around your personal commitments. Our core working<br> hours are between 10 a.m. and 4 p.m.</p>
                        </div>
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Careers/Icon_CLOCK_220x220px_02.png" alt="" width="220" height="220">

                    </div>
                    <div class="list-box list-box-item">
                        <div class="content">
                            <h3>Open working environment</h3>
                            <p>We are characterized by our open working environment with its flat hierarchies. We communicate with everyone on a level<br> playing field.</p>
                        </div>
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Careers/Icon_BETRIEBSKLIMA_220x220px_02.png" alt="" width="220" height="220">
                    </div>
                    <div class="list-box list-box-item">
                        <div class="content">
                            <h3>Team events</h3>
                            <p>Whether it's eating out with your department or celebrating with the entire company at the Summer and Holiday parties: building a good team spirit by having fun with colleagues<br> through team activities is important to us.</p>
                        </div>
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Careers/Icon_TEAM_220x220px_02.png" alt="" width="220" height="220">
                    </div>
                    <div class="list-box list-box-item">
                        <div class="content">
                            <h3>An international flavor</h3>
                            <p>Between our offices, we employ 130 people from different countries, who speak 25 different native languages. We encourage everyone to gain some<br> intercultural experience by working with<br> colleagues at our office in<br> Cologne, Germany.</p>
                        </div>
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Careers/Icon_INTERNATIONAL_220x220px_02.png" alt="" width="220" height="220">
                    </div>
                    <div class="list-box list-box-item">
                        <div class="content">
                            <h3>Home office</h3>
                            <p>Do you have a repairman who can only visit in the middle of the work day? Do you have to run a critical errand close to home? It is possible to make arrangements to work from home, from time to time, so you can continue to make progress on your job while skipping<br> the commute.</p>
                        </div>
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Careers/Icon_HOMEOFFICE_220x220px_02.png" alt="" width="220" height="220">
                    </div>
                    <div class="list-box list-box-item">
                        <div class="content">
                            <h3>Retirement plan</h3>
                            <p>We provide a 401(k) plan to allow you to contribute to your future retirement and Sedo will match $0.50 on every dollar you contribute up to 6% of your annual salary.</p>
                        </div>
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Careers/Icon_RETIREMENT_220x220px.png" alt="" width="220" height="220">
                    </div>
                    <div class="list-box list-box-item">
                        <div class="content">
                            <h3>Healthcare programs</h3>
                            <p>We offer comprehensive medical, dental, vision, and supplemental healthcare plans to support keeping you and your family healthy.</p>
                        </div>
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Careers/Icon_HEALTHCARE_220x220px_02.png" alt="" width="220" height="220">
                    </div>
                </div>
            </div>
        </div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid20 frame-layout-0 frame-space-after-medium">
            <div class="ce-info-contact">
                <div class="info">
                    <h2>Applying to Sedo</h2>
                    <p></p><p><b>Application process for job openings</b><br>If one of the posted positions matches your interests and you would like to be part of our <br>dynamic international team apply for a job with us today.<br><br>Please send all of your application materials by email to <a href="mailto:boston.jobs@sedo.com" title="boston.jobs@sedo.com" class="mail">boston.jobs@sedo.com</a>.</p>
                    <p><br><b>Unsolicited applications</b><br>We accept unsolicited applications by email only. We will add you to our pool of applicants if your application meets our needs. We will then compare any positions that open up with your background and will contact you about any positions matching your qualifications. </p>
                    <p>Please understand that processing delays can occur due to the large number of applications we receive for job openings. We therefore request that you refrain from making telephone or email status inquiries.</p><p></p>
                </div>
                <div class="contact-wrapper">
                    <div class="header">
                        <h4>Your contact</h4>
                    </div>
                    <div class="contact">
                        <div class="left">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Careers/Career_220x220_FAWELL.jpg" alt="" width="220" height="220">
                        </div>
                        <div class="right">
                            <p class="name">Paul Fawell</p>
                            <p class="position">General Manager</p>
                            <p class="phone"></p>
                            <p class="mail">boston.jobs@sedo.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ce-wrapper ce-container white  frame-space-after-large">
            <!-- Image [left] + Text [right] -->
            <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-left">
                    <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Careers/8_5_C8.jpg" alt="" width="1420" height="1082">
                </div>
                <div class="ce-text-right rte">
                    <h2>
                        The team matters: Accomplish more together
                    </h2>
                    <p>Everyone at Sedo contributes their individual talents, strengths and ideas to help us achieve the best overall results. Our teamwork is strengthened through regular team activities and company gatherings.</p>
                    <p>Flat hierarchies and an open-door policy allow for uncomplicated and open communication which we value greatly. We live by and promote employee individualism and the cultural diversity which prevails among us.</p>
                </div>
            </div>
            <!-- Text [left] + Image [right] -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-right">
                    <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Careers/8_5_C3.jpg" alt="" width="1420" height="1082">
                </div>
                <div class="ce-text-left rte">
                    <h2>
                        Think globally, act without borders
                    </h2>
                    <p>Sedo is a global player in the world of domains, reaching beyond all geographical borders and barriers from Asia to Europe all the way to the Americas. </p>
                    <p>We share the experiences and values gained from our work with our customers and partners. Our products, services, and customer relationships are characterized by this global diversity, which is reflected by our ability to communicate in more than 20 languages.</p>
                </div>
            </div>
            <!-- Image [left] + Text [right] -->
            <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-left">
                    <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Careers/8_5_C7.jpg" alt="" width="1420" height="1082">

                </div>
                <div class="ce-text-right rte">
                    <h2>
                        Shape the future as an expert for tomorrow
                    </h2>
                    <p>We thrive on collaborating with both experienced workers from the domain industry and determined newcomers. </p>
                    <p>Our challenge is to offer solutions today to address issues that may come up in the future. We therefore offer advanced training opportunities for deepening and expanding your knowledge and skills to prevent any road blocks on your way to the top. </p>
                    <p>You can also count on our support when you want to climb the corporate ladder to an internal job change or developing a specialization.</p>
                </div>
            </div>
            <!-- Text [left] + Image [right] -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-right">
                    <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Careers/8_5_C5.jpg" alt="" width="1420" height="1082">
                </div>
                <div class="ce-text-left rte">
                    <h2>
                        Cultural diversity: Experience internationalism
                    </h2>
                    <p>With more than 30 different nationalities working at Sedo ensures that our services also reach our international customer base.<br><br>We also support work related travel to aid in discovering the latest in where our customers and colleagues thinking and needs are at all times. In addition to this, we have a flourishing exchange program which offers our employees the opportunity to work at one of our offices in Cologne or Boston, where they can experience new cultures and gain valuable experience while promoting cohesiveness at Sedo.</p>
                </div>
            </div>
            <!-- Image [left] + Text [right] -->
            <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-left">
                    <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Careers/8_5_C4.jpg" alt="" width="1420" height="1082">
                </div>
                <div class="ce-text-right rte">
                    <h2>
                        Work-life balance made easy
                    </h2>
                    <p>We are proud of the advantages which Sedo offers its more than 130 employees to allow each person to find a balance between work and free time. The union of work and family is important to us.</p>
                    <p>For this reason, we support you by offering flex-time to help you in balancing your professional and personal commitments. Although we are constantly on our toes, we still allow ourselves reprieves to restore our sense of wellbeing. </p>
                    <p>Humor also plays a major role here: not a day goes by without laughter roaring through our corridors.</p>
                </div>
            </div>
        </div>
        <div class="ce-wrapper grey frame-space-after-medium">

            <div class="ce-headline centered">
                <h2>What our employees think about working at Sedo:</h2>
            </div>
        </div>
        <div class="ce-wrapper ce-container grey  frame-space-after-medium">
            <!-- Text [top] + Image [bottom] [33|33|33] -->
            <div class="ce-wrapper">
                <div class="ce-textimage-ver ver-33">
                    <div class="ce-image-bottom">
                        <a href="#" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/glassdoor-logo700x300.png" alt="" width="700" height="300">
                        </a>
                    </div>
                    <div class="ce-text-top rte">
                        <h2 class="align-center">
                        </h2>
                    </div>
                </div><div class="ce-textimage-ver ver-33">
                    <div class="ce-image-bottom">
                        <a href="#" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/knunu700x300.png" alt="" width="700" height="300">
                        </a>
                    </div>
                    <div class="ce-text-top rte">
                        <h2 class="align-center">
                        </h2>
                    </div>
                </div><div class="ce-textimage-ver ver-33">
                    <div class="ce-image-bottom">
                        <a href="#" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/700x300_Xing.jpg" alt="" width="700" height="300">
                        </a>
                    </div>
                    <div class="ce-text-top rte">
                        <h2 class="align-center">
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="ce-wrapper ce-container white ">
            <!-- Text [top] + Image [bottom] [33|33|33] -->
        </div>
        <div class="ce-wrapper ce-container white  frame-space-after-medium">

            <!-- Text [top] + Image [bottom] [33|33|33] -->
        </div>
        <div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0 frame-space-before-medium frame-space-after-medium">
            <div class="ce-multicontent rte">
                <h2>Global player in an attractive market environment</h2>
                <p>With a market share of 60%, Sedo is currently the world's largest marketplace for the trading of virtual "properties" – domain names. Just like particularly valuable pieces of real estate, extraordinary internet domains are also sometimes traded for prices in the millions: for instance, the premium domain "vodka.com" achieved a <a href="/us/about-us/news-press/newsroom/" title="Sedo's Newsroom" class="internal-link">sales price of 3 million US dollars</a>. </p>
                <p><b>Our goal:</b> To work constantly to meet the needs of domain buyers and sellers all over the world. Today as well as in the future, Sedo is representative of a trustworthy partner and offers innovative services for everything involving internet domains.&nbsp;</p>
                <p>Learn more about Sedo and our <a href="#" title="Sedo Company Details" class="internal-link">company profile</a>.</p>
            </div>
        </div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid2 frame-layout-0 frame-space-after-large">
            <div class="ce-list-boxes-cta">
                <h2>More about the company</h2>
                <div class="list-boxes-item">
                    <div class="header">
                        <h4>News about the company and market</h4>
                    </div>
                    <div class="list-box list-box-left">
                        <div class="content rte">
                            <h3><b>Newsroom </b></h3>
                            <p>Press releases and basic information about Sedo</p>
                        </div>
                        <a href="#" class="blue cta"> </a>
                    </div>
                    <div class="list-box list-box-right">
                        <div class="content rte">
                            <h3><b>Market trends</b></h3>
                            <p>The latest in what's trading and expert opinions</p>
                        </div>
                        <a href="#" class="blue cta"> </a>
                    </div>
                </div>
                <div class="list-boxes-item">
                    <div class="header">
                        <h4>Additional information</h4>
                    </div>
                    <div class="list-box list-box-left">
                        <div class="content rte">
                            <h3><b>About Sedo</b></h3>
                            <p>Learn more about our company, our management, and milestones.&nbsp;</p>
                        </div>
                        <a href="#" class="blue cta"> </a>
                    </div>
                    <div class="list-box list-box-right">
                        <div class="content rte">
                            <h3><b>FAQ's</b></h3>
                            <p>Find answers to the most frequently asked questions here</p>
                        </div>
                        <a href="#" class="beige cta"> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>