
<div class="ce-image-hero resize frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-medium">

    <div class="ce-image-hero--image">

        <a href="/search/?language=us" title="Domain Search" class="hero--clickable">
            <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Case_Studies/ImageHeroes_Slider_hubspot_blau.jpg" alt="" width="1520" height="628">
        </a>

    </div>


    <div class="content">

        <div class="bright rte" data-ce="imagehero">


            <h1>Domains for your online success</h1>

            <h2>With Sedo's help, Hubspot was able to secure a perfect domain.</h2>
        </div>

        <p><a href="/search/?language=us" title="Domain Search" class="btn btn-blue cta">Find your perfect domain now</a></p>

    </div>




</div><div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0">
    <div class="ce-multicontent rte" data-ce="multicontent">
        <h2 class="style-h1">Portrait of Sedo customers</h2>
        <p>Domains have become an integral part of online marketing. And that doesn't just apply to companies who conduct the bulk of their business on the internet. Here, we present Sedo customers and their domains from all over the world.</p>
    </div>
</div><div class="ce-content-slider frame frame-default frame-type-dce_dceuid10 frame-layout-0 frame-space-after-medium">
    <div class="bx-wrapper" style="max-width: 100%;">
        <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 541px;">
            <ul class="bxslider" style="width: 715%; position: relative; transition-duration: 0s; transform: translate3d(-1309px, 0px, 0px);">
                <li style="float: left; list-style: outside none none; position: relative; width: 1309px;" class="bx-clone">

                    <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Case_Studies/Case-Studies_Hero_Slider_3040x1256_NAYOKI.jpg" alt="" width="3040" height="1256">


                    <div class="content rte" data-ce="sliderfull">
                        <h2 class="style-h1"><strong>Nayoki</strong></h2>
                        <h2>André Soulier, CEO</h2>
                        <p>"We were looking for a suitable domain for a customer's specific project in the photography sector. At Sedo we found what we were looking for and were provided with extensive support. Our customer was <strong>very happy</strong> when we produced <strong>FOTOSHOOTING.COM</strong> for their web address."</p>

                    </div>

                </li>

                <li style="float: left; list-style: outside none none; position: relative; width: 1309px;">
                    <a href="https://sedo.com/us/about-us/news-press/newsroom/sedo-end-user-case-study-desktopcom/" title="More testimonials" target="_self">
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/Home/Case-Studies_1520x628_desktop.jpg" alt="" width="1520" height="628">
                    </a>

                    <div class="content rte" data-ce="sliderfull">
                        <h2 class="style-h1">Desktop.com</h2>
                        <h2 class="style-h1">Rolf Larsen, CEO</h2>
                        <p class="style-h1">"This particular domain is unique to the service I plan to launch. People can immediately identify what type of service is behind such a name. Sedo was instrumental in structuring the legal framework and installment plan for this deal.<br> I had no doubts this would go as smoothly as it did."</p>

                        <p><a href="https://sedo.com/us/about-us/news-press/newsroom/sedo-end-user-case-study-desktopcom/" title="More testimonials" target="_self" class="btn btn-darkgrey cta">Read the full story!</a></p>

                    </div>

                </li>

                <li style="float: left; list-style: outside none none; position: relative; width: 1309px;">

                    <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Case_Studies/Testimonial_Sedo_IONOS_Slider.jpg" alt="" width="1520" height="628">


                    <div class="content rte" data-ce="sliderfull">
                        <h2 class="style-h1">1&amp;1 IONOS</h2>
                        <h2>Christian Böing, Chief Revenue Officer</h2>
                        <p>"As part of the rebranding of the hosting division of 1 &amp; 1, we had to secure the domain names for our new brand 1 &amp; 1 IONOS utilizing the most important top-level top domains. Timeliness and anonymity do play particularly important roles in our global brand presence.</p>
                        <p>That's why we confidently turned to Sedo and were even <strong>more satisfied than expected</strong> with the result: within a very short time, Sedo's domain broker was able to contact all of the owners, negotiate successfully, and get us all of the crucial domains for our best international online presence. "</p>

                    </div>

                </li>

                <li style="float: left; list-style: outside none none; position: relative; width: 1309px;">

                    <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Case_Studies/Case-Studies_Hero_Slider_3040x1256_GETAROOM.jpg" alt="" width="3040" height="1256">


                    <div class="content rte" data-ce="sliderfull">
                        <h2 class="style-h1">GetaRoom</h2>
                        <h2>Dave Litman, Managing director</h2>
                        <p>"We are very happy with our purchase of the <strong>GETAROOM.COM</strong> domain. The name is uncomparable, <strong>unique</strong>, and <strong>easy to remember.</strong> We also invested in advertising to make our company known on the market, but many customers find us directly due to our descriptive domain."</p>

                    </div>

                </li>

                <li style="float: left; list-style: outside none none; position: relative; width: 1309px;">

                    <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Case_Studies/Case-Studies_Hero_Slider_3040x1256_KICK.jpg" alt="" width="3040" height="1256">


                    <div class="content rte" data-ce="sliderfull">
                        <h2 class="style-h1"><strong>KIK</strong></h2>
                        <h2>Lars Nierfeld, Managing Director</h2>
                        <p>"Our former address<strong> kik-textilien.de </strong>no longer met the requirements of our marketing strategy: the address was too long and difficult to remember. With <strong>KIK.DE</strong> we achieved a <strong>short</strong> and <strong>catchy </strong>name. Sedo reassured us that this was the best course of action and handled the negotiations flawlessly."</p>

                    </div>

                </li>

                <li style="float: left; list-style: outside none none; position: relative; width: 1309px;">

                    <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Case_Studies/Case-Studies_Hero_Slider_3040x1256_NAYOKI.jpg" alt="" width="3040" height="1256">


                    <div class="content rte" data-ce="sliderfull">
                        <h2 class="style-h1"><strong>Nayoki</strong></h2>
                        <h2>André Soulier, CEO</h2>
                        <p>"We were looking for a suitable domain for a customer's specific project in the photography sector. At Sedo we found what we were looking for and were provided with extensive support. Our customer was <strong>very happy</strong> when we produced <strong>FOTOSHOOTING.COM</strong> for their web address."</p>

                    </div>

                </li>

                <li style="float: left; list-style: outside none none; position: relative; width: 1309px;" class="bx-clone">
                    <a href="https://sedo.com/us/about-us/news-press/newsroom/sedo-end-user-case-study-desktopcom/" title="More testimonials" target="_self">
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/Home/Case-Studies_1520x628_desktop.jpg" alt="" width="1520" height="628">
                    </a>

                    <div class="content rte" data-ce="sliderfull">
                        <h2 class="style-h1">Desktop.com</h2>
                        <h2 class="style-h1">Rolf Larsen, CEO</h2>
                        <p class="style-h1">"This particular domain is unique to the service I plan to launch. People can immediately identify what type of service is behind such a name. Sedo was instrumental in structuring the legal framework and installment plan for this deal.<br> I had no doubts this would go as smoothly as it did."</p>

                        <p><a href="https://sedo.com/us/about-us/news-press/newsroom/sedo-end-user-case-study-desktopcom/" title="More testimonials" target="_self" class="btn btn-darkgrey cta">Read the full story!</a></p>

                    </div>

                </li>
            </ul>
        </div><div class="bx-controls bx-has-pager"><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div><div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div><div class="bx-pager-item"><a href="" data-slide-index="2" class="bx-pager-link">3</a></div><div class="bx-pager-item"><a href="" data-slide-index="3" class="bx-pager-link">4</a></div><div class="bx-pager-item"><a href="" data-slide-index="4" class="bx-pager-link">5</a></div></div></div>
    </div>
</div><div class="ce-wrapper grey xx frame frame-default frame-type-dce_dceuid12 frame-layout-0 frame-space-before-medium frame-space-after-medium">
    <div class="ce-multicontent rte" data-ce="multicontent">
        <h2 class="style-h1">Case Studies: The best domains for each and every one of our customers</h2>
    </div>
</div>


<div class="ce-wrapper ce-container white  frame-space-after-medium">

    <!-- Image [left] + Text [right] -->
    <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
    <div class="ce-textimage-hor ">
        <div class="ce-image-left">



            <a href="/fileadmin/documents/Case_Studies/Sedo_CaseStudy_2016_FURNITURE-co-uk_05_FINAL.pdf" title="Download case study" class="cta">

                <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Case_Studies/Logo_FURNITURE-CO-UK_1420x1082px.jpg" alt="" width="1420" height="1082">

            </a>


        </div>
        <div class="ce-text-right rte" data-ce="textimage">

            <h2>

                Furniture.co.uk - Premium domains provide instant authority
            </h2>
            <p>Businessman and domainer, Graham Haynes purchased <strong>furniture.co.uk</strong> complimenting his 2009 purchase of <strong>BedroomFurniture.co.uk</strong>. The goal of this purchase is to capitalize on the domain’s authority within online search results.</p>
            <p><a href="/fileadmin/documents/Case_Studies/Sedo_CaseStudy_2016_FURNITURE-co-uk_05_FINAL.pdf" title="Ready Hubspot Case Study" class="btn btn-blue">Download case study</a></p>
        </div>
    </div>


</div>





<div class="ce-wrapper ce-container white  frame-space-after-medium">

    <!-- Image [left] + Text [right] -->
    <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
    <div class="ce-textimage-hor ">
        <div class="ce-image-left">



            <a href="/fileadmin/documents/Case_Studies/Sedo_CaseStudy_2014_HUBSPOT_FINAL.pdf" title="Download case study" class="cta">

                <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Case_Studies/hubspot_1420.jpg" alt="" width="1420" height="1082">

            </a>


        </div>
        <div class="ce-text-right rte" data-ce="textimage">

            <h2>

                HubSpot: more familiarity due to smart domain marketing
            </h2>
            <p><strong>Dharmesh Shah</strong> is not only the co-founder and CTO of globally known <strong>HubSpot.com</strong>. What began as an internal slide deck, quickly transformed into a widely-viewed interactive platform for a company’s unique culture. With <strong>CultureCode.com,</strong> HubSpot proved how a domain can be successful at sharing an important idea. And Sedo’s brokerage service was instrumental in making this domain purchase a reality – in only a day’s time!</p>
            <p><a href="/fileadmin/documents/Case_Studies/Sedo_CaseStudy_2014_HUBSPOT_FINAL.pdf" title="Ready Hubspot Case Study" class="btn btn-blue">Download case study</a></p>
        </div>
    </div>


</div>





<div class="ce-wrapper ce-container white  frame-space-after-medium">

    <!-- Image [left] + Text [right] -->
    <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
    <div class="ce-textimage-hor ">
        <div class="ce-image-left">



            <a href="/fileadmin/documents/Case_Studies/Success_Story_LogoCom_EN.pdf" title="Download case study" class="cta">

                <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Case_Studies/logocom_1420.jpg" alt="" width="1420" height="1082">

            </a>


        </div>
        <div class="ce-text-right rte" data-ce="textimage">

            <h2>

                Logo.com makes a name for itself internationally
            </h2>
            <p>"The domain name <strong>Logo.com</strong> gives us an immediate presence in the online logo design space. Our primary goal is to provide small business customers with affordable, high quality logo designs that help them successfully establish their company's identity."</p>
            <p><strong>Alan Townsend</strong><br> Co-founder, Logo.com, LLC</p>
            <p><a href="/fileadmin/documents/Case_Studies/logo_com_DE_rgb_V3.pdf" title="Logo.com Case Study" class="btn btn-blue">Download case study</a></p>
        </div>
    </div>


</div>





<div class="ce-wrapper ce-container white  frame-space-after-medium">

    <!-- Image [left] + Text [right] -->
    <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
    <div class="ce-textimage-hor ">
        <div class="ce-image-left">



            <a href="/fileadmin/documents/Case_Studies/Sedo_Domain_Success_Story_GIVE-COM.pdf" class="cta">

                <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Case_Studies/givecom_1420.jpg" alt="" width="1420" height="1082">

            </a>


        </div>
        <div class="ce-text-right rte" data-ce="textimage">

            <h2>

                Give.com – Premium domain for a good cause
            </h2>
            <p>Brent Oxley uses his charitable organization to bring food, medicine, and clean water wells to third world countries. And, thanks to Sedo, he was able to secure an outstanding domain name: <strong>Give.com</strong> ensures international attention for its charity and provides the credibility necessary for obtaining donations.</p>
            <p><a href="/fileadmin/documents/Case_Studies/Sedo_Domain_Success_Story_GIVE-COM.pdf" title="Logo.com Case Study" class="btn btn-blue">Download case study</a></p>
        </div>
    </div>


</div>





<div class="ce-wrapper ce-container white  frame-space-after-large">

    <!-- Image [left] + Text [right] -->
    <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
    <div class="ce-textimage-hor ">
        <div class="ce-image-left">



            <a href="/fileadmin/documents/Case_Studies/Success_Story_CoffeeOrg.pdf" title="Download case study" class="cta">

                <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Case_Studies/COFFEE-ORG_1420x1082.jpg" alt="" width="1420" height="1082">

            </a>


        </div>
        <div class="ce-text-right rte" data-ce="textimage">

            <h2>

                GourmetCoffee.org – it doesn't always have to be .com
            </h2>
            <p>It was clear to <strong>William McClure</strong> that the right domain suffix for confidence and seriousness in the coffee industry didn't necessarily require a .com address. Instead, he followed the sound advice of the Sedo experts and selected a much less expensive .org domain. And he was right: His domain <strong>GourmetCoffee.org</strong> is one of the most important components of his company's success.</p>
            <p><a href="/fileadmin/documents/Case_Studies/Success_Story_CoffeeOrg.pdf" title="Success Story Coffee.org" class="btn btn-blue">Download case study</a></p>
        </div>
    </div>


</div>



