<div id="search-app">
    <aside id="search-filter-wrapper">

        <div class="headline">
            <strong>Filter by:</strong>
            <a class="filter-reset-all" href="#">Reset search</a>
        </div>

        <div class="search-filter-item filter-small" id="search-filter-adult">
            <div class="setting">
                <input type="checkbox" name="adult" id="checkbox-adult">
                <label for="checkbox-adult">Include adult domains</label>
            </div>
        </div>

        <div class="search-filter-item filter-small filter-collapsed" id="search-filter-synonyms">
            <div class="setting">
                <input type="checkbox" name="synonyms" id="checkbox-synonyms">
                <label for="checkbox-synonyms">Include keyword variations</label>
            </div>
        </div>

        <div class="search-filter-item filter-big" id="search-filter-keywordposition">
            <div class="headline">
                Keyword placement
                <a class="filter-close" href="#" style="display: none;"></a>
            </div>
            <div class="content">
                <div class="setting">
                    <input type="radio" name="keywordposition" value="contains" id="radio-keywordposition-contains">
                    <label for="radio-keywordposition-contains">Contains</label>
                </div>
                <div class="setting">
                    <input type="radio" name="keywordposition" value="left" id="radio-keywordposition-left">
                    <label for="radio-keywordposition-left">Starts with</label>
                </div>
                <div class="setting">
                    <input type="radio" name="keywordposition" value="right" id="radio-keywordposition-right">
                    <label for="radio-keywordposition-right">Ends with</label>
                </div>
            </div>
        </div>

        <div class="search-filter-item filter-big filter-collapsed" id="search-filter-offertypes">
            <div class="headline">
                Listing Type            <a class="filter-close" href="#" style="display: none;"></a>
            </div>
            <div class="content">
                <div class="setting">
                    <input type="checkbox" name="offertype_buynow" id="checkbox-offertype-buynow">
                    <label for="checkbox-offertype-buynow">Buy now listings</label>
                </div>
                <div class="setting">
                    <input type="checkbox" name="offertype_negotiation" id="checkbox-offertype-negotiation">
                    <label for="checkbox-offertype-negotiation">Negotiable listings</label>
                </div>
                <div class="setting">
                    <input type="checkbox" name="offertype_auctions" id="checkbox-offertype-auctions">
                    <label for="checkbox-offertype-auctions">Marketplace auctions</label>
                </div>
                <div class="setting">
                    <input type="checkbox" name="offertype_expired" id="checkbox-offertype-expired">
                    <label for="checkbox-offertype-expired">Expiring Domain Auctions</label>
                </div>
                <div class="setting">
                    <input type="checkbox" name="offertype_specialauctions" id="checkbox-offertype-specialauctions">
                    <label for="checkbox-offertype-specialauctions">Special auction</label>
                </div>

                <div id="search-filter-offertypes-specialauctions">
                    <div class="setting">
                        <input type="checkbox" id="checkbox-offertype-specialauctions-532">
                        <label for="checkbox-offertype-specialauctions-532">No Reserve .co Auction</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="checkbox-offertype-specialauctions-533">
                        <label for="checkbox-offertype-specialauctions-533">GreatDomains Auction</label>
                    </div>
                </div>
                <div class="setting hidden">
                    <input type="checkbox" name="offertype_portfolio" id="checkbox-offertype-portfolio">
                    <label for="checkbox-offertype-portfolio">Portfolio</label>
                </div>
            </div>
        </div>

        <div class="search-filter-item filter-big filter-collapsed" id="search-filter-pricerange">
            <div class="headline">
                Price range            <a class="filter-close" href="#" style="display: none;"></a>
            </div>
            <div class="content">
                <div class="setting">
                    <div>
                        <input type="text" class="min"> to <input type="text" class="max">
                        <div class="currency-selector">
                            <a href="#" class="currency-active"><span>USD</span></a>
                            <div class="currency-pool" style="display: none;">
                                <ul>
                                    <li><a href="#">USD</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="setting">
                    <div id="slider-pricerange" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 100%;"></span></div>
                </div>
            </div>
        </div>

        <div class="search-filter-item filter-big filter-collapsed" id="search-filter-length">
            <div class="headline">
                Domain length            <a class="filter-close" href="#" style="display: none;"></a>
            </div>
            <div class="content">
                <div class="characters"><span class="amount">1 to ∞ characters</span></div>
                <div id="slider-length-characters" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 100%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 100%;"></span></div>

                <div class="words"><span class="amount">1 to ∞ words</span></div>
                <div id="slider-length-words" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 100%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 100%;"></span></div>
            </div>
        </div>

        <div class="search-filter-item filter-big filter-collapsed" id="search-filter-specialcharacters">
            <div class="headline">
                Special characters            <a class="filter-close" href="#" style="display: none;"></a>
            </div>
            <div class="content">
                <div class="setting">
                    <input type="checkbox" name="specialchars_hyphens" id="checkbox-specialchars-hypens">
                    <label for="checkbox-specialchars-hypens">Include domains with hyphens</label>
                </div>
                <div class="setting">
                    <input type="checkbox" name="specialchars_digits" id="checkbox-specialchars-digits">
                    <label for="checkbox-specialchars-digits">Include domains with numerals</label>
                </div>
                <div class="setting">
                    <input type="checkbox" name="specialchars_idn" id="checkbox-specialchars-idn">
                    <label for="checkbox-specialchars-idn">Include IDN domains</label>
                </div>
                <div class="setting">
                    <input type="checkbox" name="specialchars_nummericonly" id="checkbox-specialchars-numericonly">
                    <label for="checkbox-specialchars-numericonly">Domains with numerals only</label>
                </div>
            </div>
        </div>

        <div class="search-filter-item filter-big filter-collapsed" id="search-filter-type">
            <div class="headline">
                Domains/Websites            <a class="filter-close" href="#" style="display: none;"></a>
            </div>
            <div class="content">
                <div class="setting">
                    <input type="radio" name="type" value="0" id="radio-type-all">
                    <label for="radio-type-all">Websites and Domains</label>
                </div>
                <div class="setting">
                    <input type="radio" name="type" value="2" id="radio-type-domains">
                    <label for="radio-type-domains">Domains only</label>
                </div>
                <div class="setting">
                    <input type="radio" name="type" value="1" id="radio-type-websites">
                    <label for="radio-type-websites">Websites only</label>
                </div>
            </div>
        </div>

        <div class="search-filter-item filter-big filter-collapsed" id="search-filter-category">
            <div class="headline">
                Categories
                <a class="filter-close" href="#" style="display: none;"></a>
            </div>
            <div class="content">
                <div class="setting">
                    <a href="#">Select category</a>
                </div>
                <div class="setting">
                    <a href="#">Select category</a>
                </div>
                <div class="setting">
                    <a href="#">Select category</a>
                </div>
            </div>
        </div>

        <div class="search-filter-item filter-big filter-collapsed" id="search-filter-inventory">
            <div class="headline">
                Special inventory            <a class="filter-close" href="#" style="display: none;"></a>
            </div>
            <div class="content">
                <div class="setting">
                    <input type="radio" name="inventory" value="4" id="radio-inventory-none">
                    <label for="radio-inventory-none">No special inventory filter</label>
                </div>
                <div class="setting">
                    <input type="radio" name="inventory" value="1" id="radio-inventory-topdomains">
                    <label for="radio-inventory-topdomains">Top domains only</label>
                </div>
                <div class="setting">
                    <input type="radio" name="inventory" value="2" id="radio-inventory-featured">
                    <label for="radio-inventory-featured">Showcases only</label>
                </div>
            </div>
        </div>

        <div class="search-filter-item filter-big filter-collapsed" id="search-filter-addeddate">
            <div class="headline">
                New domains, added in:            <a class="filter-close" href="#" style="display: none;"></a>
            </div>
            <div class="content">
                <div>
                    <span class="date">All</span>
                    <div id="slider-dateadded" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 100%;"></span>
                    </div>
                </div>
            </div>
        </div>

        <div id="filter-actions-responsive">
            <a href="#" class="btn-wire">Cancel</a>
            <a href="#" class="btn-blue">Apply filters</a>
        </div>

    </aside>
    <div id="search-result-wrapper">
        <div class="sedo-survey-wrapper">
            <div class="sedo-survey">
                <div class="sedo-survey__content">
                    <strong>We need your Feedback!</strong> Help us to <strong>improve</strong>
                    the search and thus <strong>your experience</strong> with answering a few questions.
                </div>
                <div class="sedo-survey__button">
                    <a href="#" target="_blank" class="button typeform-share button--link button--primary">
                        Go to survey
                    </a>
                </div>
            </div>
        </div>
        <div id="search-result-header">
            <div id="filter-responsive">
                <a id="filter-toggle-btn" href="#"><svg class="s-font-sliders"><use xlink:href="#s-font-sliders"></use></svg> Show filter</a>
                <a class="filter-reset-all" href="#"></a>
            </div>
            <div id="sort-responsive">
                <a id="sort-toggle-btn" href="#"><svg class="s-font-exchange"><use xlink:href="#s-font-exchange"></use></svg> Sort</a>
                <div id="sort-responsive-wrapper" class="tooltip tooltip-left">
                    <ul>
                        <li>
                            <a href="#" class="search-sorting-item search-sorting-item-6 desc">Relevance</a>
                        </li>
                        <li>
                            <a href="#" class="search-sorting-item search-sorting-item-2">Price</a>
                        </li>
                        <li>
                            <a href="#" class="search-sorting-item search-sorting-item-9 hidden">Reserve Range</a>
                        </li>
                        <li>
                            <a href="#" class="search-sorting-item search-sorting-item-1">Name</a>
                        </li>
                        <li>
                            <a data-content="4" href="#" class="search-sorting-item search-sorting-item-4">Bids</a>
                        </li>
                        <li>
                            <a data-content="7" href="#" class="search-sorting-item search-sorting-item-7">Date created</a>
                        </li>
                        <li>
                            <a data-content="8" href="#" class="search-sorting-item search-sorting-item-8 hidden">Time remaining</a>
                        </li>
                        <li>
                            <a data-content="10" href="#" class="search-sorting-item search-sorting-item-10 hidden">Traffic</a>
                        </li>
                    </ul>
                </div>
            </div>
            <h2>
                <span id="search-result-headline">Your search</span>
                <strong id="search-result-count-wrapper"><span id="search-result-count" style="display: inline;">&gt; 2000 Results</span></strong>
            </h2>

            <a id="export-download-btn" target="_blank" href="#" style="display: none;">Download all Results</a>
            <a id="search-save-btn" href="#">Save this Search</a>
            <div class="tooltip tooltip-right" id="search-save-layer">
                <form id="search-save-form" action="#">
                    <input type="text" id="search-save-name" placeholder="Saved Search Name">
                    <input type="submit" value="Save" id="search-save-submit">
                </form>
                <div class="error-message u-hidden"></div>
                <div class="success-message u-hidden"></div>
                <div class="flextable" id="search-save-items">
                    <div id="search-save-loader"><img src="https://cdn.sedo.com/images/loader-black.gif" alt="loading..." width="14" height="14"></div>
                </div>
            </div>
        </div>
        <div id="search-result-error" class="hidden" style="display: none;">
            <svg class="s-font-scope"><use xlink:href="#"></use></svg>
            <h2>We've looked everywhere.</h2>
            <h3>But could not find any domains to match this search.</h3>
            <p>You can try to:</p>
            <ul>
                <li id="search-result-error-revise">
                    <svg class="s-font-flyout-menue-icon-search-database"><use xlink:href="#"></use></svg>
                    <a href="#">Revise your Query</a>
                    in the search field at the top of this page
                </li>
                <li id="search-result-error-reset">
                    <svg class="s-font-sliders"><use xlink:href="#"></use></svg>
                    <a href="#">Reset the Filters</a>
                    on the left to show you more results
                </li>
                <li id="search-result-error-broker">
                    <svg class="s-font-user-border"><use xlink:href="#"></use></svg>
                    <a href="#">Hire a Broker</a>
                    They might be able to get you exactly the domain you are looking for
                </li>
            </ul>
        </div>
        <div id="search-actions" class="">

            <div id="search-options">
                <input type="checkbox" name="select-all" id="checkbox-select-all" class="customcheckbox"><label for="checkbox-select-all"></label>
                <a href="#" class="search-icon icn_watchlist" title="Add domain to watchlist"></a>
            </div>

            <div id="search-sorting" class="">
                <strong class="search-sorting-label">Sort by:</strong>
                <a data-content="6" href="#" class="search-sorting-item search-sorting-item-6 desc">Relevance</a>
                <a data-content="2" href="#" class="search-sorting-item search-sorting-item-2">Price</a>
                <a data-content="9" href="#" class="search-sorting-item search-sorting-item-9 hidden">Reserve Range</a>
                <a data-content="1" href="#" class="search-sorting-item search-sorting-item-1">Name</a>
                <a data-content="4" href="#" class="search-sorting-item search-sorting-item-4">Bids</a>
                <a data-content="7" href="#" class="search-sorting-item search-sorting-item-7">Date created</a>
                <a data-content="8" href="#" class="search-sorting-item search-sorting-item-8 hidden">Time remaining</a>
                <a data-content="10" href="#" class="search-sorting-item search-sorting-item-10 hidden">Traffic</a>
            </div>

        </div>

        <div id="search-result-list-notification" class="hidden">
            <span></span>
            <a class="hide-notification" href="#"></a>
        </div>

        <div id="search-result-list-wrapper">

            <div id="search-result-list" class="flextable">
                <div class="flextable-row flextable-header">
                    <div class="table-head flextable-col head-option"><!-- Checkbox --></div>
                    <div class="table-head flextable-col head-name">Domain</div>
                    <div class="table-head flextable-col head-traffic">Traffic</div>
                    <div class="table-head flextable-col head-bids">Bids</div>
                    <div class="table-head flextable-col head-price">Price</div>
                    <div class="table-head flextable-col head-cta"><!-- Button --></div>
                </div>

                <div class="search-result-list-headline flextable-row">
                    <div class="flextable-col">Showcases</div>
                </div>
                <div class="item-result item-featured flextable-row gtm-visited" data-id="356117848" data-page="" data-index="" data-type="2" data-puny="bigmafia.com" data-listingtype="Negotiation" data-skip="true" data-odp="/search/details/modal/?domain=bigmafia.com&amp;trackingRequestId=588684789&amp;origin=search&amp;language=us&amp;p=6_1" data-gtm-in-viewport="{
        &quot;id&quot;: &quot;356117848&quot;,
        &quot;name&quot;: &quot;bigmafia.com&quot;,
        &quot;category&quot;: &quot;2&quot;,
        &quot;list&quot;: &quot;Search Results&quot;,
        &quot;position&quot;: &quot;&quot;
     }">
                    <div class="item-option flextable-col">
                        <input type="checkbox" name="select-domain" id="356117848-featured" data-domain="bigmafia.com" class="customcheckbox grey"><label for="356117848-featured"></label>
                    </div>
                    <div class="item-name flextable-col" title="bigmafia.com">
                        <span class="domain">
                            <span class="domainname">bigmafia</span>
                            <span class="domaintld">
                                .com



                            </span>
                        </span>
                        <div class="responsive-domaininfo">
                            <div class="responsive-traffic">Traffic <strong>283</strong></div>
                            <div class="responsive-bids">Bids <strong>0</strong></div>
                        </div>
                    </div>
                    <div class="item-traffic flextable-col">283</div>
                    <div class="item-bids flextable-col">0</div>
                    <div class="item-price flextable-col">5,000,000 USD</div>
                    <div class="item-cta flextable-col">
                        <a href="#" class="btn-green">Make offer</a>
                    </div>
                </div>

                <div class="item-result item-featured flextable-row gtm-visited">
                    <div class="item-option flextable-col">
                        <input type="checkbox" name="select-domain" id="341103727-featured" class="customcheckbox grey">
                        <label for="341103727-featured"></label>
                    </div>
                    <div class="item-name flextable-col" title="my54.com">
                        <span class="domain">
                            <span class="domainname">my54</span>
                            <span class="domaintld">
                                .com
                            </span>
                        </span>
                        <div class="responsive-domaininfo">
                            <div class="responsive-traffic">Traffic <strong>23</strong></div>
                            <div class="responsive-bids">Bids <strong>1</strong></div>
                        </div>
                    </div>
                    <div class="item-traffic flextable-col">23</div>
                    <div class="item-bids flextable-col">1</div>
                    <div class="item-price flextable-col">945 EUR</div>
                    <div class="item-cta flextable-col">
                        <a href="#" class="btn-green">Make offer</a>
                    </div>
                </div>

                <div class="item-result item-featured flextable-row gtm-visited">
                    <div class="item-option flextable-col">
                        <input type="checkbox" name="select-domain" id="357303397-featured" data-domain="theselfdrive.com" class="customcheckbox grey">
                        <label for="357303397-featured"></label>
                    </div>
                    <div class="item-name flextable-col" title="theselfdrive.com">
                        <span class="domain">
                            <span class="domainname">theselfdrive</span>
                            <span class="domaintld">
                                .com
                            </span>
                        </span>
                        <div class="responsive-domaininfo">

                            <div class="responsive-bids">Bids <strong>0</strong></div>
                        </div>
                    </div>
                    <div class="item-traffic flextable-col"></div>
                    <div class="item-bids flextable-col">0</div>
                    <div class="item-price flextable-col">999 USD</div>
                    <div class="item-cta flextable-col">
                        <a href="#" class="btn-green">Make offer</a>
                    </div>
                </div>
                <div class="item-result item-featured flextable-row gtm-visited">
                    <div class="item-option flextable-col">
                        <input type="checkbox" name="select-domain" id="357076798-featured" class="customcheckbox grey">
                        <label for="357076798-featured"></label>
                    </div>
                    <div class="item-name flextable-col" title="carsloan.com">
                        <span class="domain">
                            <span class="domainname">carsloan</span>
                            <span class="domaintld">
                                .com
                            </span>
                        </span>
                        <div class="responsive-domaininfo">
                            <div class="responsive-traffic">Traffic <strong>52</strong></div>
                            <div class="responsive-bids">Bids <strong>0</strong></div>
                        </div>
                    </div>
                    <div class="item-traffic flextable-col">52</div>
                    <div class="item-bids flextable-col">0</div>
                    <div class="item-price flextable-col">4,888 EUR</div>
                    <div class="item-cta flextable-col">
                        <a href="#" class="btn-green">Buy now</a>
                    </div>
                </div>

                <div class="item-result item-organic flextable-row gtm-visited">
                    <div class="item-option flextable-col">
                        <input type="checkbox" name="select-domain" id="347626312" data-domain="media.com" class="customcheckbox grey"><label for="347626312"></label>
                    </div>
                    <div class="item-name flextable-col" title="media.com">
                        <span class="domain">
                            <span class="domainname">media</span>
                            <span class="domaintld">
                                .com



                            </span>
                        </span>
                        <div class="responsive-domaininfo">

                            <div class="responsive-bids">Bids <strong>2</strong></div>
                        </div>
                    </div>
                    <div class="item-traffic flextable-col"></div>
                    <div class="item-bids flextable-col">2</div>
                    <div class="item-price flextable-col"></div>
                    <div class="item-cta flextable-col">
                        <a href="#">Make offer</a>
                    </div>
                </div>

                <div class="flextable-row flextable-footer">
                    <div id="search-result-list-loader" class="flextable-col hidden">
                        <img src="https://cdn.sedo.com/images/loader-black.gif" alt="loading..." width="14" height="14">
                    </div>
                    <div id="search-result-list-fallback" class="flextable-col">
                        <span style="font-weight: bold; color: #999;"></span>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <aside id="search-sidebar-wrapper" class="search-sidebar-visible">
        <div id="search-sidebar-content">
            <div id="inquire-box">
                <div id="inquire-broker" class="">
                    <div id="broker-avatar-wrapper">
                        <img id="broker-avatar" src="/../img/agents.png" width="45" height="45">
                    </div>
                    <div id="broker-information">
                        <strong id="broker-name">Dave Evanson</strong>
                        Domain Sales Expert
                    </div>
                </div>
                <p id="broker-quote">
                    Contact us to acquire these domains
                </p>
                <p class="" id="broker-no-results">No suitable domain? Just ask our <a href="/us/services/broker-service/">broker</a>.</p>
                <div id="inquire-list-wrapper" style="display: none;"></div>
                <div id="inquire-box-loader" style="display: none;"><img src="https://cdn.sedo.com/images/loader-black.gif" width="14" height="14"></div>
            </div>

            <div id="featured-boxes-wrapper" data-ids="1,2,3,4,5,6">
                <h3>Featured Domains</h3>
                <div id="featured-box-loader" style="display: none;"><img src="https://cdn.sedo.com/images/loader-black.gif" width="14" height="14"></div>
                <div class="featured-box featured-group-1" data-group="1" style="display: block;">
                    <ul class="featured-box-list">
                        <li title="liveimprovisation.com">
                            <a class="btn-arrow" href="#">
                                <span class="featured-name">
                                    <strong>liveimprovisation.com</strong>
                                    Buy now
                                </span>
                            </a>
                        </li>
                        <li title="looseat.com">
                            <a class="btn-arrow" href="#">
                                <span class="featured-name">
                                    <strong>looseat.com</strong>
                                    Buy now
                                </span>
                            </a>
                        </li>
                        <li title="focuscubed.com">
                            <a class="btn-arrow" href="#">
                                <span class="featured-name">
                                    <strong>focuscubed.com</strong>
                                    Buy now
                                </span>
                            </a>
                        </li>
                        <li title="boosterexhaust.com">
                            <a class="btn-arrow" href="#">
                                <span class="featured-name">
                                    <strong>boosterexhaust.com</strong>
                                    Negotiation
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="featured-box featured-group-2" data-group="2" style="display: block;">
                    <ul class="featured-box-list">
                        <li title="warezrecon.com">
                            <a class="btn-arrow" href="#">
                                <span class="featured-name">
                                    <strong>warezrecon.com</strong>
                                    Buy now
                                </span>
                            </a>
                        </li>
                        <li title="gotwillpower.com">
                            <a class="btn-arrow" href="#">
                                <span class="featured-name">
                                    <strong>gotwillpower.com</strong>
                                    Buy now
                                </span>
                            </a>
                        </li>
                        <li title="lifeguardarmy.com">
                            <a class="btn-arrow" href="#">
                                <span class="featured-name">
                                    <strong>lifeguardarmy.com</strong>
                                    Buy now
                                </span>
                            </a>
                        </li>
                        <li title="477522.com">
                            <a class="btn-arrow" href="#">
                                <span class="featured-name">
                                    <strong>477522.com</strong>
                                    Buy now
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="featured-box featured-group-3" data-group="3" style="display: block;">
                    <ul class="featured-box-list">
                        <li title="cheaphammock.com">
                            <a class="btn-arrow" href="#">
                                <span class="featured-name">
                                    <strong>cheaphammock.com</strong>
                                    Buy now
                                </span>
                            </a>
                        </li>
                        <li title="keciboynuzu.com">
                            <a class="btn-arrow" href="#">
                                <span class="featured-name">
                                    <strong>keciboynuzu.com</strong>
                                    Buy now
                                </span>
                            </a>
                        </li>
                        <li title="sciencetelescope.com">
                            <a class="btn-arrow" href="#">
                                <span class="featured-name">
                                    <strong>sciencetelescope.com</strong>
                                    Buy now
                                </span>
                            </a>
                        </li>
                        <li title="militarybackpacks.com">
                            <a class="btn-arrow" href="#">
                                <span class="featured-name">
                                    <strong>militarybackpacks.com</strong>
                                    Buy now
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="featured-box featured-group-4" data-group="4" style="display: block;">
                    <ul class="featured-box-list">
                        <li title="swooshtime.com">
                            <a class="btn-arrow" href="#">
                                <span class="featured-name">
                                    <strong>swooshtime.com</strong>
                                    Negotiation
                                </span>
                            </a>
                        </li>
                        <li title="pointsforcash.com">
                            <a class="btn-arrow" href="#">
                                <span class="featured-name">
                                    <strong>pointsforcash.com</strong>
                                    Buy now
                                </span>
                            </a>
                        </li>
                        <li title="nurseryplanet.com">
                            <a class="btn-arrow" href="#">
                                <span class="featured-name">
                                    <strong>nurseryplanet.com</strong>
                                    Negotiation
                                </span>
                            </a>
                        </li>
                        <li title="babylonvideo.com">
                            <a class="btn-arrow" href="#">
                                <span class="featured-name">
                                    <strong>babylonvideo.com</strong>
                                    Buy now
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="featured-box featured-group-5" style="display: block;">
                    <ul class="featured-box-list">
                        <li title="honki-affiliate.com">
                            <a class="btn-arrow" href="#">
                                <span class="featured-name">
                                    <strong>honki-affiliate.com</strong>
                                    Buy now
                                </span>
                            </a>
                        </li>
                        <li title="461489.com">
                            <a class="btn-arrow" href="#">
                                <span class="featured-name">
                                    <strong>461489.com</strong>
                                    Buy now
                                </span>
                            </a>
                        </li>
                        <li title="indianalanternfest.com">
                            <a class="btn-arrow" href="#">
                                <span class="featured-name">
                                    <strong>indianalanternfest...</strong>
                                    Buy now
                                </span>
                            </a>
                        </li>
                        <li title="peninsulamoose.com">
                            <a class="btn-arrow" href="#">
                                <span class="featured-name">
                                    <strong>peninsulamoose.com</strong>
                                    Buy now
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
</div>
