<main role="main" id="content-main-wrapper" class="content-wrapper-full">
    <div class="t3-content-fullwidth">
        <div class="ce-wrapper grey frame-space-before-medium frame-space-after-medium">
            <div class="ce-headline">
                <h1>Company Info</h1>
            </div>
        </div>
        <div class="ce-wrapper ce-container white ">
            <!-- Image [left] + Text [right] -->
            <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-left">
                    <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/FAQ.jpg" alt="" width="1420" height="1082">
                </div>
                <div class="ce-text-right rte" ">
                    <h2>
                        Contact Information:
                    </h2>
                    <h3><strong>Sedo.com, LLC</strong></h3>
                    <p>222 Third Street, Suite 3120<br> Cambridge, MA 02142<br> Tel. (617) 499-7200<br> Email: contact@sedo.com</p>
                    <p>Customer Support Hours: Monday-Friday 9am-5pm EST/EDT<br> Transfer Support Hours: Monday-Friday 9am-5pm EST/EDT</p>
                    <p><strong>Managing Directors:</strong><br> Matthias Conrad, Paul Fawell, Barbara Stolz</p>
                    <p><a href="#" title="Our Management Team" class="internal-link">Get to know our management team</a><br> &nbsp;</p>
                </div>
            </div>
            <!-- Text [left] + Image [right] -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-right">
                    <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Standorte_1420_US.jpg" alt="" width="1420" height="1082">
                </div>
                <div class="ce-text-left rte">
                    <h2>
                        Copyright:
                    </h2>
                    <p>All pages, text, and data are property of Sedo and may not be duplicated, passed on, or linked to other sites without prior permission. </p>
                    <p>We do not assume any responsibility for, nor guarantee the validity of, the content of our pages or the displayed domain data. Offering a domain for sale which infringes a trademark or patent is completely the responsibility of the offering party and Sedo can not be held liable for any actions of its members. </p>
                    <p>If you have any questions, problems or suggestions, feel free to <a href="#" title="Contact Sedo" class="internal-link">contact us</a> at any time.</p>
                </div>
            </div>
        </div>
    </div>
</main>
