@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="ce-image-hero frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-medium" style="background-image: url('https://cdn.sedo.com/fileadmin/images/Headers/Header_generic_v3.jpg');">


    <div class="content">

        <div class="dark rte" data-ce="imagehero">


            <h1>Domain Auctions</h1>

            <h2>Sell to the highest bidder.</h2>
            <p>Quickly and easily auction off as many domains as you want on our marketplace. Particularly valuable domains garner top prices in our monthly GreatDomains auctions or our themed auctions.</p>
        </div>

        <p><a href="/order/?product_id=DIRECT_AUCTION&amp;cHash=c74ba8bc35aa72d8c1579a380979b66f&amp;language=us" title="Start Domain Auction now" class="btn btn-blue cta">Start a Direct Auction</a></p>

    </div>


    <div class="ce-infobox rte" data-ce="imagehero">

        <h3>Your benefits</h3>
        <ul> 	<li><strong>Three auction formats</strong> to choose from: Direct Auction, Marketplace Auction with selling guarantee and GreatDomains Auction</li> 	<li>The <strong>largest number of interested buyers</strong> worldwide: every second domain sale is completed using Sedo</li> 	<li>Just <a href="/us/what-we-offer/price-list/" title="Price list" class="internal-link">15% sales commission</a> for a completed sale</li> 	<li><strong>Free </strong><a href="/us/services/domain-transfer-service/" title="Transfer Service" class="internal-link">Transfer Service</a> included</li> </ul>
    </div>

</div><div class="ce-wrapper white">




    <div class="ce-headline centered">
        <h2>Flexibility or a selling guarantee - You decide.</h2>
    </div>












</div>


<div class="ce-wrapper ce-container white  frame-space-after-medium">

    <!-- Image [top] + Text [bottom] [50|50] -->
    <div class="ce-textimage-ver ">
        <div class="ce-image-top">


            <div class="ce-disturber">
                Direct
                Auction
            </div>


            <a href="/order/?product_id=DIRECT_AUCTION&amp;cHash=c74ba8bc35aa72d8c1579a380979b66f&amp;language=us" title="Start a Direct Auction" class="cta">

                <img src="https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/Domain_Auction/Direkt-Auktion.jpg" alt="" width="1420" height="1082">

            </a>


        </div>
        <div class="ce-text-bottom rte" data-ce="textimage">

            <h2>

                Start an auction whenever you want
            </h2>
            <p><strong>Start a Direct Auction and auction off your domain whenever and however you desire: In contrast to other auction formats, application phases or opening bids are not required.</strong></p>
            <p>With a Direct Auction, it is entirely up to you when you auction off your domain and what the minimum price will be. Simply select the starting time and the desired minimum bid and you're done. On matching keyword terms your auction will appear in our <a href="/search/?language=us" title="Domain search" class="internal-link">domain search</a> and on your very own personal auction page. Towards the end of the auction it will even be shown on the Sedo homepage!</p><ul class="icon-blue icon-beige"> 	<li><strong>Flexibility:</strong> Start auctions for up to 10 domains at any desired time</li> 	<li><strong>Maximum exposure:</strong> Displays on the Sedo homepage, in search results and on your personal auction page for seven days</li> 	<li><strong>Full control:</strong> You set the desired minimum price – and pay a sales commission only upon successful sale</li> 	<li><strong>Free transfer</strong> and escrow service included</li> </ul><ul> 	<li><strong>Start an auction beginning at just 59 USD</strong></li> 	<li><strong>A mere <a href="/us/what-we-offer/price-list/#c2129" title="Price list" class="internal-link">15% commission on the final sales price</a> upon successful sale</strong></li> </ul><p><a href="/order/?product_id=DIRECT_AUCTION&amp;cHash=c74ba8bc35aa72d8c1579a380979b66f&amp;language=us" title="Direct Auction" class="btn btn-blue">Start a Direct Auction now</a></p>
        </div>
    </div>

    <!-- Image [top] + Text [bottom] [50|50] -->
    <div class="ce-textimage-ver ">
        <div class="ce-image-top">


            <div class="ce-disturber">Marketplace Auction</div>


            <a href="/member/domainsignup/index.php?language=us" title="Add domains" class="cta">

                <img src="https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/Domain_Auction/Marktplatz-Auktion.jpg" alt="" width="1420" height="1082">

            </a>


        </div>
        <div class="ce-text-bottom rte" data-ce="textimage">

            <h2>

                Auction domains with a guaranteed sale
            </h2>
            <p><b>When you add a domain for sale as "Make Offer", as soon as you receive the first offer you can release the domain to auction – with a sales guarantee!</b></p>
            <p>The original offer is automatically taken as the opening bid and minimum price. During the remaining auction period, interested parties can still place higher bids. Biggest takeaway: Since the initial bidder has already committed to purchasing the domain for the minimum price, your auction is guaranteed to end with the sale of your domain!<br><br> </p><ul class="icon-beige"><li><b>Change from "Make Offer" price to an auction</b> – for up to five days after receipt of the original bid on your domain</li><li><b>Guaranteed to sell</b> to the first bidder at the minimum price – and a prospect of even higher bids during the auction period</li><li><b>Maximum attention:</b> Display in search results, on your personal auction page and then towards the end of the auction, on the Sedo homepage.</li><li> Free <a href="/us/services/domain-transfer-service/" title="Transfer service" class="internal-link">Transfer Service</a> included</li></ul><ul><li><b>No initial fee</b></li><li><b>A mere <a href="/us/what-we-offer/price-list/#c2129" title="Price list" class="internal-link">15% commission on the final sales price</a></b></li></ul><p><a href="/member/domainsignup/index.php?language=us" title="Add domains" class="btn btn-blue">List your domain as "Make Offer"</a></p>
        </div>
    </div>


</div>


<div class="ce-wrapper grey frame frame-default frame-type-dce_dceuid16 frame-layout-0 frame-space-before-small frame-space-after-large">
    <div class="ce-quotes">

        <div class="item">
            <div class="quote rte" data-ce="quoteboxes">
                <p>Selling my domain in a Direct Auction worked out wonderfully. I was surprised by how many bids I received!</p>
            </div>
            <div class="author">
                <p>
                    MARK N.<br>
                    SEDO CUSTOMER
                </p>
            </div>
        </div>

        <div class="item">
            <div class="quote rte" data-ce="quoteboxes">
                <p>My Top Domain was accepted for the GreatDomains auction and even appeared in the Sedo newsletter. I was so pleased!</p>
            </div>
            <div class="author">
                <p>
                    PETER R.<br>
                    SEDO CUSTOMER
                </p>
            </div>
        </div>

        <div class="item">
            <div class="quote rte" data-ce="quoteboxes">
                <p>After my asking price had already been reached through negotiation, I started a marketplace auction. The additional bids gave me a really nice profit!</p>
            </div>
            <div class="author">
                <p>
                    LISA C.<br>
                    SEDO CUSTOMER
                </p>
            </div>
        </div>

    </div>
</div>


<div class="ce-wrapper ce-container white  frame-space-after-medium">

    <!-- Text [left] + Image [right] -->
    <div class="ce-textimage-hor ">
        <div class="ce-image-right">



            <a href="/member/dnmanagement.php4?language=us" class="cta">

                <img src="https://cdn.sedo.com/fileadmin/user_upload/Buy_Domains/Auction_Calendar/Auction_Calender_GDA_EN.jpg" alt="" width="710" height="541">

            </a>


        </div>
        <div class="ce-text-left rte" data-ce="textimage">

            <h2>

                GreatDomains Auctions and Themed Auctions
            </h2>
            <h3>The best prices for your Premium Domains</h3>
            <p><br> Our expert Brokers and Sales Team facilitate both bi-monthly GreatDomains auctions and special themed auctions throughout the year.</p>
            <p>In the GreatDomains auctions, you can promote up to five of your most attractive domains – and take advantage of even more exposure and <strong>earn higher sales revenues</strong>. With our exclusive themed auctions<strong>,</strong> put your best domains up for sale, highlighting them more effectively through a targeted auction focused on a particular vertical.</p>
            <p><a href="/member/dnmanagement.php4?language=us" title="Submit domains now" class="btn btn-beige">Submit domains</a></p>
            <p><strong>Please follow the terms of participation specified below.</strong>&nbsp;Our professional broker team will review your proposed domains within five business days.</p>
        </div>
    </div>


</div>


<div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0">
    <div class="ce-multicontent rte" data-ce="multicontent">
        <h2 class="align-center">How to apply for Sedo's GreatDomains Auctions</h2>
        <p class="align-center">Important criteria and instructions for participating in our bi-monthly GreatDomains Auction</p>
    </div>
</div>


<div class="ce-wrapper ce-container white ">

    <!-- Image [top] + Text [bottom] [50|50] -->
    <div class="ce-textimage-ver ">
        <div class="ce-image-top">

        </div>
        <div class="ce-text-bottom rte" data-ce="textimage">

            <h2>
            </h2>
            <ul class="icon-blue"><li>The domain ending (TLD) of the domain is a premium TLD and has achieved high-priced sales in the past (such as .com, .net or .co.uk)</li><li>The domain describes an existing product or service. Examples: car.com, creditcard.com or insurance.net</li><li>High SEO relevance: Words in your domain title achieve a high number of hits in search engines</li><li>The domain does not violate any third-party rights (such as brand rights, copyrights, or names of famous personalities)</li></ul>
        </div>
    </div>

    <!-- Image [top] + Text [bottom] [50|50] -->
    <div class="ce-textimage-ver ">
        <div class="ce-image-top">

        </div>
        <div class="ce-text-bottom rte" data-ce="textimage">

            <h2>
            </h2>
            <ul class="icon-blue"><li>The domain ending matches the language of the domain title (such as auto.de or car.com)</li><li>The search terms matching the domain have a high Cost-per-Click (CPC)<br> </li><li>The domain is easy to spell and not susceptible to typos</li><li>The domain is short, consists of a real word, and is easy to remember. Such as book.com, creditcard.com or car.com</li></ul>
        </div>
    </div>


</div>


<div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0 frame-space-before-medium frame-space-after-medium">
    <div class="ce-multicontent rte" data-ce="multicontent">
        <p>Only generic and high-quality domains are eligible for auctions. It is up to the discretion of our domain brokers whether your domain is accepted in the respective auction format.</p>
        <p>Submit domains through your Sedo customer account, in the menu item My Sedo, <a href="/member/editaccount.php3?language=us" title="Domain Management" class="internal-link">Domain Management</a>. Once submitted, our brokerage team reviews submissions against our criteria. Please note, domains under review cannot be put up for sale during this review phase (around 3-5 days).</p>
        <p><strong>Important information: </strong>With the GreatDomains auction application, you are authorizing that your domain will be publicly offered for sale and marketed solely by Sedo and its affiliated platforms for up to 60 days after the auction. This stipulation becomes null if and as soon as your domain has been refused for the GreatDomains auction.</p>
    </div>
</div>


<div class="ce-wrapper ce-container white  frame-space-after-large">

    <!-- Text [left] + Image [right] -->
    <div class="ce-textimage-hor ">
        <div class="ce-image-right">



            <a href="/us/know-how-support/" class="cta">

                <img src="https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/Domain_Auction/FAQ.jpg" alt="" width="1420" height="1082">

            </a>


        </div>
        <div class="ce-text-left rte" data-ce="textimage">

            <h2>

                Frequently asked questions (FAQ)
            </h2>
            <p>You will find the most frequently asked questions about our auctions here.</p><ol> 	<li><a href="https://sedo-us1.custhelp.com/app/answers/detail/a_id/4104/kw/direct%20auction/search/1" title="When will my Direct Auction be activated?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/4104\/kw\/direct%20auction\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">When will my Direct Auction be activated? </a></li> 	<li><a href="https://sedo-us1.custhelp.com/app/answers/detail/a_id/748/kw/difference%20between/search/1" title="What is the difference between &quot;Make Offer&quot; and &quot;Buy Now&quot;?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/748\/kw\/difference%20between\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">What is the difference between "Make Offer" and "Buy Now"?</a></li> 	<li><a href="https://sedo-us1.custhelp.com/app/answers/detail/a_id/579/kw/auction%20ends/search/1" title="What happens after an auction ends?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/579\/kw\/auction%20ends\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">What happens after an auction ends?</a></li> </ol><p><a href="/us/know-how-support/" title="FAQ's" target="FEopenLink" class="btn btn-beige">Additional questions &amp; answers</a></p>
        </div>
    </div>


</div>


<div class="ce-wrapper white frame frame-default frame-type-dce_dceuid2 frame-layout-0 frame-space-after-medium">
    <div class="ce-list-boxes-cta">
        <h2>Individual service to help you sell your domains</h2>


        <div class="list-boxes-item" data-row="0">
            <div class="header">
                <h4>Find out how much your domain is worth!</h4>

                <h4>List your domains with our partners!</h4>

            </div>
            <div class="list-box list-box-left">
                <div class="content rte" data-ce="listboxescta">
                    <h3><strong>Domain Appraisal</strong></h3>
                    <p>Our experts will create an individual value appraisal for you.</p>
                </div>

                <a href="/us/services/domain-appraisal/" class="blue cta"> </a>

            </div>
            <div class="list-box list-box-right">
                <div class="content rte" data-ce="listboxescta">
                    <h3><strong>Partner Network</strong></h3>
                    <p>More exposure worldwide through our 650 Sedo partners.</p>
                </div>

                <a href="/us/sell-domains/promotion-options/" class="blue cta"> </a>

            </div>
        </div>

        <div class="list-boxes-item" data-row="1">
            <div class="header">
                <h4>Do you already have a buyer?</h4>

                <h4>Increase your sales opportunities!</h4>

            </div>
            <div class="list-box list-box-left">
                <div class="content rte" data-ce="listboxescta">
                    <h3><strong>Domain Transfer</strong></h3>
                    <p>Secure transfer transactions even when agreements are reached outside of our marketplace.</p>
                </div>

                <a href="/us/services/domain-transfer-service/" class="blue cta"> </a>

            </div>
            <div class="list-box list-box-right">
                <div class="content rte" data-ce="listboxescta">
                    <h3>Domain Parking</h3>
                    <p>Parked domains receive twice as many bids as unparked domains.</p>
                </div>

                <a href="/us/park-domains/" class="beige cta"> </a>

            </div>
        </div>

    </div>
</div>
