<main role="main" id="content-main-wrapper" class="content-wrapper-full">
    <div class="t3-content-fullwidth">
        <div class="ce-image-hero resize frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-medium">
            <div class="ce-image-hero--image">
                <img src="https://cdn.sedo.com/fileadmin/user_upload/About_Sedo/Events/Event_Hero_3040x1256_03.jpg" alt="" width="1520" height="628">
            </div>
            <div class="content">
                <div class="dark rte">
                    <h1>Come see Sedo at events &amp; trade shows</h1>
                    <p>Whether as a sponsor, speaker or exhibitor: our international team has a consistence presence at events all over the world. We would also be happy to meet with you personally on location to discuss your opinions, strategies, and your portfolio of domains.</p>
                </div>
            </div>
        </div><div class="ce-wrapper grey xx frame frame-default frame-type-dce_dceuid12 frame-layout-0 frame-space-after-medium">
            <div class="ce-multicontent rte">
                <h2>Meet us at these events</h2>
                <p>Just contact us. We are looking forward to discussing your domain strategy face-to-face.</p>
            </div>
        </div>
        <div class="ce-wrapper ce-container grey  frame-space-after-medium">
            <!-- Image [left] + Text [right] -->
            <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-left">
                    <a href="#" target="_blank" class="cta">
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/agile_cologne.jpg" alt="" width="710" height="541">
                    </a>
                </div>
                <div class="ce-text-right rte">
                    <h2>
                        Agile Cologne
                    </h2>
                    <h4>Postponed | Cologne, Germany</h4>
                    <p>Dorint at the Cologne fair, Germany</p>
                    <p><a href="#" title="Agile Cologne" target="_blank" class="btn btn-blue">More about the event</a></p>
                </div>
            </div>
        </div>
        <div class="ce-wrapper ce-container grey  frame-space-after-medium">
            <!-- Image [left] + Text [right] -->
            <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-left">
                    <a href="#" class="cta">
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/GDDSummit_710x_541.png" alt="" width="710" height="541">
                    </a>
                </div>
                <div class="ce-text-right rte">
                    <h2>
                        ICANN | GDD Industry Summit
                    </h2>
                    <h4>Postponed | Paris, France</h4>
                    <p>Paris Marriott Rive Gauche Hotel &amp; Conference Center, Paris</p>
                    <p><a href="#" title="GDDsummit" target="_blank" class="btn btn-blue">More about the event</a></p>
                </div>
            </div>
        </div>
        <div class="ce-wrapper ce-container grey  frame-space-after-medium">

            <!-- Image [left] + Text [right] -->
            <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-left">
                    <a href="#" class="cta">
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/DMIEXPO_END____.png" alt="" width="710" height="540">
                    </a>
                </div>
                <div class="ce-text-right rte">
                    <h2>
                        DMIEXPO
                    </h2>
                    <h4>Postponed | Tel Aviv, Israel</h4>
                    <p>Tel Aviv, Israel</p>
                    <p><a href="#" title="DMI Expo" target="_blank" class="btn btn-blue">More about the event</a></p>
                </div>
            </div>
        </div>
    </div>
</main>
