@{
    ViewData["Title"] = "Home Page";
}


<div class="ce-wrapper grey frame frame-default frame-type-dce_dceuid19 frame-layout-0">
    <div class="ce-html">

        <div class="plain-html">
            <!-- TrustBox script -->
            <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async=""></script> <!-- End TrustBox script -->
        </div>

    </div>
</div>
<div class="ce-wrapper grey frame frame-default frame-type-dce_dceuid19 frame-layout-0">
    <div class="ce-html">

        @*<div class="plain-html">
            <script type="application/ld+json">

                {
                "@context": "https://schema.org",
                "@type": "WebSite",
                "url": "https://www.sedo.com/",
                "potentialAction": {
                "@type": "SearchAction",
                "target": "https://sedo.com/search/?keyword={search_term_string}",
                "query-input": "required name=search_term_string"
                }
                }

            </script>
        </div>*@

    </div>
</div><div class="ce-wrapper grey frame frame-default frame-type-dce_dceuid19 frame-layout-0">
    <div class="ce-html">

        <div class="plain-html">
            <script>(function(){var d=document;function l(){var s=d.createElement("script");s.type="text/javascript";s.src="https://widget.percept.ai/widget/sedo";s.async=true;var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);}window.attachEvent?window.attachEvent("onload",l):window.addEventListener("load",l,false)}());</script>
        </div>

    </div>
</div><div class="ce-image-hero-rss white">

    <div class="ce-image-hero resize">


        <img src="https://cdn.sedo.com/fileadmin/user_upload/Home/Header_03_1520x628_SAND.jpg" alt="" width="1520" height="628">



        <div class="content">

            <div class="dark rte" data-ce="imagehero">

                <h1>The best domains for the brightest of ideas</h1>

                <p>Find the perfect web address, or earn money with domains you already own, on the world's largest domain name marketplace!</p>
            </div>


            <p><a href="/us/what-we-offer/?itm_campaign=Services&amp;itm_content=What_We_Offer&amp;itm_medium=Button&amp;itm_source=Home&amp;itm_term=US&amp;cHash=a52a939c8d6fdc02c045eb7a1d04dbab" title="Our services" class="btn btn-blue cta">Our Services</a></p>

        </div>

    </div>
    <div class="rss-box-wrapper">

        <div class="rss-feed-box rss-feed-3" data-type="0" data-source="https://sedo.com/rss/rss_list.php?rss_id=19&amp;country=US&amp;randomizeRefresh=true&amp;interval=10" data-count="" data-interval="">

            <h3><a href="https://localhost:44373/us/search/?cc=com&cHash=30dfa93a15eedf052f7a624b34583d5b&language=us">Showcase Domains</a></h3>

            <div class="items">
                <ul>
                    <li>
                        <span class="domain"><a href="https://sedo.com/search/details/?domain=eloan.net&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage" title="eloan.net">eloan.net</a></span>
                        <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="https://sedo.com/search/details/?domain=eloan.net&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage">Make Offer</a></span>
                    </li>
                    <li>
                        <span class="domain"><a href="https://sedo.com/search/details/?domain=trackyourpackage.com&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage" title="trackyourpackage.com">trackyourpackage.com</a></span>
                        <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="https://sedo.com/search/details/?domain=trackyourpackage.com&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage">10,000 USD</a></span>
                    </li>
                    <li>
                        <span class="domain"><a href="https://sedo.com/search/details/?domain=freshfromgarden.com&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage" title="freshfromgarden.com">freshfromgarden.com</a></span>
                        <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="https://sedo.com/search/details/?domain=freshfromgarden.com&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage">199 EUR</a></span>
                    </li>
                    <li>
                        <span class="domain"><a href="https://sedo.com/search/details/?domain=letit.bio&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage" title="letit.bio">letit.bio</a></span>
                        <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="https://sedo.com/search/details/?domain=letit.bio&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage">8,999 USD</a></span>
                    </li>
                    <li>
                        <span class="domain"><a href="https://sedo.com/search/details/?domain=badalona.store&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage" title="badalona.store">badalona.store</a></span>
                        <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="https://sedo.com/search/details/?domain=badalona.store&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage">200 EUR</a></span>
                    </li>
                    <li>
                        <span class="domain"><a href="https://sedo.com/search/details/?domain=elevatecapital.com&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage" title="elevatecapital.com">elevatecapital.com</a></span>
                        <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="https://sedo.com/search/details/?domain=elevatecapital.com&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage">35,000 USD</a></span>
                    </li>
                    <li>
                        <span class="domain"><a href="https://sedo.com/search/details/?domain=a.game&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage" title="a.game">a.game</a></span>
                        <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="https://sedo.com/search/details/?domain=a.game&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage">122,000 USD</a></span>
                    </li>
                    <li>
                        <span class="domain"><a href="https://sedo.com/search/details/?domain=carinsuranceassurance.com&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage" title="carinsuranceassurance.com">carinsuranceassurance...</a></span>
                        <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="https://sedo.com/search/details/?domain=carinsuranceassurance.com&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage">Make Offer</a></span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="rss-feed-box rss-feed-3" data-type="1" data-source="https://sedo.com/rss/rss_list.php?rss_id=21" data-count="" data-interval="">

            <h3><a href="https://localhost:44373/us/search/?cc=com&cHash=30dfa93a15eedf052f7a624b34583d5b&language=us">Auctions ending soon</a></h3>

            <div class="items">
                <ul>
                    <li>
                        <span class="domain"><a href="https://sedo.com/search/details/?aid=1515666&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage" title="pokerweb.com">pokerweb.com</a></span>
                        <span class="timeleft"><span>RSS_FIELD_TIME_REMAINING</span> <a href="https://sedo.com/search/details/?aid=1515666&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage">4h 44m</a></span>
                    </li>
                    <li>
                        <span class="domain"><a href="https://sedo.com/search/details/?aid=1515667&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage" title="masterofclass.eu">masterofclass.eu</a></span>
                        <span class="timeleft"><span>RSS_FIELD_TIME_REMAINING</span> <a href="https://sedo.com/search/details/?aid=1515667&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage">5h 5m</a></span>
                    </li>
                    <li>
                        <span class="domain"><a href="https://sedo.com/search/details/?aid=1522386&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage" title="peers.org">peers.org</a></span>
                        <span class="timeleft"><span>RSS_FIELD_TIME_REMAINING</span> <a href="https://sedo.com/search/details/?aid=1522386&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage">5h 6m</a></span>
                    </li>
                    <li>
                        <span class="domain"><a href="https://sedo.com/search/details/?aid=1517568&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage" title="crabites.com">crabites.com</a></span>
                        <span class="timeleft"><span>RSS_FIELD_TIME_REMAINING</span> <a href="https://sedo.com/search/details/?aid=1517568&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage">5h 35m</a></span>
                    </li>
                    <li>
                        <span class="domain"><a href="https://sedo.com/search/details/?aid=1517824&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage" title="gayweddingsmadeira.com">gayweddingsmadeira.com</a></span>
                        <span class="timeleft"><span>RSS_FIELD_TIME_REMAINING</span> <a href="https://sedo.com/search/details/?aid=1517824&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage">5h 35m</a></span>
                    </li>
                    <li>
                        <span class="domain"><a href="https://sedo.com/search/details/?aid=1518080&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage" title="jilltradelink.com">jilltradelink.com</a></span>
                        <span class="timeleft"><span>RSS_FIELD_TIME_REMAINING</span> <a href="https://sedo.com/search/details/?aid=1518080&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage">5h 35m</a></span>
                    </li>
                    <li>
                        <span class="domain"><a href="https://sedo.com/search/details/?aid=1518336&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage" title="newspatriots.com">newspatriots.com</a></span>
                        <span class="timeleft"><span>RSS_FIELD_TIME_REMAINING</span> <a href="https://sedo.com/search/details/?aid=1518336&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage">5h 35m</a></span>
                    </li>
                    <li>
                        <span class="domain"><a href="https://sedo.com/search/details/?aid=1518592&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage" title="timfox.org">timfox.org</a></span>
                        <span class="timeleft"><span>RSS_FIELD_TIME_REMAINING</span> <a href="https://sedo.com/search/details/?aid=1518592&amp;tracked=&amp;partnerid=&amp;language=us&amp;origin=homepage">5h 35m</a></span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="rss-feed-box rss-feed-3" data-type="0" data-source="https://sedo.com/search/rss/rss.php?hash=02eb4c08e1f6f2a29369bfc66c372bdc67f8fb0d&amp;amp;randomizeRefresh=true&amp;amp;interval=7" data-count="" data-interval="">

            <h3><a href="https://localhost:44373/us/search/?cc=com&cHash=30dfa93a15eedf052f7a624b34583d5b&language=us">Featured Domains</a></h3>

            <div class="items">
                <ul>
                    <li>
                        <span class="domain"><a href="http://sedo.com/search/details/?domain=cnm.com" title="cnm.com">cnm.com</a></span>
                        <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="http://sedo.com/search/details/?domain=cnm.com">350,000 USD</a></span>
                    </li>
                    <li>
                        <span class="domain"><a href="http://sedo.com/search/details/?domain=jeux.net" title="jeux.net">jeux.net</a></span>
                        <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="http://sedo.com/search/details/?domain=jeux.net">38,888 EUR</a></span>
                    </li>
                    <li>
                        <span class="domain"><a href="http://sedo.com/search/details/?domain=idol.com" title="idol.com">idol.com</a></span>
                        <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="http://sedo.com/search/details/?domain=idol.com">5,000,000 USD</a></span>
                    </li>
                    <li>
                        <span class="domain"><a href="http://sedo.com/search/details/?domain=auto.biz" title="auto.biz">auto.biz</a></span>
                        <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="http://sedo.com/search/details/?domain=auto.biz">14,900 USD</a></span>
                    </li>
                    <li>
                        <span class="domain"><a href="http://sedo.com/search/details/?domain=uhren.org" title="uhren.org">uhren.org</a></span>
                        <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="http://sedo.com/search/details/?domain=uhren.org">14,750 EUR</a></span>
                    </li>
                    <li>
                        <span class="domain"><a href="http://sedo.com/search/details/?domain=tell.us" title="tell.us">tell.us</a></span>
                        <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="http://sedo.com/search/details/?domain=tell.us">50,000 USD</a></span>
                    </li>
                    <li>
                        <span class="domain"><a href="http://sedo.com/search/details/?domain=jpx.com" title="jpx.com">jpx.com</a></span>
                        <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="http://sedo.com/search/details/?domain=jpx.com">240,000 EUR</a></span>
                    </li>
                    <li>
                        <span class="domain"><a href="http://sedo.com/search/details/?domain=for.us" title="for.us">for.us</a></span>
                        <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="http://sedo.com/search/details/?domain=for.us">50,000 USD</a></span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div><div class="ce-wrapper white nn frame frame-default frame-type-dce_dceuid12 frame-layout-0 frame-space-after-medium">
    <div class="ce-multicontent indented rte" data-ce="multicontent">

    </div>
</div><div class="ce-wrapper grey frame frame-default frame-type-dce_dceuid6 frame-layout-0 frame-space-after-medium">
    <div class="ce-content-teaser-multigrid">

        <h2></h2>

        <a href="/us/buy-domains/exclusive-broker-domains/" class="box-left" data-gtm-promotion="banner1">

            <div class="box-wrapper" style="background-image: url('https://cdn.sedo.com/fileadmin/user_upload/Home/Events_Specials/GDA_650x540_HG.jpg');">

                <span class="content rte" data-ce="teasermultigrid">
                    <p class="align-center">&nbsp;</p>
                    <p class="align-center"><img alt="" src="https://cdn.sedo.com/fileadmin/processed/5/f/csm_Broker_Domains_Logo_9d6e86e4e8.png" style="" width="150" height="144"></p>
                    <h2 class="align-center">Premium Domains from our Brokers</h2>
                    <h4 class="align-center">Bird.com, Limit.com, Wind.com and more</h4>
                    <h3>&nbsp;</h3>
                    <p class="align-center btn-blue">See all domains!</p>
                </span>
            </div>
        </a>

        <a href="/search/?language=us" class="box-right top gtm-visited" data-gtm-promotion="banner2">

            <div class="box-wrapper" style="background-image: url('https://cdn.sedo.com/fileadmin/user_upload/Home/Events_Specials/05_Gambling.jpg');">

                <span class="content rte" data-ce="teasermultigrid">
                    <h2><span style="color:#ffffff">Buy </span></h2>
                    <h2><span style="color:#ffffff">Gambling</span></h2>
                    <h2><span style="color:#ffffff">domains!</span></h2>
                    <p class="btn-beige align-right"><strong>Take a chance!</strong></p>
                </span>
            </div>
        </a>

        <a href="https://sedo.com/search/index.php?listing_type%5B0%5D=1&amp;listing_type%5B1%5D=3&amp;price_end=99&amp;price_currency=1" class="box-right bottom gtm-visited" data-gtm-promotion="banner3">

            <div class="box-wrapper" style="background-image: url('https://cdn.sedo.com/fileadmin/user_upload/Home/Events_Specials/AD_650x260px_U100_EN.jpg');">

                <span class="content rte" data-ce="teasermultigrid">
                    <h2><span style="color:#ffffff">Looking for the best Deals?</span></h2>
                    <h2><span style="color:#ffffff">Look no further!</span></h2>
                </span>
            </div>
        </a>

    </div>
</div><div class="ce-image-hero resize frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-medium">

    <div class="ce-image-hero--image">

        <a href="/us/services/broker-service/?itm_campaign=DV&amp;itm_content=3Brokers_Wide&amp;itm_medium=Display&amp;itm_Source=Home&amp;itm_term=US&amp;cHash=62273fa7ecf3f6373e8d4201442d679a" class="hero--clickable">
            <img src="https://cdn.sedo.com/fileadmin/user_upload/Website_Promo_2018-10_DV-Service_1520x628.jpg" alt="" width="1520" height="628">
        </a>

    </div>


    <div class="content">

        <div class="bright rte" data-ce="imagehero">


            <h1></h1>

            <h2 class="style-h1">Let us get you the domain you want!</h2>
            <h3>Save time and money and have our brokers handle the negotiations for you.<br> &nbsp;</h3>
        </div>

        <p><a href="/us/services/broker-service/?itm_campaign=DV&amp;itm_content=3Brokers_Wide&amp;itm_medium=Display&amp;itm_Source=Home&amp;itm_term=US&amp;cHash=62273fa7ecf3f6373e8d4201442d679a" class="btn btn-blue cta">I want that!</a></p>

    </div>




</div><div class="ce-wrapper white">




    <div class="ce-headline">
        <h2>Sedo is perfect for...</h2>
    </div>












</div>


<div class="ce-wrapper ce-container white  frame-space-after-extra-large">

    <!-- Text [top] + Image [bottom] [50|50] -->
    <div class="ce-textimage-ver ">
        <div class="ce-image-bottom">

        </div>
        <div class="ce-text-top rte" data-ce="textimage">

            <h2>
            </h2>
            <ul class="icon-beige"> 	<li>Companies and startups <a href="/search/?language=us" title="Domain search" class="internal-link">searching for their ideal web address</a></li> 	<li>Building an online presence for new products</li> 	<li><a href="/us/buy-domains/" title="Opens internal link in current window" class="internal-link">Domain acquisition</a> for brand protection</li> 	<li>Investing in <a href="/us/buy-domains/market-trends/" title="Recognize market trends" class="internal-link">valuable domain names</a></li> 	<li>Concise internet domains for <a href="/us/about-us/case-studies/" title="Case studies" class="internal-link">marketing and specific campaigns</a></li> </ul><p><a href="/us/buy-domains/" title="Sedo for domain buyers" class="btn btn-blue">Sedo for domain buyers</a></p>
        </div>
    </div>

    <!-- Text [top] + Image [bottom] [50|50] -->
    <div class="ce-textimage-ver ">
        <div class="ce-image-bottom">

        </div>
        <div class="ce-text-top rte" data-ce="textimage">

            <h2>
            </h2>
            <ul class="icon-beige"><li>Turning unused web addresses into money</li><li>Using a <a href="/us/services/broker-service/" title="Brokerage service" class="internal-link">Broker</a> to market premium domains</li><li>Earning money with <a href="/us/park-domains/" title="Domain parking" class="internal-link">Domain Parking</a></li><li>Professional trading of internet domains</li><li>Launching a <a href="/us/what-we-offer/registry-overview/" title="Opens internal link in the current window" class="internal-link">new domain extension</a>/Top Level Domain (gTLD) </li></ul><p><a href="/us/sell-domains/" title="Sedo for domain sellers" class="btn btn-blue">Sedo for domain sellers</a></p>
        </div>
    </div>


</div>


<div class="ce-wrapper white frame frame-default frame-type-dce_dceuid19 frame-layout-0">
    <div class="ce-html">

        <div class="plain-html">
            <!-- TrustBox widget - Carousel --> <div class="trustpilot-widget" data-locale="en-US" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="46a9280800006400050091ee" data-style-height="130" data-style-width="100%" data-theme="light" data-tags="English" data-stars="4,5" data-schema-type="Organization" style="position: relative;"><iframe style="position: relative; height: 130px; width: 100%; border-style: none; display: block; overflow: hidden;" scrolling="no" title="Customer reviews powered by Trustpilot" src="https://widget.trustpilot.com/trustboxes/53aa8912dec7e10d38f59f36/index.html?templateId=53aa8912dec7e10d38f59f36&amp;businessunitId=46a9280800006400050091ee#locale=en-US&amp;styleHeight=130&amp;styleWidth=100%25&amp;theme=light&amp;tags=English&amp;stars=4%2C5&amp;schemaType=Organization" frameborder="0"></iframe></div> <!-- End TrustBox widget -->
        </div>

    </div>
</div><div class="ce-image-hero resize frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-large">

    <div class="ce-image-hero--image">

        <a href="https://sedo.com/us/about-us/news-press/newsroom/sedo-end-user-case-study-desktopcom/" title="More testimonials" target="_self" class="hero--clickable">
            <img src="https://cdn.sedo.com/fileadmin/user_upload/Home/2020-06_Case-Studies_3040x1256_desktop.jpg" alt="" width="3040" height="1256">
        </a>

    </div>


    <div class="content">

        <div class="dark rte" data-ce="imagehero">


            <h1></h1>

            <h2 class="style-h1">Desktop.com</h2>
            <h2>Rolf Larsen, CEO</h2>
            <p>"This particular domain is unique to the service I plan to launch. People can immediately identify what type of service is behind such a name. Sedo was instrumental in structuring the legal framework and installment plan for this deal.<br> I had no doubts this would go as smoothly as it did."</p>
        </div>

        <p><a href="https://sedo.com/us/about-us/news-press/newsroom/sedo-end-user-case-study-desktopcom/" title="More testimonials" target="_self" class="btn btn-blue cta">Read the full story!</a></p>

    </div>




</div><div class="ce-accordion-wrapper blue frame frame-default frame-type-dce_dceuid4 frame-layout-0 frame-space-after-medium">
    <div class="ce-stepbystep ce-accordion rte ui-accordion ui-widget ui-helper-reset" data-ce="stepbystep" role="tablist">
        <h2 class="ui-accordion-header ui-state-default ui-corner-all" role="tab" id="ui-id-1" aria-controls="ui-id-2" aria-selected="false" aria-expanded="false" tabindex="0">HOW IT WORKS</h2>
        <div class="accordion-content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="display: none;" id="ui-id-2" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="true">
            <p>A quick overview of how Sedo works</p>
            <div class="steps-wrapper">

                <div class="step step-3">
                    <h3>How do I find a domain?</h3>
                    <p>Sedo brings together sellers from all over the world, offering you over 19 million entries for the best and largest selection of domains for sale.</p><ul> 	<li><a href="/search/?language=us" title="Use our search" class="internal-link">Smart search function</a> to pinpoint exactly the domain you are looking for</li> 	<li>Browse our extensive <a href="/search/?language=us" title="domain catalog" class="internal-link">domain catalog</a></li> 	<li>Take a look at current <a href="/us/buy-domains/market-trends/" title="Market Trends" class="internal-link">market news and trends</a></li> </ul><p>Whether you need a domain for personal or business use, visit Sedo to find just what you are looking for!</p>
                    <span class="counter"></span>
                </div>

                <div class="step step-3">
                    <h3>How do I buy a domain?</h3>
                    <p>Buying domains is quick and easy, just like buying anything else on the Internet.</p><ul> 	<li>Buy domains at a <strong>fixed price</strong>, in an<strong> auction</strong>, or in anonymous <strong>negotiations</strong>.</li> 	<li>Your personal Sedo expert will assist you with the <strong>secure payment </strong>process afterward.</li> 	<li>Then our service team will <strong>transfer</strong> your new domain to your desired registrar within just a few days.</li> </ul><p>&nbsp;That’s it! You can get started with your domain right away.</p>
                    <span class="counter"></span>
                </div>

                <div class="step step-3">
                    <h3>How much does it cost?</h3>
                    <p>With over 18 million domains, we have something to fit any budget. The higher the domain’s value, the higher the price.</p><ul> 	<li>Domain prices start at <strong>USD 20</strong>, with no upper limit.</li> 	<li>Many domains are sold at prices of less than USD 2,500.</li> 	<li>Negotiate quickly and <strong>anonymously </strong>if the seller has not stated a fixed price.</li> </ul><p>&nbsp;Take a look at our <a href="/us/about-us/case-studies/" title="Case Studies" class="internal-link">case studies</a> to learn why domains are so valuable.</p>
                    <span class="counter"></span>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="ce-wrapper ce-container white ">

    <!-- Image [top] + Text [bottom] [33|33|33] -->
    <div class="ce-wrapper">
        <div class="ce-textimage-ver ver-33">
            <div class="ce-image-top">



                <a href="/us/about-us/" title="Learn more about the company" class="cta">

                    <img class="rounded" src="https://cdn.sedo.com/fileadmin/user_upload/Home/Branchenfuehrer.png" alt="" width="500" height="500">

                </a>


            </div>
            <div class="ce-text-bottom rte" data-ce="textimage">

                <h2 class="align-center">

                    Global market leader
                </h2>
                <p><strong>As a neutral marketplace with 19+ years of experience, we provide services for anything and everything to do with domains:</strong> With 2 million customers from more than 150 countries, we are the first address worldwide for everyone wanting to buy domains, sell them themselves, or park them.</p>
                <p>Our employees feel at home in all of the world's key markets and are fluent in more than 25 languages supporting you in today's multicultural business world.</p>
            </div>
        </div><div class="ce-textimage-ver ver-33">
            <div class="ce-image-top">



                <a href="/search/?language=us" title="Find the perfect domain name now" class="cta">

                    <img class="rounded" src="https://cdn.sedo.com/fileadmin/user_upload/Home/1000_SicheresEinkaufen_blau.jpg" alt="" width="500" height="500">

                </a>


            </div>
            <div class="ce-text-bottom rte" data-ce="textimage">

                <h2 class="align-center">

                    Secure purchase
                </h2>
                <p><b>Simple, quick, and safe methods of payment are available through Sedo. </b></p>
                <p>You can conveniently pay by PayPal<b><b></b></b>, credit card<b><b></b></b>, or <b></b>bank transfer. We offer a neutral account for payment procedures to ensure secure handling of your payments. <br><br>At the same time, we will support you with the smooth transfer of your new domain to a registrar of your choice. Sedo is also a certified member of BBB and TRUSTe.</p>
            </div>
        </div><div class="ce-textimage-ver ver-33">
            <div class="ce-image-top">



                <a href="/us/services/broker-service/" title="our broker service" class="cta">

                    <img class="rounded" src="https://cdn.sedo.com/fileadmin/user_upload/Home/1000_IndividuelleBeratung_blau.jpg" alt="" width="500" height="500">

                </a>


            </div>
            <div class="ce-text-bottom rte" data-ce="textimage">

                <h2 class="align-center">

                    Individual consultation
                </h2>
                <p><b>Is the domain you want not for sale? Are you short on time?&nbsp;Are you short on time? Do you not speak the language of the domain seller?</b></p>
                <p> Then our <a href="/us/services/broker-service/" title="Domain Brokerage Service" class="internal-link">domain brokerage service</a> is a perfect solution. Let us contact the owner for you and negotiate on your behalf. <br><br>Our professional brokers will ensure that you remain anonymous and acquire your desired domain at the best possible price! We can also advise you on your domain strategy and on the marketing of your domains.</p>
            </div>
        </div>
    </div>

    <!-- Image [top] + Text [bottom] [33|33|33] -->
    <!-- Image [top] + Text [bottom] [33|33|33] -->



</div>


<div class="ce-wrapper white frame frame-default frame-type-dce_dceuid2 frame-layout-0 frame-space-after-large">
    <div class="ce-list-boxes-cta">
        <h2></h2>
        <h2 class="align-center">More about Sedo </h2>

        <div class="list-boxes-item" data-row="0">
            <div class="header">
                <h4>News about the company and the domain market</h4>

            </div>
            <div class="list-box list-box-left">
                <div class="content rte" data-ce="listboxescta">
                    <h3>About Sedo</h3>
                    <p>Everything worth knowing about Sedo.</p>
                </div>

                <a href="/us/about-us/" class="blue cta"> </a>

            </div>
            <div class="list-box list-box-right">
                <div class="content rte" data-ce="listboxescta">
                    <h3>Market trends</h3>
                    <p>Current happenings in trading, informational graphics, trends and expert opinions</p>
                </div>

                <a href="/us/buy-domains/market-trends/" class="blue cta"> </a>

            </div>
        </div>

        <div class="list-boxes-item" data-row="1">
            <div class="header">
                <h4>Additional information</h4>

            </div>
            <div class="list-box list-box-left">
                <div class="content rte" data-ce="listboxescta">
                    <h3>Case Studies</h3>
                    <p>Many companies have already profited from better domains. Read about how and why.</p>
                </div>

                <a href="/us/about-us/case-studies/" class="blue cta"> </a>

            </div>
            <div class="list-box list-box-right">
                <div class="content rte" data-ce="listboxescta">
                    <h3>FAQs</h3>
                    <p>Find answers to the most frequently asked questions here</p>
                </div>

                <a href="/us/know-how-support/" class="beige cta"> </a>

            </div>
        </div>

    </div>
</div>

