<main role="main" id="content-main-wrapper" class="content-wrapper-full">
    <div class="t3-content-fullwidth">
        <div class="ce-image-hero frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-medium" style="background-image: url('https://cdn.sedo.com/fileadmin/user_upload/Know_How/header_domainrecht_Aa.jpg');">
            <div class="content">
                <div class="dark rte">
                    <h1>Domain Law</h1>
                    <h2>Learn how to make<br>the most out of your domains</h2>
                </div>
            </div>
        </div><div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0 frame-space-after-medium">
            <div class="ce-multicontent rte">
                <p>Trading domains is completely legal as long as the domain being sold does not infringe on the trademark rights of a third party.</p>
                <p>Domain name sellers should be aware that it is their responsibility to ensure that their domain name is free from possible trademark infringements before listing it for sale. Ignorance of <b>domain law</b> is no excuse!</p>
            </div>
        </div><div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0 frame-space-after-medium">
            <div class="ce-multicontent rte">
                <h2>Domain Law Pages</h2><ul class="bodytext"><li><a href="#" title="The UDRP" target="_top" class="internal-link">The UDRP</a></li><li> <a href="#" title="Important Websites" target="_top" class="internal-link">Important Websites</a></li><li><a href="#" title="Sample UDRP Decisions" target="_top" class="internal-link">Sample UDRP Decisions</a></li><li><a href="#" title="Reverse Hijacking Cases" target="_top" class="internal-link">Reverse Hijacking Case </a></li></ul>
            </div>
        </div><div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0 frame-space-after-large">
            <div class="ce-multicontent rte">
                <div id="c15719">
                    <p>Possessing a trademark for a given term does not guarantee that you have a legal claim to a domain name. Possession of a valid trademark is only one of three requirements that you need to meet to win ownership of a domain name via ICANN's <a href="#" title="UDRP" target="_blank" class="external_link">Uniform Dispute Resolution Policy (UDRP)</a>, the policy governing ownership disputes for the generic TLDs (.com, .net, .org, .biz, and .info) or the U.S. Anticybersquatting Consumer Protection Act (15 U.S.C. sec. 1125). </p>
                    <p>Before making a complaint, make sure that you've consulted a qualified trademark attorney with experience in domain names. Legal disputes should be considered a last option: the cost for a UDRP case is $1,500 plus legal expenses, and there is no guarantee that you will win. </p>
                    <p>Do you have further questions about <b>domain law</b>? Please check out our legal resources above or <a href="#" title="Contact Sedo" target="_blank" class="external-link-new-window">contact us</a>.</p>
                </div>
            </div>
        </div>
    </div>
</main>