<main class="content">
    <div id="content" class="row">
        <div id="loginForm">
            <div class="container">
                <div class="form">
                    <form method="post" id="fm1" action="login">
                        <h3 style="">
                            <i class="fas fa-id-card"></i>
                            <span class="form__headline">Enter your Username and Password</span>
                        </h3>

                        <section class="form-group form__input">
                        </section>

                        <section class="form-group form__input">

                            <label for="username" class="form__input-label"><span class="accesskey">U</span>sername:</label>
                            <div>
                                <input class="form-control required form__input-field" id="username" name="username" size="25" tabindex="1" type="text" value="" accesskey="u" autocomplete="off">
                            </div>
                        </section>

                        <section class="form-group form__input">
                            <label for="password" class="form__input-label"><span class="accesskey">P</span>assword:</label>

                            <div>
                                <input class="form-control required form__input-field" type="password" id="password" name="password" size="25" tabindex="2" accesskey="p" value="" autocomplete="off"><span id="capslock-on" style="display:none;">
                                    <i class="fa fa-exclamation-circle"></i>
                                    <span>CAPSLOCK key is turned on!</span>
                                </span>
                            </div>
                        </section>

                        <section class="form-group">
                        </section>

                        <input type="hidden" name="execution" value="72f5479f-01f6-44ec-b436-3e7a667ada7d_ZXlKaGJHY2lPaUpJVXpVeE1pSXNJblI1Y0NJNklrcFhWQ0o5LjFVM242LWx6aXVjQXh3aDB2MWtmQmpqeUJsdkw3bzgwWHdDbkIwME5SSGdYYURHWS1fZ1ppdGFWSkJ4OVJyVjFCWUd4OVNpVl9JLUM1VVZXQkUwT3V1YzctS09qMXZlcmJKdmZpMmRVYnNjeXIzTXBOSWRCZldGcUR3ckZFWmRGUm5DTDFVZGYwT2RjUkJoYjlZNDR4MzhkM0NLVjBOelJQbWFjVmJFQUhyYkFpNGN4Z01GMkZOaHJYMnZDMC0xVzlHT1VTb3JzM1dJbTZUTFRzWVlCdGdZTnpHUy1fMDBxRmpSZEhaNm41c2paaTI0OVhmTzhrR0YtUEJVTU91UzNUZWJJV2dGUTlNSjJqTWVRbHQ5MlFJR1lnTzJGUkFWUnBuVXlySmhwVnltQkp4aTFDRS1BUlpsM0lFZFgwS2dYS3UxT2twNjZCV25fd2R0d1F2eXIxSEpnYUNwZ0dGdmJFaG9Pd05XMktfLXZjOGlReGZLdkFhZkNsZ1ZZejVNbkpqX3BmYzVGYkVBYm84cnhwWEVfSnJmejBQTXRTUkFhVmJMby1UVE1OeXNCdmhzangtSzFXSzk5SWxfb0hPWHROYnVpX3R6V0hDZFlSSFpPNTVUZzVKT095RnRvT1o3a2s5RlFPUEZCS1BzNDhabUpWZDlONTJrTHNMMkFJN0RuM1duNUdEU1V4dDI1REwwR3pNVFFkVHljUWJUaml2clF5RnRtOV81RWRScmN2QUlOLU83REV2c3V6UXI0QXNxd1pxUjdIVEF2VDhrQ1BsMHFna2o5OGJQNEFDMi0tWGtPNzhjb0UtLVJZNHJ0aGdjRV9XbU10N3ktSGFheWFkekx0bUtTbFAxalhqWnlDZGFkTnVsU3JhTFBzOFEyRWRiZEFEVzBaaVlKYl9IbDJKM2FKMGFJM3FCalhqWWVTb1drYlVrN3NleFphZ19vcjBrbF9WaFNHeHJ5bzhHVWx4ZUFoa3RuRG5wVkNPZFlCbF82aWt6amVuZm1ZWGRUMmhJVW5uOENPcHU4eEs3ajJnTkRTTUlmTVJONi1ESUxLZjUxX3ZpMDN3SGJHZTg0WDVkblBMUUNETmlPbU9QRUlIM0JMeUk3RG9aZ2VGTzc4Yl9wMG8tYjNsUktEWXJ5YVkyejhrc3E1MWZMNEJ3NnZsSEpyNkFsa0FUbWRISm5oWWhOdy1lYzI0TV9pSWIyYnVRSl9rVnRWNENrcE5HNnk4X0JSYkczU0JqUkpNQi11SzNaVlBTcGROYXE2WXUwSmVEZ0NWXzl0QnJpSXRSWXp1VFZtMzlCVmZreGYyVU5GS05XbW1xMDZIUHRHbnZSVWV1VFNvQlJYMVVnU1A2Y1U1a2lycVRBXzhoN2FEb0JvenZZSk14UU11U2lQcVBIUFFQSHltSGJhZXVFLWViVjA4YkE0RDlZdExIVTlQMTBFY2dFWml6Q2dxd09kYVVtb2taRU92b2Q4TGRRbU1kQnE1VVRmZEhOVEtmYWlQYmhLenhoR0NuN3VuNi0xTmxsMmtRZUpUcFV5N0kwd2pzVVJ4LXJMLUNBckVOOFhlZ1NBVncxMy1mNlVhZkxuc0Qyck5JREZ0b09XODRac01TZ1VaelJlYl9rekpsRHBwVnFyTXFLMjFsUkN2N081OThjYnNEeDNISXplWWQ5WnByQXQwWHZDTnBlMDhYaUVTbGhla2p3TFNQaDBLSGp3U0hMT0V5STRBdzVCS2hmQU52QldNUDNuSVpZcmFieTVmMDViNTNselN6NGtCZHdPcW9JUkZacjA0Mm8zT3lQNlQ0UTNwTWpuZk1MRE9XZG1ZOUFPUkVPZVJmTzJna20tVkFCVldVeFZKY3lyOUdQcFVEMUdXMFdidDVmb1ZMVF9OZF8yQkRXUHRNRGV3UWotUFZMeUJzMkhyYkY2VzQ4ZlNYSzFjazhuN2tmdVhQbEkwWlZ5MTFmLjBocXVycE95QkxXalppUjFfUzcyMjlsTmlkN09WUzQyS29UVHJRVWhwbGlYcC1DdElnZFVmNTlfNkZvM01Xemx1SFgtX2pTM2NsYUNNYTJkWW4ybGJn"><input type="hidden" name="service" value=""><input type="hidden" name="_eventId" value="submit"><input type="hidden" name="geolocation"><div class="form__row">
                            <button class="btn btn-block btn-submit" name="submit" accesskey="l" tabindex="6" type="submit" value="Log into my account">Log into my account</button>

                            <div class="form__registration-bar">
                                <p class="form__registration-hint">Don't have an account yet?</p>
                                <a href="https://sedo.com/member/register.php?language=us" class="btn btn--unobtrusive">Register</a>
                            </div>
                        </div>


                    </form>

                    <div id="pmlinks">
                        <div>
                            <br><span class="fa fa-question-circle"></span>
                            <a href="https://sedo.com/member/forgotpassword.php3?language=us">I forgot my password</a>
                        </div>
                    </div>

                    <aside>
                        <nav class="language-nav">
                            <ul class="language-list">
                                <li class="language-item">
                                    <a href="https:/auth/login?locale=en_US">English (US)</a>
                                </li>
                                <li class="language-item">
                                    <a href="https:/auth/login?locale=en_GB">English (UK)</a>
                                </li>
                                <li class="language-item">
                                    <a href="https:/auth/login?locale=de_DE">Deutsch</a>
                                </li>
                                <li class="language-item">
                                    <a href="https:/auth/login?locale=es_ES">Español</a>
                                </li>
                                <li class="language-item">
                                    <a href="https:/auth/login?locale=fr_FR">Français</a>
                                </li>
                                <li class="language-item">
                                    <a href="https:/auth/login?locale=zh_CN">中文（简体)</a>
                                </li>
                                <li class="language-item">
                                    <a href="https:/auth/login?locale=pt_BR">Português</a>
                                </li>
                            </ul>
                        </nav>
                    </aside>

                    <script>/*<![CDATA[*/
                        var i = "One moment please..."
                        var j = "Log into my account"
                            /*]]>*/
                            $(window).on('pageshow', function(){
                                $(':submit').prop('disabled', false);
                                $(':submit').attr('value', j);
                            });
                            $(document).ready(function () {
                                $("#fm1").submit(function () {
                                    $(":submit").attr("disabled", true);
                                    $(":submit").attr("value", i);
                                    return true;
                                });
                            });</script>
                </div>
            </div>
        </div>
        <div id="providers" style="display: none;">
            <script>var redirectTo = $( "a[autoRedirect=true]" ).attr("href");
            if (redirectTo != null && redirectTo != undefined) {
                window.location.href = redirectTo;
            }</script>
        </div>

        <script>if ($('#list-providers').length) {
                    $('#providers').addClass("col");
                    $('#loginForm').addClass("col");
                    $('#providers').show();
                }</script>

    </div>
</main>
