<main role="main" id="content-main-wrapper" class="content-wrapper-full">
    <div class="t3-content-fullwidth">
        <div class="ce-image-hero frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-medium" style="background-image: url('https://cdn.sedo.com/fileadmin/user_upload/header_markettrend_Aa.jpg');">
            <div class="content">
                <div class="dark rte">
                    <h1>A milestone towards success</h1>
                    <h2>Domain names: anchor your website best </h2>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div><div class="ce-wrapper grey xx frame frame-default frame-type-dce_dceuid12 frame-layout-0 frame-space-after-extra-small">
            <div class="ce-multicontent rte">
                <h2 class="align-center">RECENTLY SOLD</h2>
            </div>
        </div><div class="ce-wrapper grey frame frame-default frame-type-dce_dceuid21 frame-layout-0 frame-space-after-medium">
            <div class="rss-box-wrapper">
                <div class="rss-feed-ticker rss-feed-1">
                    <div style="width: 100000px; margin-left: 0px; animation: 14.3287s linear 0s infinite normal none running marqueeAnimation-6264503;" class="js-marquee-wrapper">
                        <div class="js-marquee" style="margin-right: 0px; float: left;">
                            <div class="items">
                                <span class="domain"><a href="#" title="autorun.com.au">autorun.com.au</a></span>
                                <span class="domain"><a href="#" title="morus.com">morus.com</a></span>
                                <span class="domain"><a href="#" title="anywhere.io">anywhere.io</a></span>
                                <span class="domain"><a href="" title="pluggy.com">pluggy.com</a></span>
                                <span class="domain"><a href="#" title="bc4u.co.uk">bc4u.co.uk</a></span>
                                <span class="domain"><a href="#" title="luisacerano.cn">luisacerano.cn</a></span>
                                <span class="domain"><a href="#" title="dieheizung.de">dieheizung.de</a></span>
                                <span class="domain"><a href="#" title="pstlv.com">pstlv.com</a></span>
                            </div>
                        </div><div class="js-marquee" style="margin-right: 0px; float: left;">
                            <div class="items">
                                <span class="domain"><a href="#" title="autorun.com.au">autorun.com.au</a></span>
                                <span class="domain"><a href="#" title="morus.com">morus.com</a></span>
                                <span class="domain"><a href="#" title="anywhere.io">anywhere.io</a></span>
                                <span class="domain"><a href="#" title="pluggy.com">pluggy.com</a></span>
                                <span class="domain"><a href="#" title="bc4u.co.uk">bc4u.co.uk</a></span>
                                <span class="domain"><a href="#" title="luisacerano.cn">luisacerano.cn</a></span>
                                <span class="domain"><a href="#" title="dieheizung.de">dieheizung.de</a></span>
                                <span class="domain"><a href="" title="pstlv.com">pstlv.com</a></span>
                            </div>
                        </div>
                        <!---->   @*<style>-webkit-keyframes marqueeAnimation-6264503  { 100%  {margin-left:-1119px}}</style>*@
                    </div>
                </div>
            </div>
        </div><div class="ce-wrapper white">
            <div class="ce-headline centered">
                <h2>DOMAIN AUCTIONS AT SEDO</h2>
            </div>
        </div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid21 frame-layout-0 frame-space-after-medium">
            <div class="rss-box-wrapper">
                <div class="rss-feed-box rss-feed-2">
                    <div class="headline">
                        <ul>
                            <li>

                                <h3><a href="#">Latest Bids</a></h3>

                            </li>
                        </ul>
                    </div>
                    <div class="items">
                        <ul>
                            <li>
                                <span class="domain"><a href="#" title="spared.co.uk">spared.co.uk</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">150 GBP</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="carinsuranceassurance.com">carinsuranceassurance...</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">10,000 USD</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="babosas.com">babosas.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">60 EUR</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="gigworkforce.com">gigworkforce.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">97 USD</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="rivershirts.com">rivershirts.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">30 USD</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="weeklyhits.com">weeklyhits.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">30 USD</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="rundumwissen.de">rundumwissen.de</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">200 EUR</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="tompoes.nl">tompoes.nl</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">200 EUR</a></span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="rss-feed-box rss-feed-2">
                    <div class="headline">
                        <ul>
                            <li>

                                <h3><a href="#">Auctions closing soon</a></h3>

                            </li>
                        </ul>
                    </div>
                    <div class="items">
                        <ul>
                            <li>
                                <span class="domain"><a href="" title="easymeetings.com">easymeetings.com</a></span>
                                <span class="timeleft"><span>RSS_FIELD_TIME_REMAINING</span> <a href="#">2h 45m</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="bookingpot.com">bookingpot.com</a></span>
                                <span class="timeleft"><span>RSS_FIELD_TIME_REMAINING</span> <a href="#">3h 6m</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="exxeta-leipzig.com">exxeta-leipzig.com</a></span>
                                <span class="timeleft"><span>RSS_FIELD_TIME_REMAINING</span> <a href="#">3h 6m</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="jigandenltd.com">jigandenltd.com</a></span>
                                <span class="timeleft"><span>RSS_FIELD_TIME_REMAINING</span> <a href="#">3h 6m</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="ohsirschool.com">ohsirschool.com</a></span>
                                <span class="timeleft"><span>RSS_FIELD_TIME_REMAINING</span> <a href="#">3h 6m</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="theyoubetter.com">theyoubetter.com</a></span>
                                <span class="timeleft"><span>RSS_FIELD_TIME_REMAINING</span> <a href="#">3h 6m</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="paris-attractions-pass.com">paris-attractions-pas...</a></span>
                                <span class="timeleft"><span>RSS_FIELD_TIME_REMAINING</span> <a href="#">3h 6m</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="adamyuval.com">adamyuval.com</a></span>
                                <span class="timeleft"><span>RSS_FIELD_TIME_REMAINING</span> <a href="#">3h 6m</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0 frame-space-after-medium">
            <div class="ce-multicontent rte">
                <p class="align-center"><a href="#" title="Learn more about domain auctions" class="btn btn-beige">Learn more about Domain Auctions</a> <a href="#" title="Start your own auctions now" class="btn btn-blue">Start your own auction now</a></p>
            </div>
        </div><div class="ce-wrapper grey xx frame frame-default frame-type-dce_dceuid12 frame-layout-0 frame-space-after-medium">
            <div class="ce-multicontent rte">
                <h2 class="align-center">NEW ON OUR MARKETPLACE</h2>
            </div>
        </div><div class="ce-wrapper grey frame frame-default frame-type-dce_dceuid21 frame-layout-0 frame-space-after-medium">
            <div class="rss-box-wrapper">
                <div class="rss-feed-box rss-feed-3">
                    <h3><a href="#">Showcases</a></h3>
                    <div class="items">
                        <ul>
                            <li>
                                <span class="domain"><a href="#" title="edentists.com">edentists.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">48,000 USD</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="eireland.com">eireland.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">35,000 EUR</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="egermany.com">egermany.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">35,000 EUR</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="espain.com">espain.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">35,000 EUR</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="eafrica.com">eafrica.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">35,000 EUR</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="ebrokers.com">ebrokers.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">150,000 USD</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="earchitects.com">earchitects.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">75,000 USD</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="autos-direct.com">autos-direct.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">35,000 USD</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="rss-feed-box rss-feed-3">
                    <h3><a href="#">Top Domains</a></h3>
                    <div class="items">
                        <ul>
                            <li>
                                <span class="domain"><a href="#" title="qoq.com">qoq.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">Make Offer</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="routing.com">routing.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">Make Offer</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="margarita.com">margarita.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">Make Offer</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="encounters.com">encounters.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">Make Offer</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="bonaire.com">bonaire.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">Make Offer</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="robe.com">robe.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">Make Offer</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="fiji.com">fiji.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">Make Offer</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="alluring.com">alluring.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">Make Offer</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="rss-feed-box rss-feed-3">
                    <h3><a href="https://sedo.com/search/?language=us&amp;price_end=2000&amp;listing_type%5B0%5D=1">Bargain Domains</a></h3>
                    <div class="items">
                        <ul>
                            <li>
                                <span class="domain"><a href="#" title="karname.com">karname.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">999 USD</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="estatelien.com">estatelien.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">450 USD</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="tuscanyfarmhouses.com">tuscanyfarmhouses.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">1000 USD</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="lovecapers.com">lovecapers.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">1788 USD</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="officetraining.org">officetraining.org</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">1288 USD</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="ethicalphilanthropy.com">ethicalphilanthropy.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">995 USD</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="veggiepure.com">veggiepure.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">1888 USD</a></span>
                            </li>
                            <li>
                                <span class="domain"><a href="#" title="pinksavvy.com">pinksavvy.com</a></span>
                                <span class="offer"><span>RSS_FIELD_PRICE</span> <a href="#">1588 USD</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><div class="ce-wrapper grey xx frame frame-default frame-type-dce_dceuid12 frame-layout-0 frame-space-before-medium frame-space-after-medium">
            <div class="ce-multicontent rte">
                <p class="align-center"><a href="#" title="More information about domain sales" class="btn btn-beige">More information about domain sales</a> <a href="#" title="Sell your own domain now" class="btn btn-blue">Sell your own domain now</a> </p>
            </div>
        </div><div class="ce-content-slider frame frame-default frame-type-dce_dceuid10 frame-layout-0 frame-space-after-medium">
            <div class="bx-wrapper" style="max-width: 100%;">
                <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 541px;">
                    <ul class="bxslider" style="width: 615%; position: relative; transition-duration: 0.5s; transform: translate3d(-3927px, 0px, 0px);">
                        <li style="float: left; list-style: outside none none; position: relative; width: 1309px;" class="bx-clone">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Buy_Domains/Market_Trends/Market_Trends_2018_Top-Highest-3-Letter_EN.jpg" alt="" width="1520" height="628">
                            <div class="content rte">
                                <h2 class="style-h1"><span style="color:#ffffff">Top 5 Highest 3 Letter .Com Sales in 2018</span></h2>
                            </div>
                        </li>
                        <li style="float: left; list-style: outside none none; position: relative; width: 1309px;">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Buy_Domains/Market_Trends/Market_Trends_2018_Most-Expensive_EN.jpg" alt="" width="1520" height="628">
                            <div class="content rte">
                                <h2 class="style-h1"><span style="color:#ffffff">The Most Expensive Domains of 2018</span></h2>
                            </div>
                        </li>
                        <li style="float: left; list-style: outside none none; position: relative; width: 1309px;">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Buy_Domains/Market_Trends/Market_Trends_2018_Top-Longest_EN.jpg" alt="" width="1520" height="628">
                            <div class="content rte">
                                <h2 class="style-h1">Top 5 Longest Domains of 2018</h2>
                                <h2>&nbsp;</h2>
                            </div>
                        </li>
                        <li style="float: left; list-style: outside none none; position: relative; width: 1309px;">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Buy_Domains/Market_Trends/Market_Trends_2018_Most-Expensive-New-gTLDs_EN.jpg" alt="" width="1520" height="628">
                            <div class="content rte">
                                <h2 class="style-h1"><span style="color:#ffffff">Most expensive New gTLD Domains in 2018</span></h2>
                            </div>
                        </li>
                        <li style="float: left; list-style: outside none none; position: relative; width: 1309px;">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Buy_Domains/Market_Trends/Market_Trends_2018_Top-Highest-3-Letter_EN.jpg" alt="" width="1520" height="628">
                            <div class="content rte">
                                <h2 class="style-h1"><span style="color:#ffffff">Top 5 Highest 3 Letter .Com Sales in 2018</span></h2>
                            </div>
                        </li>
                        <li style="float: left; list-style: outside none none; position: relative; width: 1309px;" class="bx-clone">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Buy_Domains/Market_Trends/Market_Trends_2018_Most-Expensive_EN.jpg" alt="" width="1520" height="628">
                            <div class="content rte">
                                <h2 class="style-h1"><span style="color:#ffffff">The Most Expensive Domains of 2018</span></h2>
                            </div>
                        </li>
                    </ul>
                </div><div class="bx-controls bx-has-pager"><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="#" class="bx-pager-link">1</a></div><div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div><div class="bx-pager-item"><a href="" data-slide-index="2" class="bx-pager-link active">3</a></div><div class="bx-pager-item"><a href="" data-slide-index="3" class="bx-pager-link">4</a></div></div></div>
            </div>
        </div>
        <div class="ce-wrapper ce-container white  frame-space-after-large">
            <!-- Image [left] + Text [right] -->
            <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-left">
                    <div class="ce-disturber">
                        Become your
                        own
                        expert
                    </div>
                    <a href="#" class="cta">
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/Buy_Domains/Market_Trends/Marktstudien.jpg" alt="" width="1420" height="1082">
                    </a>
                </div>
                <div class="ce-text-right rte">
                    <h2>
                        Market study archive
                    </h2>
                    <p>Download our market studies from previous years here and gain exposure to the rapid development of the domain market. </p>
                    <p><a href="#" title="Marktstudie herunterladen" class="btn btn-blue">Market study 2013</a> <a href="#" title="Domain-Marktstudie 2012" class="btn btn-blue">Market study 2012</a></p>
                    <p><a href="#" title="Initiates file download" class="btn btn-blue">Market study 2011</a> <a href="#" title="Domain-Marktstudie 2010" class="btn btn-blue">Market study 2010</a></p>
                    <p><a href="#" class="btn btn-blue">Market study 2009</a>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</main>