<main role="main" id="content-main-wrapper" class="content-wrapper-full">
    <div class="t3-content-fullwidth">
        <div class="ce-image-hero resize frame frame-default frame-type-dce_dceuid1 frame-layout-0">

            <div class="ce-image-hero--image">


                <img src="https://cdn.sedo.com/fileadmin/user_upload/8_2_HD1.jpg" alt="" width="1520" height="628">


            </div>


            <div class="content">

                <div class="dark rte" data-ce="imagehero">


                    <h1>Sedo's Newsroom</h1>

                    <h2>Press releases and news from Sedo</h2>
                </div>

            </div>




        </div>
        <div id="news-wrapper">
            <div class="t3-news-left">

                <div id="c6960" class="frame frame-default frame-type-list frame-layout-0">
                    <div class="news">
                        <!--TYPO3SEARCH_end--><div class="news-list-view">
                            <!--
                                =====================
                                    Partials/List/Item.html
                            -->
                            <div class="article articletype-0 topnews" itemscope="itemscope" itemtype="http://schema.org/Article">
                                <div class="header">
                                    <p>
                                        <span class="news-list-date">
                                            <time datetime="2020-07-08">
                                                07/08/2020
                                                <meta itemprop="datePublished" content="2020-07-08">
                                            </time>
                                        </span>
                                    </p><h3><a title="united-domains – Largest European Registrar to implement New SedoMLS Brokerage " href="/us/about-us/news-press/newsroom/united-domains-largest-european-registrar-to-implement-new-sedomls-brokerage/"><span itemprop="headline">united-domains – Largest European Registrar to implement New SedoMLS Brokerage </span></a></h3>
                                </div><div class="teaser-text"><span itemprop="description"><p>Introducing our new SedoMLS Brokerage Service already being implemented by some of the world's largest registrars. </p></span></div><div class="footer"><p><span class="news-list-category">[US] Press About Sedo</span></p></div>
                            </div>
                            <!--
                                =====================
                                    Partials/List/Item.html
                            -->
                            <div class="article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                                <div class="header">
                                    <p>
                                        <span class="news-list-date">
                                            <time datetime="2020-06-12">
                                                06/12/2020
                                                <meta itemprop="datePublished" content="2020-06-12">
                                            </time>
                                        </span>
                                    </p><h3><a title="Beyond the domain: Five important elements of your business logo" href="/us/about-us/news-press/newsroom/beyond-the-domain-five-important-elements-of-your-business-logo/"><span itemprop="headline">Beyond the domain: Five important elements of your business logo</span></a></h3>
                                </div><div class="teaser-text"><span itemprop="description"><p>Save 20% on an iconic logo for your business with our partner logo.com!</p></span></div><div class="footer"><p><span class="news-list-category">[US] Domain News</span></p></div>
                            </div>
                            <!--
                                =====================
                                    Partials/List/Item.html
                            -->
                            <div class="article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                                <div class="header">
                                    <p>
                                        <span class="news-list-date">
                                            <time datetime="2020-05-13">
                                                05/13/2020
                                                <meta itemprop="datePublished" content="2020-05-13">
                                            </time>
                                        </span>
                                    </p><h3><a title="The oldest websites that are still online" href="/us/about-us/news-press/newsroom/the-oldest-websites-that-are-still-online/"><span itemprop="headline">The oldest websites that are still online</span></a></h3>
                                </div><div class="teaser-text"><span itemprop="description"><p>Take a look at the six oldest yet still active internet addresses under .com.</p></span></div><div class="footer"><p><span class="news-list-category">[US] Domain News</span></p></div>
                            </div>
                            <!--
                                =====================
                                    Partials/List/Item.html
                            -->
                            <div class="article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                                <div class="header">
                                    <p>
                                        <span class="news-list-date">
                                            <time datetime="2020-05-12">
                                                05/12/2020
                                                <meta itemprop="datePublished" content="2020-05-12">
                                            </time>
                                        </span>
                                    </p><h3><a title="Buying and Selling Domain Names During a Time of Economic Downturn" href="/us/about-us/news-press/newsroom/buying-and-selling-domain-names-during-a-time-of-economic-downturn/"><span itemprop="headline">Buying and Selling Domain Names During a Time of Economic Downturn</span></a></h3>
                                </div><div class="teaser-text"><span itemprop="description"><p>Times of economic downturn have a positive flip side: It’s an opportunity to invest.</p></span></div><div class="footer"><p><span class="news-list-category">[US] Domain News</span></p></div>
                            </div>
                            <!--
                                =====================
                                    Partials/List/Item.html
                            -->
                            <div class="article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                                <div class="header">
                                    <p>
                                        <span class="news-list-date">
                                            <time datetime="2020-04-23">
                                                04/23/2020
                                                <meta itemprop="datePublished" content="2020-04-23">
                                            </time>
                                        </span>
                                    </p><h3><a title="10 Rules for Successful Domain-Marketing:" href="/us/about-us/news-press/newsroom/10-golden-rules-for-successful-domain-marketing-9/"><span itemprop="headline">10 Rules for Successful Domain-Marketing:</span></a></h3>
                                </div><div class="teaser-text"><span itemprop="description"><p>10. Don’t throw in the towel if your dream domain isn’t available</p></span></div><div class="footer"><p><span class="news-list-category">[US] Domain News</span></p></div>
                            </div>
                            <!--
                                =====================
                                    Partials/List/Item.html
                            -->
                            <div class="article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                                <div class="header">
                                    <p>
                                        <span class="news-list-date">
                                            <time datetime="2020-04-23">
                                                04/23/2020
                                                <meta itemprop="datePublished" content="2020-04-23">
                                            </time>
                                        </span>
                                    </p><h3><a title="10 Rules for Successful Domain Marketing:" href="/us/about-us/news-press/newsroom/10-golden-rules-for-successful-domain-marketing-8/"><span itemprop="headline">10 Rules for Successful Domain Marketing:</span></a></h3>
                                </div><div class="teaser-text"><span itemprop="description"><p>9. Be an industry leader with category killer domains</p></span></div><div class="footer"><p><span class="news-list-category">[US] Domain News</span></p></div>
                            </div>
                            <!--
                                =====================
                                    Partials/List/Item.html
                            -->
                            <div class="article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                                <div class="header">
                                    <p>
                                        <span class="news-list-date">
                                            <time datetime="2020-04-23">
                                                04/23/2020
                                                <meta itemprop="datePublished" content="2020-04-23">
                                            </time>
                                        </span>
                                    </p><h3><a title="10 Rules for Successful Domain Marketing:" href="/us/about-us/news-press/newsroom/10-golden-rules-for-successful-domain-marketing-7/"><span itemprop="headline">10 Rules for Successful Domain Marketing:</span></a></h3>
                                </div><div class="teaser-text"><span itemprop="description"><p>8. Domain + Authority = More Traffic</p></span></div><div class="footer"><p><span class="news-list-category">[US] Domain News</span></p></div>
                            </div>
                            <!--
                                =====================
                                    Partials/List/Item.html
                            -->
                            <div class="article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                                <div class="header">
                                    <p>
                                        <span class="news-list-date">
                                            <time datetime="2020-04-23">
                                                04/23/2020
                                                <meta itemprop="datePublished" content="2020-04-23">
                                            </time>
                                        </span>
                                    </p><h3><a title="10 Rules for Successful Domain Marketing:" href="/us/about-us/news-press/newsroom/10-golden-domain-rules-for-successful-domain-marketing/"><span itemprop="headline">10 Rules for Successful Domain Marketing:</span></a></h3>
                                </div><div class="teaser-text"><span itemprop="description"><p>7. Avoid embarrassing domain name mishaps</p></span></div><div class="footer"><p><span class="news-list-category">[US] Domain News</span></p></div>
                            </div><div class="page-navigation">
                                <ul class="f3-widget-paginator">
                                    <li class="current">1</li>
                                    <li><a href="/us/about-us/news-press/page/2/">2</a></li>
                                    <li><a href="/us/about-us/news-press/page/3/">3</a></li>
                                    <li>....</li>
                                    <li class="last"><a href="/us/about-us/news-press/page/180/">180</a></li>
                                    <li class="last next">
                                        <a href="/us/about-us/news-press/page/2/">
                                            Next
                                        </a>
                                    </li>
                                </ul>
                            </div><div class="news-clear"></div>
                        </div><!--TYPO3SEARCH_begin-->
                    </div>
                </div>


            </div>
            <div class="t3-news-right">

                <div id="c6991" class="frame frame-default frame-type-list frame-layout-0">



                    <div class="news">

                        <div class="news-search-form">
                            <form name="search" action="/us/about-us/news-press/search-results/?tx_news_pi1%5Bcontroller%5D=News&amp;cHash=d7a33a484875bd80e0b4067c07033b09" method="post">
                                @*<div>
                                    <input type="hidden" name="tx_news_pi1[__referrer][@extension]" value="News">
                                    <input type="hidden" name="tx_news_pi1[__referrer][@vendor]" value="GeorgRinger">
                                    <input type="hidden" name="tx_news_pi1[__referrer][@controller]" value="News">
                                    <input type="hidden" name="tx_news_pi1[__referrer][@action]" value="searchForm">
                                    <input type="hidden" name="tx_news_pi1[__referrer][arguments]" value="YTowOnt90aabd9610ea4fc0cde5089121f6211b6819edcb9">
                                    <input type="hidden" name="tx_news_pi1[__referrer][@request]" value="a:4:{s:10:&quot;@extension&quot;;s:4:&quot;News&quot;;s:11:&quot;@controller&quot;;s:4:&quot;News&quot;;s:7:&quot;@action&quot;;s:10:&quot;searchForm&quot;;s:7:&quot;@vendor&quot;;s:11:&quot;GeorgRinger&quot;;}a2955b643e029ef042332ba871a5507196cd5f79">
                                    <input type="hidden" name="tx_news_pi1[__trustedProperties]" value="a:1:{s:6:&quot;search&quot;;a:1:{s:7:&quot;subject&quot;;i:1;}}79c5ce43edd3bc65da2f3d9ff7c785742eb083d1">
                                </div>*@

                                <fieldset>
                                    <div class="form-group">
                                        <!--<label for="news-subject">Text</label>-->
                                        <input placeholder="Keyword" class="form-control" id="news-subject" type="text" name="tx_news_pi1[search][subject]">
                                    </div>

                                    <!--<input class="btn btn-default" type="submit" value="Start search" />-->
                                </fieldset>
                            </form>
                        </div>

                    </div>

                </div>


                <div id="c6992" class="frame frame-default frame-type-list frame-layout-0"><div class="news"><div class="news-menu-view news-widget date-menu"><ul><li><a href="/us/about-us/news-press/dateFilter/2020/">2020</a></li><li><a href="/us/about-us/news-press/dateFilter/2019/">2019</a></li><li><a href="/us/about-us/news-press/dateFilter/2018/">2018</a></li><li><a href="/us/about-us/news-press/dateFilter/2017/">2017</a></li><li><a href="/us/about-us/news-press/dateFilter/2016/">2016</a></li><li><a href="/us/about-us/news-press/dateFilter/2015/">2015</a></li><li><a href="/us/about-us/news-press/dateFilter/2014/">2014</a></li><li><a href="/us/about-us/news-press/dateFilter/2013/">2013</a></li><li><a href="/us/about-us/news-press/dateFilter/2012/">2012</a></li><li><a href="/us/about-us/news-press/dateFilter/2011/">2011</a></li><li><a href="/us/about-us/news-press/dateFilter/2010/">2010</a></li><li><a href="/us/about-us/news-press/dateFilter/2009/">2009</a></li><li><a href="/us/about-us/news-press/dateFilter/2008/">2008</a></li><li><a href="/us/about-us/news-press/dateFilter/2007/">2007</a></li><li><a href="/us/about-us/news-press/dateFilter/2006/">2006</a></li><li><a href="/us/about-us/news-press/dateFilter/2005/">2005</a></li><li><a href="/us/about-us/news-press/dateFilter/2004/">2004</a></li><li><a href="/us/about-us/news-press/dateFilter/2003/">2003</a></li><li><a href="/us/about-us/news-press/dateFilter/2002/">2002</a></li><li><a href="/us/about-us/news-press/dateFilter/2001/">2001</a></li><li><a href="/us/about-us/news-press/dateFilter/2000/">2000</a></li><li><a href="/us/about-us/news-press/dateFilter/1999/">1999</a></li></ul></div></div></div>


                <div id="c6970" class="frame frame-default frame-type-list frame-layout-0">
                    <div class="news">
                        <div class="news-widget cat-menu">
                            <ul>
                                <li>
                                    <a title="[US] Press About Sedo" href="/us/about-us/news-press/category/us-press-about-sedo/">
                                        [US] Press About Sedo
                                    </a>
                                </li>
                                <li>
                                    <a title="[US] Domain News" href="/us/about-us/news-press/category/us-domain-news/">
                                        [US] Domain News
                                    </a>
                                </li>
                                <li>
                                    <a title="[US] Our Domain Press Releases" href="/us/about-us/news-press/category/us-our-domain-press-releases/">
                                        [US] Our Domain Press Releases
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>



                <div class="sedo-social sedo-social--sidebar">
                    <h3 class="sedo-social__title">
                        Find us on
                    </h3>
                    <ul class="sedo-social__list">
                        <li>
                            <a target="_blank" class="sedo-social__btn sedo-social__btn--withIcon sedo-social__btn--facebook" href="https://www.facebook.com/sedo">
                                <svg><use xlink:href="#s-font-social-facebook"></use></svg>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" class="sedo-social__btn sedo-social__btn--withIcon sedo-social__btn--twitter" href="https://twitter.com/sedo">
                                <svg><use xlink:href="#s-font-social-twitter"></use></svg>
                                <span>Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" class="sedo-social__btn sedo-social__btn--withIcon sedo-social__btn--instagram" href="https://www.instagram.com/sedodomains/">
                                <svg><use xlink:href="#s-font-social-instagram"></use></svg>
                                <span>Instagram</span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" class="sedo-social__btn sedo-social__btn--withIcon sedo-social__btn--youtube" href="https://www.youtube.com/user/SedoLLC">
                                <svg><use xlink:href="#s-font-social-youtube"></use></svg>
                                <span>YouTube</span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" class="sedo-social__btn sedo-social__btn--withIcon sedo-social__btn--linkedin" href="https://www.linkedin.com/company/sedo-gmbh/">
                                <svg><use xlink:href="#s-font-social-linkedin"></use></svg>
                                <span>LinkedIn</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</main>