
@{
    ViewData["Title"] = "Offer";
}

    <main role="main" id="content-main-wrapper" class="content-wrapper-full">
        <div class="t3-content-fullwidth">
            <div class="ce-image-hero resize frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-medium">

                <div class="ce-image-hero--image">


                    <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/what_sedo_offers/header_wassedoanbieted_Aa.jpg" alt="" width="1520" height="628">


                </div>


                <div class="content">

                    <div class="dark rte" data-ce="imagehero">


                        <h1>
                            Find the perfect <br>
                            web address
                        </h1>

                        <h2>or earn money with domains you already own</h2>
                    </div>

                </div>




            </div><div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0">
                <div class="ce-multicontent rte" data-ce="multicontent">
                    <h2 class="style-h1">Buy domains – let us help you find your ideal address</h2>
                    <p>Do you have an ideal web address in mind, but the domain is already taken? <a href="/search/?language=us" title="Domain marketplace" class="internal-link">Our marketplace</a> has more than 19 million registered internet addresses for sale from all over the world. There's a high probability we have what you're looking for or can provide a suitable alternative.</p>
                </div>
            </div>


            <div class="ce-wrapper ce-container white  frame-space-after-medium">

                <!-- Text [left] + Image [right] -->
                <div class="ce-textimage-hor ">
                    <div class="ce-image-right">


                        <div class="ce-disturber">
                            Buy domains
                            with no
                            extra costs
                        </div>


                        <a href="/search/?language=us" title="Marketplace" class="cta">

                            <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/what_sedo_offers/sedo_search_laptop_EN.jpg" alt="" width="1420" height="1082">

                        </a>


                    </div>
                    <div class="ce-text-left rte" data-ce="textimage">

                        <h2>

                            At the Sedo marketplace
                        </h2>
                        <p>With over 19 million listed domains, we offer you the <a href="/us/" title="Sedo - The world's leading domain marketplace" class="internal-link">world's largest trade platform for Internet addresses</a>. Use our convenient <a href="/search/?language=us" title="Domain marketplace" class="internal-link">domain search</a> to quickly find the domain you are searching for – or get inspired with alternative options.</p><ul class="icon-beige"> 	<li>No fees or commissions for <a href="/us/buy-domains/" title="Buy domains" class="internal-link">domain purchases</a></li> 	<li>Free <a href="/us/services/domain-transfer-service/" title="Transfer Service" class="internal-link">transfer</a> of your purchased domain</li> 	<li>Secure Transfer Service: funds are not released to the seller until the domain is transferred.</li> </ul><p><a href="/search/?language=us" title="Domain search" class="btn btn-blue">Search for and buy domains</a></p>
                    </div>
                </div>

                <!-- Text [left] + Image [right] -->
                <div class="ce-textimage-hor ">
                    <div class="ce-image-right">



                        <a href="/us/services/broker-service/" title="Broker Service" class="cta">

                            <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/what_sedo_offers/Broker_1420x1082_ALL.jpg" alt="" width="1420" height="1082">

                        </a>


                    </div>
                    <div class="ce-text-left rte" data-ce="textimage">

                        <h2>

                            About our Domain Brokers
                        </h2>
                        <p>Having trouble finding the domain you want on our marketplace? Our professional team of brokers will help you to find the best domains in the world for your company, marketing plans and campaigns all within your budget.</p><ul class="icon-beige"> 	<li>One-time payment of <a href="/us/what-we-offer/price-list/" title="Price list" class="internal-link">just $69</a> to hire a broker</li> 	<li>15% commission – only if a domain is successfully purchased</li> 	<li>Free <a href="/us/services/domain-transfer-service/" title="Transfer Service" class="internal-link">Transfer Service</a> included</li> </ul><p><a href="/us/services/broker-service/" title="Brokerage Service" class="btn btn-blue">More about our Broker Service</a></p>
                    </div>
                </div>


            </div>


            <div class="ce-wrapper white frame frame-default frame-type-dce_dceuid16 frame-layout-0 frame-space-after-large">
                <div class="ce-quotes">

                    <div class="item">
                        <div class="quote rte" data-ce="quoteboxes">
                            <p>"We were very well advised and supported in the planning of our domain strategy. We will count on Sedo in the future."</p>
                        </div>
                        <div class="author">
                            <p>
                                LARS NIERFELD <br>
                                MANAGING DIRECTOR KiK24.DE GmbH
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="quote rte" data-ce="quoteboxes">
                            <p>"Sedo was able to contact the owner of our desired domain and easily negotiated a fair price. From the very beginning we felt that we were on our way to achieving right address for us."</p>
                        </div>
                        <div class="author">
                            <p>
                                STEFAN SAUTMANN<br>
                                STRÖER DIGITAL GROUP GMBH
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="quote rte" data-ce="quoteboxes">
                            <p>"Our core competence is the invention of new online companies. Good domain names are essential for this and Sedo offers the best selection."</p>
                        </div>
                        <div class="author">
                            <p>
                                LARS FINK<br>
                                MANAGING PARTNER, BETAFABRIK GMBH
                            </p>
                        </div>
                    </div>

                </div>
            </div><div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0 frame-space-before-extra-small">
                <div class="ce-multicontent rte" data-ce="multicontent">
                    <h2 class="style-h1">Sell domains – at the world's largest marketplace for web addresses</h2>
                    <p>Sedo is the first point of contact if you want to <a href="/us/sell-domains/" title="Sell your domains" class="internal-link">sell your domain name</a>. We also offer you the largest selection of selling options in the domain market – so you can decide which is the best for your domain!</p>
                </div>
            </div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid15 frame-layout-0">
                <div class="ce-checkmarks">

                    <div class="item rte" data-ce="checkmarkshorizontal">
                        <p>List domains at no charge and pay from as little as <a href="/us/what-we-offer/price-list/" title="Price list" class="internal-link">10% commission</a> if successfully sold</p>
                    </div>

                    <div class="item rte" data-ce="checkmarkshorizontal">
                        <p><a href="/us/sell-domains/promotion-options/" title="Promotion options" class="internal-link">Promote</a> and sell your domains worldwide</p>
                    </div>

                    <div class="item rte" data-ce="checkmarkshorizontal">
                        <p>Large selection of <a href="/us/sell-domains/" title="Selling options" class="internal-link">selling options</a> on the domain market</p>
                    </div>

                    <div class="item rte" data-ce="checkmarkshorizontal">
                        <p>Professional <a href="/member/index.php3?language=us" title="Seller dashboard" class="internal-link">seller dashboard</a> for perfect overview</p>
                    </div>

                    <div class="item rte" data-ce="checkmarkshorizontal">
                        <p>Broker commissions only charged on successful sales, with <a href="/us/what-we-offer/price-list/" title="Price list" class="internal-link">no advance fees</a></p>
                    </div>

                </div>
            </div><div class="ce-wrapper white nn frame frame-default frame-type-dce_dceuid12 frame-layout-0 frame-space-after-large">
                <div class="ce-multicontent indented rte" data-ce="multicontent">

                </div>
            </div>


            <div class="ce-wrapper ce-container white ">

                <!-- Image [top] + Text [bottom] [25|25|25|25] -->
                <div class="ce-wrapper">
                    <div class="ce-textimage-ver ver-25">
                        <div class="ce-image-top">



                            <a href="/member/domainsignup/index.php?language=us" title="Add and sell domains" class="cta">

                                <img class="rounded" src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/what_sedo_offers/screenshot_fixed_price_EN.jpg" alt="" width="1000" height="1000">

                            </a>


                        </div>
                        <div class="ce-text-bottom rte" data-ce="textimage">

                            <h2 class="align-center">

                                Buy Now price
                            </h2>
                            <p class="align-left">Offer your domain on our marketplace without delay – using the <a href="/us/sell-domains/" class="internal-link">Buy Now</a> pricing option.</p>
                        </div>
                    </div><div class="ce-textimage-ver ver-25">
                        <div class="ce-image-top">



                            <a href="/member/domainsignup/index.php?language=us" title="Add domains" class="cta">

                                <img class="rounded" src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/what_sedo_offers/screenshot_make_offer_price.jpg" alt="" width="1000" height="1000">

                            </a>


                        </div>
                        <div class="ce-text-bottom rte" data-ce="textimage">

                            <h2 class="align-center">

                                Negotiate price
                            </h2>
                            <p class="align-left">Accept bids from potential buyers, or <a href="/us/sell-domains/domain-trade/" title="negotiate" class="internal-link">negotiate</a> the best price.</p>
                        </div>
                    </div><div class="ce-textimage-ver ver-25">
                        <div class="ce-image-top">



                            <a href="/us/sell-domains/domain-auction/" title="Domain Auction" class="cta">

                                <img class="rounded" src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/what_sedo_offers/Screenshot_auction_2.jpg" alt="" width="1000" height="1000">

                            </a>


                        </div>
                        <div class="ce-text-bottom rte" data-ce="textimage">

                            <h2 class="align-center">

                                Start auction
                            </h2>
                            <p class="align-left">Start your own <a href="/us/sell-domains/domain-auction/" title="Domain Auction" class="internal-link">Domain Auction</a> – or participate in one of our regular auction events. </p>
                        </div>
                    </div><div class="ce-textimage-ver ver-25">
                        <div class="ce-image-top">



                            <a href="/us/services/broker-service/" title="Brokerage Service" class="cta">

                                <img class="rounded" src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/what_sedo_offers/Sedo_Broker_Negar_1000x1000.jpg" alt="" width="1000" height="1000">

                            </a>


                        </div>
                        <div class="ce-text-bottom rte" data-ce="textimage">

                            <h2 class="align-center">

                                Hire a broker
                            </h2>
                            <p class="align-left">Let us do the hard work for you: Our professional <a href="/us/services/broker-service/" title="Domain brokers" class="internal-link">domain brokers</a> will market your domain.</p>
                        </div>
                    </div>
                </div>

                <!-- Image [top] + Text [bottom] [25|25|25|25] -->
                <!-- Image [top] + Text [bottom] [25|25|25|25] -->
                <!-- Image [top] + Text [bottom] [25|25|25|25] -->



            </div>


            <div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0 frame-space-after-extra-large">
                <div class="ce-multicontent rte" data-ce="multicontent">
                    <p class="align-center"><a href="/us/sell-domains/" title="More about domain sales" class="btn btn-blue">More about domain sales</a> <a href="/member/domainsignup/index.php?language=us" title="Add domains" class="btn btn-beige">Sell domains now</a></p>
                </div>
            </div><div class="ce-image-hero resize frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-before-extra-large frame-space-after-extra-large">

                <div class="ce-image-hero--image">

                    <a href="/us/park-domains/" title="More about Domain Parking" class="hero--clickable">
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Parking_Hero_3040x1256_01.jpg" alt="" width="3040" height="1256">
                    </a>

                </div>


                <div class="content">

                    <div class="bright rte" data-ce="imagehero">


                        <h1></h1>

                        <h2 class="style-h1">Domain Parking:</h2>
                        <h2>Earn money and sell your domains more quickly!</h2>
                        <p>With Domain Parking, you earn money with thematically matched advertising links. With every click on an ad your profits will rise!</p>
                    </div>

                    <p><a href="/us/park-domains/" title="More about Domain Parking" class="btn btn-blue cta">More about Domain Parking</a></p>

                </div>




            </div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid7 frame-layout-0">
                <div class="ce-list-image-vertical">
                    <h2></h2>
                    <h2 class="style-h1">Professional services for every aspect of your domains</h2>
                    <p>Exclusive services for Sedo customers and partners: From the appraisal to the purchase and sale, all the way through to a smooth transfer. With our Domain Services we can support you every step of the way.</p>


                    <div class="item" data-index="0">

                        <div class="bubble">

                            <a href="/us/services/broker-service/" title="Broker Service" class="cta">
                                <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/what_sedo_offers/220px/Domain-Vermittlung.png" alt="" width="221" height="221">
                            </a>

                        </div>

                        <div class="content rte" data-ce="listimagemodulevertical">
                            <a href="/us/services/broker-service/" title="Broker Service" class="cta">
                                <h3>Broker Service</h3>
                            </a>
                            <p>It makes no difference if you want to buy your desired domain. Or sell your premium domain at a top price. Our experienced team of brokers is there for you – dedicated and guaranteed discreet.<br><br></p>
                        </div>
                    </div>

                    <div class="item" data-index="1">

                        <div class="bubble">

                            <a href="/us/services/domain-appraisal/" title="Domain Appraisals" class="cta">
                                <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/what_sedo_offers/Gutachten.png" alt="" width="221" height="221">
                            </a>

                        </div>

                        <div class="content rte" data-ce="listimagemodulevertical">
                            <a href="/us/services/domain-appraisal/" title="Domain Appraisals" class="cta">
                                <h3>Domain Appraisals</h3>
                            </a>
                            <p>Every domain differs. The prize question for both buyers and sellers is thus: How much may a domain cost? Our scientifically sound expert appraisals provide quick clarity – for individual domains and domain portfolios.</p>
                        </div>
                    </div>

                    <div class="item" data-index="2">

                        <div class="bubble">

                            <a href="/us/services/domain-transfer-service/" title="Transfer Service" class="cta">
                                <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/what_sedo_offers/Transfer.png" alt="" width="221" height="221">
                            </a>

                        </div>

                        <div class="content rte" data-ce="listimagemodulevertical">
                            <a href="/us/services/domain-transfer-service/" title="Transfer Service" class="cta">
                                <h3>Transfer Service</h3>
                            </a>
                            <p>Perfect for both buyers and sellers: Our reliable Transfer Service provides secure payment of the purchase price and the technically smooth transfer of the domain.&nbsp;</p>
                        </div>
                    </div>

                    <div class="item" data-index="3">

                        <div class="bubble">

                            <a href="/us/services/launch-calendar/" title="Launch calendar" class="cta">
                                <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/what_sedo_offers/Launch-Kalender.png" alt="" width="221" height="221">
                            </a>

                        </div>

                        <div class="content rte" data-ce="listimagemodulevertical">
                            <a href="/us/services/launch-calendar/" title="Launch calendar" class="cta">
                                <h3>Launch Calendar</h3>
                            </a>
                            <p>Hundreds of new generic domain endings are currently starting (gTLDs). During the "Sunrise phase", you can already get to know web addresses with new domain endings with us – even before they are publicly available.</p>
                        </div>
                    </div>

                    <div class="item" data-index="4">

                        <div class="bubble">

                            <a href="/us/services/sedos-partner-program/" title="Partner Program" class="cta">
                                <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/what_sedo_offers/Parterprogramm.png" alt="" width="221" height="221">
                            </a>

                        </div>

                        <div class="content rte" data-ce="listimagemodulevertical">
                            <a href="/us/services/sedos-partner-program/" title="Partner Program" class="cta">
                                <h3>Sedo Partner Program</h3>
                            </a>
                            <p>Free additional features and attractive profits for registrars, WHOIS search pages, domain blogs and pages oriented toward webmasters. It is best if you register right away!&nbsp;</p>
                        </div>
                    </div>

                </div>
            </div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid15 frame-layout-0">
                <div class="ce-checkmarks">

                    <div class="item rte" data-ce="checkmarkshorizontal">
                        <p>Perfect for the needs of <a href="/us/buy-domains/" title="Buy domains" class="internal-link">domain buyers</a> and sellers</p>
                    </div>

                    <div class="item rte" data-ce="checkmarkshorizontal">
                        <p><a href="/us/services/" title="Service overview" class="internal-link">Customer service</a> in 25 languages</p>
                    </div>

                    <div class="item rte" data-ce="checkmarkshorizontal">
                        <p>Personal support from highly experienced professionals</p>
                    </div>

                    <div class="item rte" data-ce="checkmarkshorizontal">
                        <p>Transparent prices and <a href="/us/what-we-offer/price-list/" title="Price list" class="internal-link">fair conditions</a></p>
                    </div>

                    <div class="item rte" data-ce="checkmarkshorizontal">
                        <p>A <a href="/us/about-us/" title="Sedo the company" class="internal-link">platform </a>with a number of international awards</p>
                    </div>

                </div>
            </div><div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0 frame-space-after-medium">
                <div class="ce-multicontent rte" data-ce="multicontent">
                    <p class="align-center"><a href="/us/services/" title="Service overview" class="btn btn-blue">More about our Domain Services</a> <a href="/us/know-how-support/" title="Customer support" class="btn btn-beige">Contact our service team today</a></p>
                </div>
            </div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid2 frame-layout-0 frame-space-before-medium frame-space-after-large">
                <div class="ce-list-boxes-cta">
                    <h2>Buy domains now</h2>


                    <div class="list-boxes-item" data-row="0">
                        <div class="header">
                            <h4>Ready, steady, go to the marketplace!</h4>

                        </div>
                        <div class="list-box list-box-left">
                            <div class="content rte" data-ce="listboxescta">
                                <h3>Search marketplace</h3>
                                <p>Search for keywords in more than 19 million domains.</p>
                            </div>

                            <a href="/search/?language=us" class="blue cta"> </a>

                        </div>
                        <div class="list-box list-box-right">
                            <div class="content rte" data-ce="listboxescta">
                                <h3>Contact Brokers</h3>
                                <p>Our domain professionals will help you find the perfect domain.</p>
                            </div>

                            <a href="/us/services/broker-service/" class="blue cta"> </a>

                        </div>
                    </div>

                    <div class="list-boxes-item" data-row="1">
                        <div class="header">
                            <h4>Additional information on everything to do with Sedo</h4>

                        </div>
                        <div class="list-box list-box-left">
                            <div class="content rte" data-ce="listboxescta">
                                <h3>About Sedo</h3>
                                <p>Everything worth knowing about Sedo.</p>
                            </div>

                            <a href="/us/about-us/" class="blue cta"> </a>

                        </div>
                        <div class="list-box list-box-right">
                            <div class="content rte" data-ce="listboxescta">
                                <h3>FAQ</h3>
                                <p>Find answers to the most frequently asked questions here.</p>
                            </div>

                            <a href="/us/know-how-support/" class="beige cta"> </a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
