
@{
    ViewData["Title"] = "PriceList";
}

    <main role="main" id="content-main-wrapper" class="content-wrapper-full">
        <div class="t3-content-fullwidth">
            <div class="ce-image-hero frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-medium" style="background-image: url('https://cdn.sedo.com/fileadmin/user_upload/header_preisliste_Aa.jpg');">


                <div class="content">

                    <div class="bright rte" data-ce="imagehero">


                        <h1>Price list</h1>

                        <h2>Fees and commissions for buyers and sellers</h2>
                    </div>

                </div>




            </div><div class="ce-wrapper white">














                <div class="ce-headline">
                    <h2 class="style-h1">
                        Free to all Sedo customers: <br>
                        Personal customer account and secure Transfer Services
                    </h2>
                </div>


            </div>


            <div class="ce-wrapper ce-container white  frame-space-after-medium">

                <!-- Image [left] + Text [right] -->
                <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
                <div class="ce-textimage-hor ">
                    <div class="ce-image-left">



                        <a href="/member/register.php?language=us" title="Create an account" class="cta">

                            <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Price_List/Laptop_register_Screenshot_1420x1082.jpg" alt="" width="1420" height="1082">

                        </a>


                    </div>
                    <div class="ce-text-right rte" data-ce="textimage">

                        <h2>

                            Free registration
                        </h2>
                        <p>Simply register to use all of the tools and services such as: <a href="/us/buy-domains/" title="Buy domains" class="internal-link">Buying</a>, <a href="/us/sell-domains/" title="Sell domains" class="internal-link">Selling</a>, <a href="/us/services/domain-appraisal/" title="Domain Appraisals" class="internal-link">Domain Appraisals</a>.&nbsp; With a Sedo customer account you gain access to all of this and much more.</p><ul class="icon-beige icon-blue"> 	<li>Free customer account for the Sedo trade platform</li> 	<li>Simply register – soon you will be able to buy and sell domains through Sedo</li> 	<li><a href="/us/park-domains/" title="Parking domains" class="internal-link">Free parking</a> is also available for your domains at Sedo – earn money from advertising revenues</li> </ul><p><a href="/member/register.php?language=us" title="Create an account" class="btn btn-blue">Register with Sedo now – It's absolutely free</a></p>
                    </div>
                </div>

                <!-- Text [left] + Image [right] -->
                <div class="ce-textimage-hor ">
                    <div class="ce-image-right">



                        <a href="/member/register.php?language=us" title="Create an account" class="cta">

                            <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Price_List/Kostenloser-Treuhandservice.jpg" alt="" width="1420" height="1082">

                        </a>


                    </div>
                    <div class="ce-text-left rte" data-ce="textimage">

                        <h2>

                            Free Transfer Service
                        </h2>
                        <p><b>Perfect for buyers</b> and sellers alike: Our reliable <a href="/us/services/domain-transfer-service/" title="Transfer Services" class="internal-link">Transfer Services</a> ensure secure payment of the purchase price and transfer of all domains handled by Sedo.</p><ul class="icon-beige icon-blue"><li>Payment of the domain purchase price only after the domain has been transferred</li><li>Seamless transfer of the domain ownership to the buyer</li><li>Quick, personal handling of the domain's transfer by Sedo's transfer experts</li></ul><p><a href="/member/register.php?language=us" title="Create an account" class="btn btn-blue">Register with Sedo now – It's absolutely free</a></p>
                    </div>
                </div>


            </div>


            <div class="ce-wrapper white">














                <div class="ce-headline">
                    <h2 class="style-h1">Buying Domains</h2>
                </div>


            </div><div class="ce-image-hero frame frame-default frame-type-dce_dceuid1 frame-layout-0" style="background-image: url('https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Price_List/Hero_3040x1256_Bubbles_einkaufen.jpg');">


                <div class="content">

                    <div class="bright rte" data-ce="imagehero">


                        <h1></h1>

                        <h2 class="style-h1">Purchase domains with no additional costs</h2>
                        <p>You can buy a domain on our trading platform at a fixed price, negotiate with the seller, or purchase it through a domain auction.&nbsp;If you <strong>choose wire transfer</strong> as payment method, you only pay the price of the domain. There aren't any additional costs or fees. And our reliable Transfer Services are included absolutely free of charge.</p>
                    </div>

                    <p><a href="/search/?language=us" title="Domain Search" class="btn btn-blue cta">Find your ideal domain</a></p>

                </div>




            </div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid7 frame-layout-0 frame-space-after-medium">
                <div class="ce-list-image-vertical">
                    <h2></h2>



                    <div class="item" data-index="0">


                        <div class="bubble blue">

                            3%

                        </div>


                        <div class="content rte" data-ce="listimagemodulevertical">

                            <h3>Handling Fee</h3>

                            <p>There is a 3% handling fee&nbsp;added for any domain purchase over $500 when using Alipay, PayPal and Credit Card.&nbsp;</p>
                        </div>
                    </div>

                </div>
            </div>


            <div class="ce-wrapper ce-container white  frame-space-after-medium">

                <!-- Image [left] + Text [right] -->
                <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
                <div class="ce-textimage-hor ">
                    <div class="ce-image-left">



                        <a href="/us/park-domains/" title="Park domains now" class="cta">

                            <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Price_List/Domain-Parking.jpg" alt="" width="1420" height="1082">

                        </a>


                    </div>
                    <div class="ce-text-right rte" data-ce="textimage">

                        <h2>

                            Free Domain Parking
                        </h2>
                        <p>With <a href="/us/park-domains/" title="Domain Parking" class="internal-link">Domain Parking</a>, earn money<b> </b>from thematically matched advertising links. You profit every time a link is clicked on!</p>
                        <p>Easily and quickly turn your domains into money while also increasing your sales opportunities. And the best part of all is this is free for Sedo customers.</p>
                        <p><a href="/us/park-domains/" title="Park your domain now" class="btn btn-blue">Park your domain now – It's absolutely free</a></p>
                    </div>
                </div>


            </div>


            <div class="ce-wrapper white">














                <div class="ce-headline">
                    <h2 class="style-h1">Selling domains</h2>
                </div>


            </div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid7 frame-layout-0 frame-space-after-medium">
                <div class="ce-list-image-vertical">
                    <h2>Trade domains</h2>
                    <p>Sedo charges a commission for domains traded on its platform. The amount of the commission depends on the type of sale and TLD, see below. Our Transfer Services are included at no charge. <a href="#c2128" title="Minimum Fees" class="internal-link">Minimum fees</a> and commissions in this price list are <strong>exclusive of VAT</strong>.</p>


                    <div class="item" data-index="0">


                        <div class="bubble blue">
                            <a href="/member/domainsignup/index.php?language=us" title="Add domains" class="cta">
                                10%
                            </a>
                        </div>


                        <div class="content rte" data-ce="listimagemodulevertical">
                            <a href="/member/domainsignup/index.php?language=us" title="Add domains" class="cta">
                                <h3>Sale of a parked, Buy Now domain on the Sedo marketplace</h3>
                            </a>
                            <p>Our cheapest selling option: <a href="/us/park-domains/" title="Park your domains" class="internal-link">Park your domains</a> and designate a fixed price. You'll only pay <strong>10% commission</strong> for a successful sale.</p>
                        </div>
                    </div>

                    <div class="item" data-index="1">


                        <div class="bubble beige">
                            <a href="/member/domainsignup/index.php?language=us" title="Add domains" class="cta">
                                15%
                            </a>
                        </div>


                        <div class="content rte" data-ce="listimagemodulevertical">
                            <a href="/member/domainsignup/index.php?language=us" title="Add domains" class="cta">
                                <h3>Sale of a domain on the Sedo marketplace</h3>
                            </a>
                            <p>Sedo charges a <strong>fee of 15%</strong> of the gross selling price for the <a href="/us/sell-domains/" title="Sell your domains" class="internal-link">sale of a domain</a> at a Buy Now or Make Offer price.</p>
                        </div>
                    </div>

                    <div class="item" data-index="2">


                        <div class="bubble beige">
                            <a href="/us/sell-domains/domain-auction/" title="Domain auction" class="cta">
                                15%
                            </a>
                        </div>


                        <div class="content rte" data-ce="listimagemodulevertical">
                            <a href="/us/sell-domains/domain-auction/" title="Domain auction" class="cta">
                                <h3>Domain Auction on the Sedo marketplace</h3>
                            </a>
                            <p>Sedo charges a <strong>fee of 15%</strong> of the highest bid if the reserve price is reached and the domain is sold in a <a href="/us/sell-domains/domain-auction/" title="Domain auction" class="internal-link">Direct Auction</a>. The amount of commission is based on the domain's gross selling price.</p>
                        </div>
                    </div>

                    <div class="item" data-index="3">


                        <div class="bubble beige">
                            <a href="https://sedo.com/us/sell-domains/promotion-options/#c2529" target="_self" class="cta">
                                20%
                            </a>
                        </div>


                        <div class="content rte" data-ce="listimagemodulevertical">
                            <a href="https://sedo.com/us/sell-domains/promotion-options/#c2529" target="_self" class="cta">
                                <h3>Domain Sale via SedoMLS partners</h3>
                            </a>
                            <p>Domains listed for sale on Sedo's platform are also automatically advertised on our international websites and the worldwide <a href="https://sedo.com/us/sell-domains/promotion-options/#c2529" title="SedoMLS® marketing network" target="_self" class="internal-link">SedoMLS® marketing network</a>. Sedo charges <strong>a fee of 20%</strong>, based on the gross selling price, for a sale by one of our SedoMLS partners.</p>
                        </div>
                    </div>

                </div>
            </div><div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0">
                <div class="ce-multicontent rte" data-ce="multicontent">
                    <h2 class="align-center">Domain sale: minimum fees</h2>
                    <p class="align-center">Sedo charges a minimum fee for every successful domain sale depending on the specific domain category.<b> European Union residents</b> please note: <br>Sedo's commission and minimum fees quoted on this Price List <b>exclude VAT</b>.&nbsp;<b> </b></p>
                </div>
            </div>


            <div class="ce-wrapper ce-container white  frame-space-after-medium">

                <!-- Image [top] + Text [bottom] [50|50] -->
                <div class="ce-textimage-ver ">
                    <div class="ce-image-top">

                    </div>
                    <div class="ce-text-bottom rte" data-ce="textimage">

                        <h2>

                            Top Level Domains (TLD) - Category I
                        </h2>
                        <h4>No minimum fee |&nbsp;Minimum sales price 20&nbsp;USD</h4>
                        <p>.ae, .abogado, .ac, .accountant, .accountants, .actor, .adult, .ae, .aero, .africa, .africacom, .ag, .agency, .airforce, .al, .amsterdam, .apartments, .app, .ar, .archi, .army, .arpa, .art, .asia, .associates, .at, .attorney, .au, .auto, .autos, .auction, .audio, .ax, .baby, .band, .bank, .bar, .barcelona, .bargains, .bayern, .be, .beer, .berlin, .best, .bet, .bible, .bid, .bike, .bingo, .biz,&nbsp;.biz.id, .biz.ua, .black, .blog, .blue, .bond, .boats, .boston, .boutique, .brcom, .broker, .brussels, .build, .builders, .business .buzz, .bz, .bzh, .ca, .cab, .cafe, .camera, .camp, .capetown, .capital, .car, .cars, .cards, .care, .careers, .casa, .cash, .casino, .catering, .cc, .center, .ceo, .ch, .charity, .chat, .cheap, .church, .city, .claims, .cleaning, .click, .clinic, .clothing, .cloud, .club, .cm, .cn, .co, .coach, .code, .codes, .coffee, .co.id, .coit, .cologne, .com,&nbsp;.com.ua .community, .company, .computer, .comse, .condos, .construction, .consulting, .contractors, .cooking, .cool, .coop, .co.tz, .co.uk, .country, .coupons, .courses, .cr.it, .credit, .creditcard, .cricket, .cx, .cymru, .cz, .dance, .date, .dating, .de, .deals, .degree, .delivery, .democrat, .dental, .dentist, .desi, .design, .dev, .diamonds, .diet, .digital, .direct, .directory, .discount, .dk, .doctor, .dog, .domains, .download, .dp.ua, .durban, .earth, .edu, .education, .eco, .ee, .email, .energy, .engineer, .engineering, .enterprises, .equipment, .es, .estate, .eth, .eu, .eus .events, .exchange, .express, .ею, .fail, .faith, .family, .fans, .farm, .fashion, .fi, .film, .finance, .financial, .fish, .fishing, .fit, .fitness, .florist, .flowers, .fm, .fo, .football, .forex, .forsale, .fr, .frl, .fun, .fund, .furniture, .futbol, .fyi, .gal, .gallery, .game, .games, .garden, .gb, .gdn, .ge, .gent, .gift, .gifts, .gives, .glass, .global, .gold, .golf, .gop, .graphics, .gratis, .green, .gripe, .gs, .guide, .guitars, .guru, .hamburg, .haus, .health, .healthcare .help, .hiphop, .hiv, .hockey, .holdings, .holiday, .homes, .hospital, .horse, .host, .hosting, .house, .how, .ht, .icu, .im, .immo, .immobilien, .in, .in.ua .industries, .inc, .info, .institute, .insure, .int, .international, .investments, .io, .irish, .ist, .istanbul, .tel, .it, .je, .jetzt, .jewelry, .jobs, .joburg, .jp, .juegos, .kaufen, .kiev.ua .kim, .kitchen, .kiwi, .koeln, .kr, .kyiv.ua .la, .land, .lat, .law, .lawyer, .lease, .legal, .lgbt, .li, .life, .lighting, .limited, .limo, .link, .live, .loan, .loans, .lol, .london, .ltda, .lu, .luxe, .maison, .management, .market, .marketing, .markets, .mba, .me, .media, .melbourne, .memorial, .men, .menu, .mexcom, .miami, .mn, .mobi, .moda, .moe, .mom, .money, .monster, .mortgage, .moscow, motorcycles, .movie, .mu, .museum, .mx,&nbsp;.my.id, .nagoya, .name, .navy, .net, .net.ar, .net.ua, .network, .news, .ninja, .nl, .nu, .nz, .okinawa, .one, .onl, .online, .ooo, .org, .org.ua, .organic, .orke, .osaka, .ovh, .page, .paris, .partners, .parts, .party, .pet, .photo, .photography, .photos, .physio, .pics, .pictures, .pink, .pizza, .pl, .place, .plumbing, .plus, .poker, .porn, .press, .pro, .productions, .properties, .property, .protection, .pub, .qpon, .qpon, .рус (.xn--p1acf), .racing, .radio, .radio.fm, .realestate, .realty, .recipes, .red, .rehab, .reise, .reisen, .ren, .rent, .repair, .report, .republican, .rest, .restaurant, .review, .rich, .rip, .rocks, .rodeo, .ruhr, .run, .ryukyu, .saarland, .sale, .sarl, .sc, .school, .schule, .science, .scot, .se, .security, .services, .sex, .sexy, .sg, .shiksha, .shoes, .shop, .shopping, .show, .si, .singles, .site, .ski, .soccer, .software, .solar, .solutions, .soy, .space, .sport, .srl, .st, .storage, .studio, .style, .sucks, .supplies, .supply, .support, .surf, .surgery, .sydney, .systems, .taipei, .tattoo .tax, .taxi, .tc, .team, .tech, .technology, .tel, .tennis, .theater, .tickets, .tienda, .tips, .tires, .tl, .to, .today, .tokyo, .tokyo, .tools, .top, .tours, .town, .toys, .trade, .trading, .training, .travel, .tv, .tw, .uk, .university, .us, .vc, .vegas, .versicherung, .vet, .viajes, .video, .vin, .vision, .vlaanderen, .vodka, .vote, .voting, .voto, .voyage, .wales, .webcam, .web.id, .website, web.za, .wed, .wedding, .win, .wine, .work, .world, .ws, .wtf, .xin, .xxx, .xyz, .yoga, .yokohama, .za, .zabz, .zone, .网店 (xn--hxt814e) .健康 (xn--nyqy26a) .МОСКВА (xn--80adxhks), .онлайн (Online), .сайт (Site), .みんな (Everyone), .بازار (xn--mgbab2bd), .شبكة (Web), .世界 (xn--rhqv96g), .中文网 (Website), .在线 (Online), .我爱你 (xn--6qq986b3xl), .集团 (xn--3bst00m) .УКР (idn of .UA), .广东 (xn--xhq521b), .佛山(xn--1qqw23a), .भारत, .商店, .コム</p>
                    </div>
                </div>

                <!-- Image [top] + Text [bottom] [50|50] -->
                <div class="ce-textimage-ver ">
                    <div class="ce-image-top">

                    </div>
                    <div class="ce-text-bottom rte" data-ce="textimage">

                        <h2>

                            Top Level Domains (TLD) - Category II
                        </h2>
                        <h4>Minimum fee 200 USD |&nbsp;Minimum sales price 220 USD</h4>
                        <p>All domains not belonging to Category I</p>
                    </div>
                </div>


            </div>


            <div class="ce-wrapper white frame frame-default frame-type-dce_dceuid7 frame-layout-0 frame-space-after-medium">
                <div class="ce-list-image-vertical">
                    <h2>Domain Auctions</h2>
                    <p>Sedo charges other fees - in addition to the sales commission -&nbsp; for some <a href="/us/sell-domains/domain-auction/" title="Domain auction" class="internal-link">auctions</a>. These fees depend on the type of auction. <strong>Please note our transfer services are included at no charge.</strong></p>


                    <div class="item" data-index="0">


                        <div class="bubble blue">

                            Free

                        </div>


                        <div class="content rte" data-ce="listimagemodulevertical">

                            <h3>Marketplace auction</h3>

                            <p>Post a domain for sale at a "Make Offer" price and then when you receive the first bid, you'll have the option to <a href="/us/sell-domains/domain-auction/" title="Domain auction" class="internal-link">put your domain up for auction</a>, with the latest bid as the reserve price. This option is at no cost to the seller.</p>
                            <p>A <strong>commission of 15%</strong> of the highest bid will be charged for a successful auction sale.</p>
                        </div>
                    </div>

                    <div class="item" data-index="1">


                        <div class="bubble beige">

                            $59

                        </div>


                        <div class="content rte" data-ce="listimagemodulevertical">

                            <h3>Direct Auction</h3>

                            <p><a href="/us/sell-domains/domain-auction/" title="Domain auction" class="internal-link">Direct Auctions</a> through our marketplace have a one-time <strong>initial setup fee of $59</strong>. In addition, a <strong>commission of 15%</strong> of the highest bid will be charged for a successful auction sale.</p>
                        </div>
                    </div>

                    <div class="item" data-index="2">


                        <div class="bubble beige">

                            $10

                        </div>


                        <div class="content rte" data-ce="listimagemodulevertical">

                            <h3>Auction Events</h3>

                            <p><strong>An application fee of $10</strong> is charged for each domain listed in our <a href="/us/sell-domains/domain-auction/" title="auction events" class="internal-link">Auction Events</a> (GreatDomains auctions or special auctions). This fee is non-refundable regardless of whether your domain is accepted or denied entry into the auction.</p>
                            <p>An additional <strong>commission of 15%</strong> of the highest bid is charged for a successful auction sale.</p>
                        </div>
                    </div>

                </div>
            </div><div class="ce-wrapper white">














                <div class="ce-headline">
                    <h2 class="style-h1">Brokerage Services</h2>
                </div>


            </div>


            <div class="ce-wrapper ce-container white ">

                <!-- Image [top] + Text [bottom] [50|50] -->
                <div class="ce-textimage-ver ">
                    <div class="ce-image-top">


                        <div class="ce-disturber">Buy Domains</div>


                        <a href="/us/services/broker-service/" title="Domain brokerage" class="cta">

                            <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Price_List/Domain-Vermittlung.jpg" alt="" width="1420" height="1082">

                        </a>


                    </div>
                    <div class="ce-text-bottom rte" data-ce="textimage">

                        <h2>
                        </h2>
                        <p><b>Were you unable to find your ideal domain on our marketplace?</b> Would you like to remain anonymous as a buyer? If so, our experts will contact the seller for you and handle the price negotiations. </p><ul class="icon-beige"><li><b><b>One-time fee of </b>69 USD</b> for domain buyers using <br>our brokerage services.</li><li>Our remuneration <b>depends on our success</b>: Sedo charges a fee of <b>15% of the gross selling price </b>(note the minimum fee)</li><li><b>Optional confidentiality</b>: If the buyer does not wish to publish the sale of the domain name and its price, Sedo will charge an additional fee of <b>2.5% of the gross selling price </b>(note the minimum fee)</li><li>Includes free use of our Transfer Services</li></ul><p><a href="/us/services/broker-service/" title="Domain brokerage service" class="btn btn-blue">Inquire about Domain Brokerage now</a></p>
                    </div>
                </div>

                <!-- Image [top] + Text [bottom] [50|50] -->
                <div class="ce-textimage-ver ">
                    <div class="ce-image-top">


                        <div class="ce-disturber">Sell Domains</div>


                        <a href="/member/brokerage/index_seller.php?language=us" title="Sell Domains" class="cta">

                            <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Price_List/Domain-Vermarktung.jpg" alt="" width="1420" height="1082">

                        </a>


                    </div>
                    <div class="ce-text-bottom rte" data-ce="textimage">

                        <h2>
                        </h2>
                        <p><b>Are you the owner of a valuable domain?</b> Our experts will help you to identify and reach out to the most suitable buyers – and achieve the best possible selling price for your domain.</p><ul class="icon-beige"><li><b>No upfront costs</b>: you only pay if your domain is successfully sold</li><li><b>Our remuneration depends on our success</b>: Sedo does not charge its fee of 15% of the gross selling price (note the minimum fee) until your domain has been successfully sold</li><li><b>Optional confidentiality</b>: if the seller does not wish to publish the sale of the domain name and its price, Sedo will charge an additional <b>fee of 2.5%</b> of the gross selling price (note the minimum fee)</li><li>Includes <b>free use of our Transfer Services</b></li></ul><p><a href="/us/services/broker-service/" title="Domain brokerage service" class="btn btn-blue">Inquire about Domain Marketing now</a></p>
                    </div>
                </div>


            </div>


            <div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0 frame-space-after-medium">
                <div class="ce-multicontent rte" data-ce="multicontent">
                    <h3 class="align-center">Please note our minimum requirements for Domain Marketing:</h3>
                    <p class="align-center">You agree to an exclusive marketing agreement.<br> You notify us about any pre-existing correspondence related to the domain and any bids already received from interested parties.<br> Your domain consists of up to two descriptive words.<br> Domains with spelling or typographic errors will not be marketed.<br> You provide us with traffic statistics for the last 12 months.</p>
                </div>
            </div><div class="ce-wrapper white frame-space-before-medium">




                <div class="ce-headline">
                    <h2>Domain Showcase</h2>
                </div>












            </div>


            <div class="ce-wrapper ce-container white  frame-space-after-medium">

                <!-- Image [top] + Text [bottom] [50|50] -->
                <div class="ce-textimage-ver ">
                    <div class="ce-image-top">



                        <a href="/shop/index.php4?productid=1110&amp;cHash=ff780ff9b3b1861ff6bedce104441f0c&amp;language=us" title="Order Hompage Showcase" class="cta">

                            <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Price_List/Homepage_Showcase_laptop_screen_EN.jpg" alt="" width="1420" height="1082">

                        </a>


                    </div>
                    <div class="ce-text-bottom rte" data-ce="textimage">

                        <h2>
                        </h2>
                        <p><strong>The Homepage Showcase</strong> is valid for 30 days. All of the specified fees are accessed once and are not recurring.</p>
                        <p>Homepage Showcases are available for all seven of the Sedo websites and can be purchased as a package or individually for Germany, U.S, UK, France, Spain, Portugal or China.</p><ul class="icon-beige"> 	<li><strong>One-time payment of 39 USD</strong> for Domain Showcase (duration: 30 days) on the sedo.com website</li> 	<li><strong>Additional 10 USD</strong> for every additional country website</li> 	<li><strong>Package offer: one-time payment of 69 USD</strong> for reserving showcase spots on all international country websites (<strong>Saving 30 USD</strong> in comparison to individual placements)</li> </ul>
                    </div>
                </div>

                <!-- Image [top] + Text [bottom] [50|50] -->
                <div class="ce-textimage-ver ">
                    <div class="ce-image-top">



                        <a href="/shop/index.php4?language=us" title="Order Category Showcase" class="cta">

                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/Domain_Promotion/showcase_laptop_screen_blue.jpg" alt="" width="1420" height="1082">

                        </a>


                    </div>
                    <div class="ce-text-bottom rte" data-ce="textimage">

                        <h2>
                        </h2>
                        <p><b>The Category Showcase</b> is valid for 30 days. All of the specified fees are charged only once and are not recurring. </p>
                        <p>Category Showcases are available for all seven Sedo websites and can be purchased as a package or individually for Germany, U.S., UK, France, Spain, Portugal or China.</p><ul class="icon-beige"><li><b>One-time payment of 9 USD </b>for the first domain category (duration: 30 days) on the sedo.com website</li><li><b>Additional 5 USD</b> for every additional domain category</li><li><b>Package offer: one-time payment of 64 USD</b> for the booking of all international websites in three different categories (<b>Saving 45 USD</b> in comparison to individual placements)</li></ul>
                    </div>
                </div>


            </div>


            <div class="ce-wrapper white frame frame-default frame-type-dce_dceuid7 frame-layout-0 frame-space-before- frame-space-after-medium">
                <div class="ce-list-image-vertical">
                    <h2>Domain Services</h2>



                    <div class="item" data-index="0">


                        <div class="bubble blue">
                            <a href="/us/services/domain-transfer-service/" title="Domain Transfer Service" class="cta">
                                3%
                            </a>
                        </div>


                        <div class="content rte" data-ce="listimagemodulevertical">
                            <a href="/us/services/domain-transfer-service/" title="Domain Transfer Service" class="cta">
                                <h3>Transfer Services for external domains sales</h3>
                            </a>
                            <p>&nbsp;</p>
                            <p>Even when agreements are made outside of our platform, Sedo's secure <a href="/us/services/domain-transfer-service/" title="Transfer service" class="internal-link">Transfer Services</a> are available regardless of which role you are playing. Sellers receive their money without any hassle whatsoever and we provide assurance to buyers that they will acquire unlimited control of the new domain after payment has been received.</p>
                            <p>The applicant is charged a <strong>fee of 3%</strong><strong> of the gross selling price.&nbsp; </strong>A minimum fee of $60 applies to <a href="#c2128">category 1 domains</a>, and $200 to&nbsp;<a href="#c2128">category 2 domains</a>).</p>
                            <p>Upon request, we will also assist you in dividing the fee between the buyer and seller. <strong>Please note:</strong> If you reach an agreement outside of our marketplace and the domain is also listed on Sedo's marketplace with active negotiations, then the same commission shall be charged as for sales on the domain marketplace.&nbsp;Minimum fees and commissions in this price list are <strong>exclusive of a VAT</strong> where applicable.&nbsp;Additional fees may exist through your registrar or bank.</p>
                            <p>&nbsp;</p>
                        </div>
                    </div>

                    <div class="item" data-index="1">


                        <div class="bubble blue">
                            <a href="/us/services/domain-appraisal/" title="Domain appraisals" class="cta">
                                $99
                            </a>
                        </div>


                        <div class="content rte" data-ce="listimagemodulevertical">
                            <a href="/us/services/domain-appraisal/" title="Domain appraisals" class="cta">
                                <h3>Domain appraisals</h3>
                            </a>
                            <p>Pulling from our vast experience along with the largest database of domain sales worldwide, our experts can determine the market value of every domain. We charge a one-time <strong>fee of 99 USD</strong> for an individual Domain Appraisal tailored to your specific domains. We will also be happy to handle the appraisal of extensive domain portfolios. Please speak to our <a href="/us/know-how-support/" title="Customer support" class="internal-link">customer service team</a> for an individual quote.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>

