@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="ce-image-hero frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-medium" style="background-image: url('https://cdn.sedo.com/fileadmin/images/Headers/Header_generic_v1_2.jpg');">
    <div class="content">
        <div class="bright rte">
            <h1>Domain Promotion</h1>
            <h3>Customized advertising for your domains</h3>
            <p>Those who promote their domains will sell them more quickly! Sedo offers you individual promotion options – starting with our marketplace all the way up to our global domain sales network SedoMLS.</p>
        </div>
        <p><a href="/shop/index.php4?itm_campaign=DomainPromotionShowcaseButton&amp;itm_content=20_05_Showcase&amp;itm_medium=Website&amp;itm_source=DomainPromotion&amp;itm_term=EN&amp;productid=1110&amp;cHash=82af1988433e4c1b537cf0b7fea6dd2f&amp;language=us" class="btn btn-blue cta">Book a Showcase now</a></p>
    </div>
    <div class="ce-infobox rte">
        <h3>The benefits</h3>
        <ul> 	<li><strong>Maximum exposure</strong> <strong>via SedoMLS</strong> with 650 international partners</li> 	<li>Increased selling opportunities: more <strong>advertising space</strong> and attention for your domain.</li> 	<li>Can be set up individually: Use the <strong>promotional package</strong> that best suits your domain</li> 	<li><strong>Global sales promotion</strong>: Advertise your domain on up to 7 international marketplaces at the same time</li> </ul>
    </div>
</div><div class="ce-wrapper white">
    <div class="ce-headline">
        <h2 class="style-h1">Sedo Showcase: More visibility for your domain on our marketplace</h2>
    </div>
</div>
<div class="ce-wrapper ce-container white  frame-space-after-medium">
    <!-- Image [top] + Text [bottom] [50|50] -->
    <div class="ce-textimage-ver ">
        <div class="ce-image-top">
            <div class="ce-disturber">For just $ 1.30 per day</div>
            <a href="/shop/index.php4?productid=1110&amp;cHash=ff780ff9b3b1861ff6bedce104441f0c&amp;language=us" title="Book a Homepgae Showcase" class="cta">
                <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Price_List/Homepage_Showcase_laptop_screen__On_Product_Page_EN.jpg" alt="" width="1420" height="1082">
            </a>
        </div>
        <div class="ce-text-bottom rte">
            <h2>
                Top placement for your domain
            </h2>
            <p><strong>Ensure that your domain gets a top position on our marketplace: We will display your offer as a Showcase on our homepage and additionally as a top hit in every matching domain search.</strong></p>
            <p>The advantages: maximum visibility for even faster sales. Ensure the undivided attention of more than 10,000 potential buyers – every day for a whole month.</p><ul class="icon-blue icon-beige"> 	<li>Your domain will appear on the <a href="/us/" title="Sedo homepage" class="internal-link"><strong>Sedo homepage</strong></a> and as a <strong>top hit</strong> in all relevant <a href="/search/?language=us" title="Domain search" class="internal-link">search results</a></li> 	<li>Reach more than <strong>10,000 potential buyers</strong> every day</li> 	<li>Runtime: 30 days. <strong>Ends automatically</strong></li> 	<li>Starting at just $39 per month (<strong>$1.30 per day</strong>)&nbsp;</li> </ul><p><a href="/shop/index.php4?productid=1110&amp;cHash=ff780ff9b3b1861ff6bedce104441f0c&amp;language=us" title="Book a homepage showcase now" class="btn btn-blue">Book a Homepage Showcase now</a></p>
        </div>
    </div>
    <!-- Image [top] + Text [bottom] [50|50] -->
    <div class="ce-textimage-ver ">
        <div class="ce-image-top">
            <div class="ce-disturber">At just $ 0.30 per day</div>
            <a href="/shop/index.php4?productid=1111&amp;cHash=7448114fd48fcc114595bd5eab2dc1bd&amp;language=us" title="Book a Category Showase" class="cta">
                <img src="https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/Domain_Promotion/showcase_laptop_screen_blue.jpg" alt="" width="1420" height="1082">
            </a>
        </div>
        <div class="ce-text-bottom rte">
            <h2>
                Your domain as a category highlight
            </h2>
            <p><strong>Reach potential buyers even more selectively: Have your domain displayed as a top search hit in your desired category – above all other domain offers.</strong></p>
            <p>The best way to reach potential buyers who already know which domain category they are interested in, but who have not yet decided on a certain domain.</p><ul class="icon-blue icon-beige"> 	<li>Your domain offering as a <strong>top hit</strong><strong> in the </strong><strong><a href="/search/?language=us" title="Domain search" class="internal-link">search results</a></strong> <strong>in a category</strong> of your choice</li> 	<li><strong>T</strong><strong>argeted sales promotion</strong>: Exposure to all buyer groups which are especially relevant to you</li> 	<li>Runtime: 30 days. <strong>Ends automatically</strong></li> 	<li>Starting at just $9 per month (<strong>$0.30 per day</strong>)</li> </ul><p><a href="/shop/index.php4?productid=1111&amp;cHash=7448114fd48fcc114595bd5eab2dc1bd&amp;language=us" title="Book a category showcase" class="btn btn-blue">Book a Category Showcase now</a></p>
        </div>
    </div>
</div>
<div class="ce-wrapper grey frame frame-default frame-type-dce_dceuid16 frame-layout-0 frame-space-after-medium">
    <div class="ce-quotes">

        <div class="item">
            <div class="quote rte">
                <p class="align-center">"I was skeptical at first as to whether filtering by category would be done at all when a new domain is being searched for. I was mistaken and was able to sell my domain within a very short time."</p>
            </div>
            <div class="author">
                <p>
                    CLARA U.<br>
                    SEDO CUSTOMER
                </p>
            </div>
        </div>

        <div class="item">
            <div class="quote rte">
                <p class="align-center">"Due to top placement by the showcase, my domain received considerably more inquiries than previously after just one week."</p>
            </div>
            <div class="author">
                <p>
                    LUCY D.<br>
                    SEDO CUSTOMER
                </p>
            </div>
        </div>
        <div class="item">
            <div class="quote rte">
                <p class="align-center">"My domain was only relevant for a specific market. I was able to use the country option to selectively advertise my web address on Sedo."</p>
            </div>
            <div class="author">
                <p>
                    RUBEN E.<br>
                    SEDO CUSTOMER
                </p>
            </div>
        </div>
    </div>
</div><div class="ce-accordion-wrapper blue frame frame-default frame-type-dce_dceuid4 frame-layout-0 frame-space-after-medium">
    <div class="ce-stepbystep ce-accordion rte ui-accordion ui-widget ui-helper-reset" role="tablist">
        <h2 class="ui-accordion-header ui-state-default ui-corner-all" role="tab" id="ui-id-2" aria-controls="ui-id-3" aria-selected="false" aria-expanded="false" tabindex="0">ORDERING A SHOWCASE – HOW IT WORKS</h2>
        <div class="accordion-content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="display: none;" id="ui-id-3" aria-labelledby="ui-id-2" role="tabpanel" aria-hidden="true">

            <div class="steps-wrapper">

                <div class="step step-4">
                    <h3>Create a customer account</h3>
                    <p><a href="/member/register.php?language=us" title="Create an account" class="internal-link">Register</a> for our marketplace for free. You can offer your own domains for sale as soon as your personal customer account is activated and certified.</p>
                    <span class="counter"></span>
                </div>

                <div class="step step-4">
                    <h3>Enter domains for sale</h3>
                    <p>You must first <a href="/member/domainsignup/index.php?language=us" title="Add domains" class="internal-link">list your domains</a> for sale in order to book a showcase. Go to the "Add domains" menu.</p>
                    <span class="counter"></span>
                </div>

                <div class="step step-4">
                    <h3>Select domains for promotion</h3>
                    <p>Simply click on "Promote Domains" under <a href="/member/dnmanagement.php4?language=us" title="Domain management" class="internal-link">your domain list </a>and select domains.</p>
                    <span class="counter"></span>
                </div>

                <div class="step step-4">
                    <h3>Select and book country options</h3>
                    <p>Select country options and categories. That's all there is to it!</p>
                    <span class="counter"></span>
                </div>
            </div>
        </div>
    </div>
</div><div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0">
    <div class="ce-multicontent rte">
        <h2 class="align-center style-h1">SedoMLS – the ultimate boost in sales for your domains </h2>
        <h2 class="align-center">More than 650 international partners - for maximum exposure and three-times faster sales.</h2>
    </div>
</div><div class="ce-image-hero resize frame frame-default frame-type-dce_dceuid1 frame-layout-0">
    <div class="ce-image-hero--image">
        <a href="/member/dnmanagement.php4?language=us" class="hero--clickable">
            <img src="https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/Domain_Promotion/SedoMLS_Map_3040x1256_EN.jpg" alt="" width="3040" height="1256">
        </a>
    </div>
    <div class="content">
        <div class="bright rte">
            <h1></h1>
        </div>
    </div>
</div>
<div class="ce-wrapper ce-container white  frame-space-after-medium">
    <!-- Image [top] + Text [bottom] [50|50] -->
    <div class="ce-textimage-ver ">
        <div class="ce-image-top">
        </div>
        <div class="ce-text-bottom rte">
            <h2>
                Exclusively for Sedo customers
            </h2>
            <p><strong>The global domain sales network</strong>. With more than <strong>650 partners</strong> worldwide, SedoMLS is the only genuine global <strong>domain sales network</strong>. Thanks to global distribution by a constantly growing number of registered websites, your domains will find a <strong>buyer up to three times more quickly</strong>. Our registrar partners will help you pushing your sales by marketing the domain value of your domains to their customer base. Your advantage by using Sedo as your dedicated marketplace to sell your domain inventory is that listing your domains on Sedo means being able to sell your domains via the whole SedoMLS network.</p>
            <p>Along with <strong>maximum exposure</strong> for your domains, you will benefit from <strong>an efficient and expedient payment</strong> <strong>process</strong> and automated domain transfers for every sale.</p>
            <p>And the best part: The global listing of your domains is <strong>completely free</strong> of charge! Activate SedoMLS today.</p>
            <p><a href="/member/dnmanagement.php4?language=us" title="Activate SedoMLS" class="btn btn-blue">Activate SedoMLS free of charge</a></p>
        </div>
    </div>
    <!-- Text [top] + Image [bottom] [50|50] -->
    <div class="ce-textimage-ver ">
        <div class="ce-image-bottom">
        </div>
        <div class="ce-text-top rte">
            <h2>
                Your benefits
            </h2>
            <ul class="icon-blue"> 	<li><strong>More sales: </strong>SedoMLS distributes your domains which are up for<br> 	sale to more than 650 network partner sites. Broad range of<br> 	exposure = more sales</li> 	<li><strong>Fast payment:</strong> Payments are processed within one business day</li> 	<li><strong>Instant transfers:</strong> Automatic transfers help you conclude your transactions more quickly</li> </ul>
        </div>
    </div>
</div>
<div class="ce-wrapper ce-container white  frame-space-after-medium">
    <!-- Text [top] + Image [bottom] [50|50] -->
    <div class="ce-textimage-ver ">
        <div class="ce-image-bottom">
            <a href="/member/dnmanagement.php4?language=us" title="Activate SedoMLS" class="cta">
                <img src="https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/Domain_Promotion/Registrar_Partner_2019-12_710x720.jpg" alt="" width="710" height="720">
            </a>
        </div>
        <div class="ce-text-top rte">
            <h2>
                Our registrar partners
            </h2>
            <p>Have you registered your domain with one of the following <strong><strong><strong>registrar partners</strong></strong></strong>? This is ideal, because now you can take part in the SedoMLS program.<br> <br> Following <a href="/member/dnmanagement.php4?language=us" title="Activation of SedoMLS" class="internal-link">activation of SedoMLS</a> in your Sedo customer account, your domains will be <strong>offered by our marketing partners</strong> and, of course, on the Sedo marketplace.<br> &nbsp;</p>
        </div>
    </div>
    <!-- Text [top] + Image [bottom] [50|50] -->
    <div class="ce-textimage-ver ">
        <div class="ce-image-bottom">
            <a href="/member/dnmanagement.php4?language=us" title="Activate SedoMLS" class="cta">
                <img src="https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/Domain_Promotion/Marketing_Partner_2019-12_710x719.jpg" alt="" width="710" height="719">
            </a>
        </div>
        <div class="ce-text-top rte">
            <h2>
                Our marketing partners
            </h2>
            <p>Domains participating in SedoMLS will be listed and <strong>directly offered for sale</strong> on the following <strong>marketing partner websites</strong>.<br> <br> This means: <strong>Maximum exposure</strong> for your domains and an <strong>immediate transfer</strong> for your buyers. All you need to do is activate <a href="/member/dnmanagement.php4?language=us" title="Activate SedoMLS" class="internal-link">SedoMLS in your Sedo customer account</a>.<br> &nbsp;</p>
        </div>
    </div>
</div>
<div class="ce-wrapper ce-container white  frame-space-after-large">
    <!-- Text [left] + Image [right] -->
    <div class="ce-textimage-hor ">
        <div class="ce-image-right">
            <a href="#" title="More FAQ's" class="cta">
                <img src="https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/Domain_Promotion/FAQ.jpg" alt="" width="1420" height="1082">
            </a>
        </div>
        <div class="ce-text-left rte" a>
            <h2>
                Frequently asked questions (FAQ)
            </h2>
            <p>You will find the most frequently asked questions about our promotion options here.</p><ol> 	<li><a href="#" title="What is a Category Showcase or a Homepage Showacse?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/707\/kw\/featured%20listing\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">What is a Category Showcase or a Homepage Showcase?</a></li> 	<li><a href="#" title="I paid for a Showcase, but my domain´s not on the homepage. Where is it?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/1001\/p\/11\/kw\/featured%20listing\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">I paid for a Showcase, but my domain´s not on the homepage. Where is it?</a></li> 	<li><a href="#" title="Can I promote an adult domain on Sedo's homepage?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/695\/p\/11\/kw\/can%C2%B4t%20order','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">Can I promote an adult domain on Sedo's homepage?</a></li> 	<li><a href="#" title="Why and how should I activate SedoMLS Premium?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/4257\/p\/11\/kw\/enter%20domains\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">What are the benefits of SedoMLS?</a></li> 	<li><a href="#" title="Which registrars are participating in SedoMLS?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/4274\/kw\/register\/related\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">Which registrars are participating in SedoMLS?</a></li> </ol><p><a href="#" title="FAQ's" target="FEopenLink" class="btn btn-beige">Additional questions &amp; answers</a></p>
        </div>
    </div>
</div>



