
@{
    ViewData["Title"] = "Registry";
}

<main role="main" id="content-main-wrapper" class="content-wrapper-full">
    <div class="t3-content-fullwidth">
        <div class="ce-image-hero frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-medium" style="background-image: url('https://cdn.sedo.com/fileadmin/user_upload/Header_generic_v2_2.jpg');">
            <div class="content">
                <div class="bright rte">
                    <h1>Registry Services</h1>
                    <h2>The launch of your gTLD domain will be a global success with us</h2>
                    <p>With the right strategy, timing of outreach to customers, and ensuring global sales – our experts know exactly what matters and will provide their exclusive expertise, services and powerful tools to ensure a perfect market launch.</p>
                </div>
            </div>
            <div class="ce-infobox rte">
                <h3>Advantages</h3>
                <ul> 	<li>A dedicated promotional page for your new domain suffix</li> 	<li>Support from your personal account manager</li> 	<li>Marketing packages individually tailored to your needs</li> 	<li>Appraisal of your most valuable premium domains</li> </ul>
            </div>
        </div><div class="ce-wrapper grey frame frame-default frame-type-dce_dceuid4 frame-layout-0 frame-space-after-medium">
            <div class="ce-stepbystep rte">
                <h2></h2>
                <div class="steps-wrapper">
                    <div class="step step-4">
                        <h3>Identify your most valuable domain names</h3>
                        <p><b>Challenge:</b> How do I find out which of my domains is the most valuable? </p>
                        <p><b>Solution: </b>Sedo has an immense wealth of data coupled with scientifically proven methods to quickly and comprehensively conduct domain appraisals providing you with a complete list of the best domains, including their values.</p>
                        <span class="counter"></span>
                    </div>
                    <div class="step step-4">
                        <h3>Generate revenue with our auction events</h3>
                        <p><b>Challenge:</b> How do I achieve a profit with my TLD from the very beginning? <b></b></p>
                        <p><b>Solution: </b>Sedo will actively advertise your sunrise and landrush phases. This will create awareness for your TLD, increase auction bidders, and achieve higher sales.</p>
                        <span class="counter"></span>
                    </div>
                    <div class="step step-4">
                        <h3>Reach the right audience</h3>
                        <p><b>Challenge: </b>How do I reach the right target group with my new TLD? </p>
                        <p><b>Solution: </b>Thousands of marketing experts, tech-savvy decision-makers, and domainers visit our website every day. With a dedicated promotional page, benefits of your TLD are highlighted while registration opportunities and leads are effectively generated.</p>
                        <span class="counter"></span>
                    </div>
                    <div class="step step-4">
                        <h3>Place your Premium Domains on the market</h3>
                        <p><b>Challenge:</b> How do I get as many buyers as possible to see my domain?<b> </b></p>
                        <p><b>Solution: </b>Our international marketplace and our global partner network SedoMLS will reach millions of prospective buyers from all over the world.</p>
                        <span class="counter"></span>
                    </div>
                </div>
            </div>
        </div><div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0">
            <div class="ce-multicontent rte">
                <h1 class="align-center">Rely on Sedo's power:<br>Exclusive expertise and global support for marketing and sales</h1>
            </div>
        </div>
        <div class="ce-wrapper ce-container white ">
            <!-- Text [left] + Image [right] -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-right">
                    <a href="#" title="Download brochure" class="cta">
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/what_sedo_offers/1420px/Vorbereitungsphase.jpg" alt="" width="1420" height="1082">
                    </a>
                </div>
                <div class="ce-text-left rte">
                    <h2>
                        Pre-launch phase: Marketing and generating leads for your new gTLD
                    </h2>
                    <p>Our experts will advise you from the very beginning on all strategic issues for global marketing support – for a perfect market launch of your new gTLD domain.</p><ul class="icon-beige"> 	<li>Individual strategic development and global marketing support</li> 	<li>Determination of your <a href="/us/services/domain-appraisal/" title="Domain Appraisal" class="internal-link">most valuable domains</a> ("Premium list")</li> 	<li>Sedo experts act as partners available to contact with all questions</li> 	<li>Individual <a href="/us/services/launch-calendar/" title="Launch calendar" class="internal-link">promotional website</a> to ensure professional<br> 	customer contact</li> </ul><p><a href="mailto:tld@sedo.com" title="Contact gTLD experts" class="btn btn-blue">Contact us</a> <a href="/fileadmin/documents/resources/gTLD/SEDO-new-gTLD-brochure-registry-services.pdf" title="Download brochure" class="btn btn-beige">Download brochure</a></p>
                    <p>We also have several Registry Sponsorhip Packages available to cater to your individual needs:</p>
                    <p><strong><a href="#" class="btn btn-blue">Download brochure</a></strong></p>
                </div>
            </div>
        </div>
        <div class="ce-wrapper white frame frame-default frame-type-dce_dceuid4 frame-layout-0 frame-space-after-medium">
            <div class="ce-stepbystep rte">
                <h2>How we get your gTLD in shape for its launch</h2>
                <div class="steps-wrapper">
                    <div class="step step-4">
                        <h3>Premium lists</h3>
                        <p>We use our scientifically sound evaluation process to identify your best domain assets. With this you learn which domains you should bring to the market as well as when, how and at what price. </p>
                        <span class="counter"></span>
                    </div>
                    <div class="step step-4">
                        <h3>Marketing support</h3>
                        <p>Together we create a specific marketing strategy tailored to the needs of your gTLD and compile important tools and components to ensure that the right audience is targeted for your gTLD.</p>
                        <span class="counter"></span>
                    </div>
                    <div class="step step-4">
                        <h3>Promotional website</h3>
                        <p>Showcase your gTLD in the best light! With our <a href="#" class="internal-link">promotional websites</a>, we strategically integrate images, text, and video content you provide into our page template and then use our own marketing channels to advertise the page to the masses.</p>
                        <span class="counter"></span>
                    </div>
                    <div class="step step-4">
                        <h3>Point of contact</h3>
                        <p>We know how important it is to have a competent point of contact when launching a new gTLD. Sedo provides a personal and dedicated account manager for all questions involving your new gTLD.</p>
                        <span class="counter"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ce-wrapper ce-container grey  frame-space-after-medium">
            <!-- Image [left] + Text [right] -->
            <!-- possible argument values: overall:hor/ver (horizontal/vertical), img/text: right/left/top/bottom, vertical-width: ver-25, ver-33 -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-left">
                    <a href="#" title="Download brochure" class="cta">
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/what_sedo_offers/1420px/Sunrise.jpg" alt="" width="1420" height="1082">
                    </a>
                </div>
                <div class="ce-text-right rte">
                    <h2>
                        Sunrise and Landrush Phase: <br>
                        Draw customers and profits from the very beginning
                    </h2>
                    <p>With our extensive selection of special marketing and sales tools you can acquire market shares at a very early point in your launch while expanding your customer base and developing continuous income streams:</p><ul class="icon-beige"><li>Closed private auctions for early customer and cash flow generation</li><li><a href="/us/services/broker-service/" title="Broker Service" class="internal-link">Broker Service </a>for marketing your new gTLD domains to prospective buyers - even before they become generally available</li></ul><p><a href="mailto:tld@sedo.com" title="Contact gTLD experts now" class="btn btn-blue">Contact gTLD experts now</a> <a href="/fileadmin/documents/resources/gTLD/SEDO-new-gTLD-brochure-registry-services.pdf" title="Download brochure" class="btn btn-beige">Download brochure</a> </p>
                </div>
            </div>
        </div>
        <div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0">
            <div class="ce-multicontent rte">
                <h1 class="align-center">Generating income streams </h1>
            </div>
        </div>
        <div class="ce-wrapper ce-container white  frame-space-after-medium">
            <!-- Text [left] + Image [right] -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-right">
                    <a href="#" title="Download brochure" class="cta">
                        <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/what_sedo_offers/1420px/AllgemVerfuegbarkeit.jpg" alt="" width="1420" height="1082">
                    </a>
                </div>
                <div class="ce-text-left rte">

                    <h2>
                        General Availability:<br>
                        Targeting the right customers
                    </h2>
                    <p>Once your gTLD enters its general availability phase, we will gain the interest of potential customers and thus ensure continuous domain registrations.</p><ul class="icon-beige align-left"></ul><ul class="icon-beige"><li> Benefit from the worldwide reach of more than 2 million customers on the <a href="/search/?language=us" title="Sedo marketplace" class="internal-link">Sedo marketplace</a>.</li><li>Even more coverage by <a href="/us/sell-domains/promotion-options/" title="SedoMLS" class="internal-link">SedoMLS</a>, the only global partner sales network for domains.</li><li>Our <a href="/us/services/broker-service/" title="Broker Service" class="internal-link">Domain Brokers</a> are among the most successful in the entire industry – and will search the globe to find the right buyers for you </li><li>Individual <a href="/us/sell-domains/domain-auction/" title="Domain Auction" class="internal-link">Auction Events</a> maximize the value of your new gTLD domain </li></ul><p><a href="mailto:tld@sedo.com" title="Contact gTLD experts now" class="btn btn-blue">Contact gTLD experts now</a> <a href="/fileadmin/documents/resources/gTLD/SEDO-new-gTLD-brochure-registry-services.pdf" title="Download brochure" class="btn btn-beige">Download brochure</a></p><ul class="icon-beige align-left"> </ul>
                </div>
            </div>
        </div>
        <div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0">
            <div class="ce-multicontent rte">
                <h1 class="align-center">How we establish your gTLD as a permanent market presence </h1>
            </div>
        </div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid7 frame-layout-0">
            <div class="ce-list-image-vertical">
                <h2>Globally extensive Sedo marketplace</h2>
                <p>The perfect location for your domain offers: more than 2 million customers and the world's largest number of domain sales.</p>


                <div class="item">

                    <div class="bubble">

                        <a href="#" title="Sedo the company" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Registry_Services/Branchenfuehrer_beige.png" alt="" width="221" height="221">
                        </a>

                    </div>

                    <div class="content rte">
                        <a href="#" title="Sedo the company" class="cta">
                            <h3>Rely on the market leader</h3>
                        </a>
                        <p>More than 2 million customers use <a href="#" title="Sedo's services" class="internal-link">Sedo's services</a> for buying and selling domain names. With Sedo marketplace's vast audience base you are just one click away from the ideal buyer.</p>
                    </div>
                </div>

                <div class="item">

                    <div class="bubble">

                        <a href="#" title="Market trends" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Registry_Services/Schnellere-Abverkaeufe.png" alt="" width="221" height="221">
                        </a>

                    </div>

                    <div class="content rte">
                        <a href="#" title="Market trends" class="cta">
                            <h3>Quick sales</h3>
                        </a>
                        <p><a href="#" title="Market trends" class="internal-link">Half of all domain sales</a> worldwide are completed on the Sedo marketplace. We know how to bring a domain to the right buyer!</p>
                    </div>
                </div>

            </div>
        </div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid7 frame-layout-0">
            <div class="ce-list-image-vertical">
                <h2>Auction events</h2>
                <p>Our premium auctions give your gTLD promotion a turbo boost, establishing a continuous revenue stream right off the bat.</p>


                <div class="item">

                    <div class="bubble">

                        <a href="#" title="Domain Auction" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Registry_Services/Auktion.png" alt="" width="221" height="221">
                        </a>

                    </div>

                    <div class="content rte">
                        <a href="#" title="Domain Auction" class="cta">
                            <h3>Auction expertise from the market leader</h3>
                        </a>
                        <p>Thanks to our many years of experience with auctions, we know how to selectively maximize a domain's value. This is why numerous registry partners collaborate with us to run successful <a href="/us/sell-domains/domain-auction/" title="Domain Auction" class="internal-link">Premium Domain Auctions</a>. And with our certification process in place, these auctions are secure, attract serious bidders which ensures sales at maximum prices.</p>
                    </div>
                </div>

                <div class="item">

                    <div class="bubble">

                        <a href="#" title="Domain Auction" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Registry_Services/Hoechstpreise.png" alt="" width="221" height="221">
                        </a>

                    </div>

                    <div class="content rte">
                        <a href="#" title="Domain Auction" class="cta">
                            <h3>Obtain maximum prices</h3>
                        </a>
                        <p>If instead you prefer a closed private auction only accessible to invite-only bidders, this can be easily arranged on our proven and user-friendly platform.</p>
                    </div>
                </div>

            </div>
        </div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid7 frame-layout-0">
            <div class="ce-list-image-vertical">
                <h2>SedoMLS sales network</h2>
                <p>SedoMLS is like clicking the ultimate sales turbo button: with more than 650 international partners, you will achieve maximum coverage at a sales rate which is three times as fast.</p>


                <div class="item">

                    <div class="bubble">

                        <a href="#" title="SedoMLS" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Registry_Services/Mehr-Reichweite_beige.png" alt="" width="221" height="221">
                        </a>

                    </div>

                    <div class="content rte">
                        <a href="#" title="SedoMLS" class="cta">
                            <h3>More coverage at no cost</h3>
                        </a>
                        <p>Our global <a href="#" title="SedoMLS" class="internal-link">SedoMLS sales network</a> offers a unique advantage: Putting up your domain names for sale with the best registrars worldwide – and it's absolutely free! More security and coverage for your new gTLD names will pay off for you with higher turnovers.</p>
                    </div>
                </div>

                <div class="item">

                    <div class="bubble">

                        <a href="#" title="Sedo MLS" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Registry_Services/Sofortkauf.png" alt="" width="221" height="221">
                        </a>

                    </div>

                    <div class="content rte">
                        <a href="#" title="Sedo MLS" class="cta">
                            <h3>Sell up to three times faster</h3>
                        </a>
                        <p>With more than <a href="#" title="SedoMLS partners" class="internal-link">650 registrar partners</a> in the USA, Great Britain, Germany, France, China and many other countries, you can be sure that your gTLD will be among the world's most important markets. And it will sell up to three times faster!</p>
                    </div>
                </div>

            </div>
        </div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid7 frame-layout-0">
            <div class="ce-list-image-vertical">
                <h2>Dedicated broker team</h2>
                <p>We selectively market your most valuable domain assets to buyers worldwide – and achieve the highest prices in the process.</p>


                <div class="item">

                    <div class="bubble">

                        <a href="#" title="Broker Service" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Registry_Services/Domain-Vermittlung_beige.png" alt="" width="221" height="221">
                        </a>

                    </div>

                    <div class="content rte">
                        <a href="#" title="Broker Service" class="cta">
                            <h3>Global domain brokerage</h3>
                        </a>
                        <p>Although prospective buyers for your domains can be found all over the world, <a href="#" title="Sedo the company" class="internal-link">only Sedo</a> can ensure that you complete the transaction with the right purchasers. It doesn't matter where they are living or which language they speak, our <a href="/us/services/broker-service/" title="Broker Service" class="internal-link">brokerage team </a>speaks 25 languages and will negotiate for you on a global level.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="bubble">
                        <a href="#" title="Market trends" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Registry_Services/Hoehere-Einnahmen.png" alt="" width="221" height="221">
                        </a>
                    </div>
                    <div class="content rte">
                        <a href="#" title="Market trends" class="cta">
                            <h3>Higher earnings for you</h3>
                        </a>
                        <p>Sedo has brokered more <a href="#" title="Market trends" class="internal-link">high-value sales</a> in the domain industry: our sale of sex.com holds the Guinness World Record for the most expensive sale of a domain.</p>
                    </div>
                </div>
            </div>
        </div><div class="ce-wrapper white dd frame frame-default frame-type-dce_dceuid12 frame-layout-0">
            <div class="ce-multicontent rte">
                <h1 class="align-center">Why Sedo is the best partner for you</h1>
                <p class="align-center"><b>Your new gTLD will get off to the right start with us! </b></p>
            </div>
        </div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid7 frame-layout-0">
            <div class="ce-list-image-vertical">
                <h2></h2>
                <div class="item">
                    <div class="bubble">
                        <a href="#" title="Launch calendar" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Registry_Services/Indivduelle-Loesungen.png" alt="" width="221" height="221">
                        </a>
                    </div>
                    <div class="content rte">
                        <a href="#" title="Launch calendar" class="cta">
                            <h3>Individual solutions</h3>
                        </a>
                        <p>Every TLD is different. We offer sales and marketing solutions especially tailored to your <a href="#" title="Launch calendar" class="internal-link">new domain suffix</a>.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="bubble">
                        <a href="#" title="Service overview" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Registry_Services/Globale-Weitsicht.png" alt="" width="221" height="221">
                        </a>
                    </div>
                    <div class="content rte">
                        <a href="#" title="Service overview" class="cta">
                            <h3>Global world view</h3>
                        </a>
                        <p>New gTLDs make the Internet even more global. Only Sedo has the <a href="#" title="Sedo the company" class="internal-link">multi-lingual customer and marketing support</a> to meet the needs of customers worldwide.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="bubble">
                        <a href="#" title="Domain Appraisal" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Registry_Services/Expertise.png" alt="" width="221" height="221">
                        </a>
                    </div>
                    <div class="content rte">
                        <a href="#" title="Domain Appraisal" class="cta">
                            <h3>Premium domain expertise</h3>
                        </a>
                        <p>Our domain experts will identify your <a href="#" title="Domain Appraisal" class="internal-link">best premium domains</a> manually using scientifically based methods.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="bubble">
                        ]   <a href="#" title="SedoMLS" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Registry_Services/Mehr-Reichweite.png" alt="" width="221" height="221">
                        </a>
                    </div>
                    <div class="content rte">
                        <a href="#" title="SedoMLS" class="cta">
                            <h3>SedoMLS partner network</h3>
                        </a>
                        <p>Our <a href="#" title="SedoMLS" class="internal-link">gigantic partner network</a> offers your domains on registrar sites all over the world helping provide your new TLD with more exposure and attention.&nbsp;</p>
                    </div>
                </div>
                <div class="item">
                    <div class="bubble">
                        <a href="#" title="Service overview" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Registry_Services/Mehrsprachiger-Support.png" alt="" width="221" height="221">
                        </a>
                    </div>
                    <div class="content rte">
                        <a href="#" title="Service overview" class="cta">
                            <h3>Multilingual support</h3>
                        </a>
                        <p>Our team of country managers offers direct customer support in 25 native languages.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="bubble">
                        <a href="#" title="Sedo the company" class="cta">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/What_we_offer/Registry_Services/Branchenfuehrer.png" alt="" width="221" height="221">
                        </a>
                    </div>
                    <div class="content rte">
                        <a href="#" title="Sedo the company" class="cta">
                            <h3>Industry leader with an excellent reputation</h3>
                        </a>
                        <p>We are part of the United Internet Group, TechCrunch. Heise and Bloomberg have used our expert opinions. Customers such as Ford and Microsoft buy domain names from us. Our partners are Neustar, Verisign and Afilias and we are in the Guiness Book of World Records for the highest-priced domain sale.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

