@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="ce-image-hero frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-medium" style="background-image: url('https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/How_it_works/header_uebersicht_Aa.jpg');">


    <div class="content">

        <div class="bright rte" data-ce="imagehero">


            <h1>Sell your domain</h1>

            <h2>at the best possible price.</h2>
            <p>Sedo is the largest domain marketplace with the most buyers worldwide. By using our services you can sell your domain quickly at the right price while taking advantage of particularly low selling fees.</p>
        </div>

        <p><a href="/member/domainsignup/index.php?language=us" title="Start selling domains now" class="btn btn-blue cta">Start selling domains now</a></p>

    </div>




</div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid7 frame-layout-0 frame-space-after-large">
    <div class="ce-list-image-vertical">
        <h2>Maximum flexibility: Sales options overview</h2>
        <p>Do you want to sell quickly at a fixed price? Or would you rather negotiate, or even start an auction? Maybe you would like to let our professionals find a buyer and negotiate a price? Sedo offers you the largest selection of selling options in the domain market – then you can decide which is the best for your domain!</p>


        <div class="item" data-index="0">


            <div class="bubble blue">
                <a href="/member/domainsignup/index.php?language=us" title="Add domains" class="cta">
                    List your domains for free
                </a>
            </div>


            <div class="content rte" data-ce="listimagemodulevertical">
                <a href="/member/domainsignup/index.php?language=us" title="Add domains" class="cta">
                    <h3>Buy Now</h3>
                </a>
                <p>Find a buyer for your domain directly on our marketplace: <a href="/member/domainsignup/index.php?language=us" title="Add domains" class="internal-link">Buy Now domains offered</a> at a fixed price are <strong>sold up to three times faster</strong> in comparison to other sales options.</p>
            </div>
        </div>

        <div class="item" data-index="1">


            <div class="bubble blue">
                <a href="/member/domainsignup/index.php?language=us" title="Add domains" class="cta">
                    List your domains for free
                </a>
            </div>


            <div class="content rte" data-ce="listimagemodulevertical">
                <a href="/member/domainsignup/index.php?language=us" title="Add domains" class="cta">
                    <h3>Make offer</h3>
                </a>
                <p>Communicate to potential buyers that you are interested in receiving offers for your domain. You can start negotiating with any interested parties directly and <strong>agree on a price</strong> as soon as an offer is received.</p>
            </div>
        </div>

        <div class="item" data-index="2">


            <div class="bubble blue">
                <a href="/member/domainsignup/index.php?language=us" title="Add domains" class="cta">
                    No initial fee
                </a>
            </div>


            <div class="content rte" data-ce="listimagemodulevertical">
                <a href="/member/domainsignup/index.php?language=us" title="Add domains" class="cta">
                    <h3>Marketplace Auction</h3>
                </a>
                <p><a href="/member/domainsignup/index.php?language=us" title="add domains to your account" class="internal-link">Offer a domain for sale</a> as "Make Offer". As soon as the first offer is received, you can put your domain up for auction – using the <strong>original offer as the reserve price</strong>!</p>
            </div>
        </div>

        <div class="item" data-index="3">


            <div class="bubble blue">
                <a href="/us/sell-domains/domain-auction/" title="Order direct auction" class="cta">
                    Starting at <br>
                    just $59
                </a>
            </div>


            <div class="content rte" data-ce="listimagemodulevertical">
                <a href="/us/sell-domains/domain-auction/" title="Order direct auction" class="cta">
                    <h3>Direct Auction</h3>
                </a>
                <p><a href="/shop/index.php4?productid=1120&amp;cHash=669738171b7d3d2c18be7e696505ec60&amp;language=us" title="Start your own domain auction" class="internal-link">Start your own domain auction</a> whenever you want, displayed <strong>on our homepage</strong> and in the matching search results. This enables you to reach a particularly large number of potential buyers – and achieve a high sales price.</p>
            </div>
        </div>

        <div class="item" data-index="4">


            <div class="bubble blue">
                <a href="/member/dnmanagement.php4?language=us" title="Domain management" class="cta">
                    Starting at just $10
                </a>
            </div>


            <div class="content rte" data-ce="listimagemodulevertical">
                <a href="/member/dnmanagement.php4?language=us" title="Domain management" class="cta">
                    <h3>Auction Events</h3>
                </a>
                <p>Our domain experts regularly create their own <a href="/search/?auctionevent=greatdomains&amp;cHash=4bfa9e4c4542ec01c678dfd3bf5eeb90&amp;language=us" title="GreatDomain auction" class="internal-link">auctions with particularly high-grade domains</a> – most notably, our signature <strong>bi-monthly GreatDomains auction</strong>. <a href="/member/dnmanagement.php4?language=us" title="Apply now" class="internal-link">Apply now</a> to gain even more exposure and sales leads for your most attractive domains.</p>
            </div>
        </div>

        <div class="item" data-index="5">


            <div class="bubble blue">
                <a href="/us/services/broker-service/" title="Broker Service" class="cta">
                    No upfront <br>
                    costs
                </a>
            </div>


            <div class="content rte" data-ce="listimagemodulevertical">
                <a href="/us/services/broker-service/" title="Broker Service" class="cta">
                    <h3>Broker Service</h3>
                </a>
                <p>Sell your high value domains with the support of our professional Domain Brokers. We contact potential buyers, negotiate the price, then secure payment and ensure a seamless Domain Transfer.</p>
            </div>
        </div>

    </div>
</div><div class="ce-wrapper grey frame frame-default frame-type-dce_dceuid15 frame-layout-0 frame-space-after-large">
    <div class="ce-checkmarks">

        <div class="item rte" data-ce="checkmarkshorizontal">
            <p>Low fees, great service: <a href="/us/what-we-offer/price-list/#c2129" title="Price list" class="internal-link">Starting at just 10%</a></p>
        </div>

        <div class="item rte" data-ce="checkmarkshorizontal">
            <p>Sell up to three times faster with our Buy Now option</p>
        </div>

        <div class="item rte" data-ce="checkmarkshorizontal">
            <p>Widest selection of selling options within the domain market</p>
        </div>

        <div class="item rte" data-ce="checkmarkshorizontal">
            <p>Maximum exposure with more than <a href="/us/sell-domains/promotion-options/" title="Promotion options" class="internal-link">650 international partners</a></p>
        </div>

        <div class="item rte" data-ce="checkmarkshorizontal">
            <p>The world's largest number of domain buyers</p>
        </div>

    </div>
</div><div class="ce-wrapper
white

frame-space-after-medium" data-ce="listboxesmultigrid">
    <div class="ce-list-boxes-multi rte">
        <h2>Exclusive services and efficient selling tools for domain sellers</h2>

        <p>With Sedo anything is possible: Sell quickly at a fixed price, negotiate, or start your very own auction.<br> &nbsp;</p>
        <div class="list-boxes-wrapper">

            <div class="list-box list-box-item">
                <div class="content">
                    <h3>Domain Parking</h3>
                    <p>Earn money with your unused domains and sell them even more quickly – with our free Domain Parking!</p>
                    <p><a href="/us/park-domains/" title="Parking domains" class="internal-link">Learn more</a></p>
                </div>


                <a href="/us/park-domains/parking-domains/" class="cta">
                    <img src="https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/How_it_works/Sell_Domains_Icon_220x220px_DOMAIN_PARKING_20-Prozent.png" alt="" width="220" height="220">
                </a>


            </div>

            <div class="list-box list-box-item">
                <div class="content">
                    <h3>Domain Promotion</h3>
                    <p>Secure a top position for your domain on the Sedo marketplace: With a Homepage or Category Showcase, your domain will be afforded the highest level of attention from buyers.</p>
                    <p><a href="/us/sell-domains/promotion-options/" title="Showcases and SedoMLS" class="internal-link">Learn more</a></p>
                </div>


                <a href="/us/sell-domains/promotion-options/" class="cta">
                    <img src="https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/How_it_works/Sell_Domains_Icon_220x220px_DOMAIN_PROMOTION_20-Prozent.png" alt="" width="220" height="220">
                </a>


            </div>

            <div class="list-box list-box-item">
                <div class="content">
                    <h3>SedoMLS sales network</h3>
                    <p>Exclusive for Sedo customers: Our global sales network with more than 650 international partners - gain maximum exposure and three-times faster sales.</p>
                    <p><a href="/us/sell-domains/promotion-options/" title="SedoMLS" class="internal-link">Learn more</a></p>
                </div>


                <a href="/us/sell-domains/promotion-options/" class="cta">
                    <img src="https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/How_it_works/Sell_Domains_Icon_220x220px_MLS-PARTNERNETZWERK_20-Prozent.png" alt="" width="220" height="220">
                </a>


            </div>

            <div class="list-box list-box-item">
                <div class="content">
                    <h3>Domain Appraisal</h3>
                    <p>Experience-backed: Our experts will create an individualized appraisal for your domain – also available for comprehensive domain portfolios.</p>
                    <p><a href="/us/services/domain-appraisal/" title="Have your domain appraised">Learn more</a></p>
                </div>


                <a href="/us/services/domain-appraisal/" class="cta">
                    <img src="https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/How_it_works/Sell_Domains_Icon_220x220px_DOMAIN_BEWERTUNG_20-Prozent.png" alt="" width="220" height="220">
                </a>


            </div>

            <div class="list-box list-box-item">
                <div class="content">
                    <h3>Transfer Service</h3>
                    <p>Have you already struck a deal outside our platform? Sedo has a reputable Domain Transfer Service for agreements reached outside of our marketplace.</p>
                    <p><a href="/us/services/domain-transfer-service/" title="Domain transfer">Learn more</a></p>
                </div>


                <a href="/us/services/domain-transfer-service/" class="cta">
                    <img src="https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/How_it_works/Sell_Domains_Icon_220x220px_TRANSFER_20-Prozent.png" alt="" width="220" height="220">
                </a>


            </div>

            <div class="list-box list-box-item">
                <div class="content">
                    <h3>Market Trends</h3>
                    <p>Become a domain expert: Prices, developments and top 10 domains.</p>
                    <p><a href="/us/buy-domains/market-trends/" title="Discover market trends">Learn more</a></p>
                </div>


                <a href="/us/buy-domains/market-trends/" class="cta">
                    <img src="https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/Sell_Domains_Icon_220x220px_MARKTSTUDIE_20_schwarz.png" alt="" width="220" height="220">
                </a>


            </div>

        </div>

    </div>
</div><div class="ce-accordion-wrapper beige frame frame-default frame-type-dce_dceuid4 frame-layout-0 frame-space-after-medium">
    <div class="ce-stepbystep ce-accordion rte ui-accordion ui-widget ui-helper-reset" data-ce="stepbystep" role="tablist">
        <h2 class="ui-accordion-header ui-state-default ui-corner-all" role="tab" id="ui-id-2" aria-controls="ui-id-3" aria-selected="false" aria-expanded="false" tabindex="0">SELLING DOMAINS: HOW IT WORKS</h2>
        <div class="accordion-content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="display: none;" id="ui-id-3" aria-labelledby="ui-id-2" role="tabpanel" aria-hidden="true">

            <div class="steps-wrapper">

                <div class="step step-3">
                    <h3>Create a customer account</h3>
                    <p><a href="/member/register.php?language=us" title="Create an account" class="internal-link">Create an account</a> on our marketplace at no charge. Your domains can be put up for sale as soon as your personal customer account is certified and activated.</p>
                    <span class="counter"></span>
                </div>

                <div class="step step-3">
                    <h3>List your domains</h3>
                    <p><a href="/member/domainsignup/index.php?language=us" title="Add domains" class="internal-link">Add one or more domains </a>to your customer account. Now all you need to do is set the purchase option and price – your domain will then appear instantly on our worldwide marketplace.</p>
                    <span class="counter"></span>
                </div>

                <div class="step step-3">
                    <h3>Sedo will handle the rest</h3>
                    <p>As soon as your domain is sold, our <a href="/us/services/domain-transfer-service/" title="Transfer service" class="internal-link">free transfer service</a> comes into play: Following the receipt of payment, we transfer the ownership of the domain to the buyer.</p>
                    <span class="counter"></span>
                </div>

            </div>
        </div>
    </div>
</div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid17 frame-layout-0 frame-space-after-medium">
    <div class="ce-slider-small">
        <h2>When it pays to sell:</h2>
        <p><strong>When does it pay to sell a domain:</strong><br> A domain sale is always worthwhile and the opportunities for sales at Sedo are second to none!</p>
        <div class="ce-slider-small-left rte" data-ce="slidersmall">
            <ul class="icon-beige"> 	<li>When a domain used for a specific campaign is no longer needed</li> 	<li>When you want to turn your domain investment into money</li> 	<li>When you have registered a trendy name and want to sell it at a profit</li> </ul><p>&nbsp;</p>
        </div>

        <div class="ce-slider-small-right">
            <div class="bx-wrapper" style="max-width: 100%;">
                <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 274px;">
                    <ul class="bxslider" style="width: 415%; position: relative; transition-duration: 0s; transform: translate3d(-709px, 0px, 0px);">
                        <li style="float: left; list-style: outside none none; position: relative; width: 709px;" class="bx-clone">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/How_it_works/BUY_DOMAINS_Slider_dotCO_blau.jpg" alt="" width="1524" height="280">
                            <div class="content rte" data-ce="slidersmall">
                                <p>"Our sales have shown: with Sedo’s <strong>expertise</strong> and <strong>global reach</strong>, we have found the<strong> perfect platform for selling</strong> our .co domains to end users all over the world."</p>
                                <p><em>Lori Anne Wardi, Vice President of .CO Internet</em></p>
                            </div>
                        </li>

                        <li style="float: left; list-style: outside none none; position: relative; width: 709px;">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/How_it_works/BUY_DOMAINS_Slider_desktop_blau_2.jpg" alt="" width="1524" height="280">
                            <div class="content rte" data-ce="slidersmall">
                                <p>"This particular domain is unique to the service I plan to launch. People can immediately identify what type of service is behind such a name. Sedo was instrumental in structuring the legal framework and installment plan for this deal. I had no doubts this would go as smoothly as it did."</p>
                                <p><em>Rolf Larsen, CEO</em></p>
                            </div>
                        </li>

                        <li style="float: left; list-style: outside none none; position: relative; width: 709px;">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/How_it_works/BUY_DOMAINS_Slider_dotCO_blau.jpg" alt="" width="1524" height="280">
                            <div class="content rte" data-ce="slidersmall">
                                <p>"Our sales have shown: with Sedo’s <strong>expertise</strong> and <strong>global reach</strong>, we have found the<strong> perfect platform for selling</strong> our .co domains to end users all over the world."</p>
                                <p><em>Lori Anne Wardi, Vice President of .CO Internet</em></p>
                            </div>
                        </li>

                        <li style="float: left; list-style: outside none none; position: relative; width: 709px;" class="bx-clone">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/How_it_works/BUY_DOMAINS_Slider_desktop_blau_2.jpg" alt="" width="1524" height="280">
                            <div class="content rte" data-ce="slidersmall">
                                <p>"This particular domain is unique to the service I plan to launch. People can immediately identify what type of service is behind such a name. Sedo was instrumental in structuring the legal framework and installment plan for this deal. I had no doubts this would go as smoothly as it did."</p>
                                <p><em>Rolf Larsen, CEO</em></p>
                            </div>
                        </li>
                    </ul>
                </div><div class="bx-controls bx-has-pager"><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div><div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div></div></div>
            </div>
        </div>
    </div>
</div><div class="ce-wrapper white">














    <div class="ce-headline">
        <h2 class="style-h1">Checklist: Selling domains</h2>
    </div>


</div>


<div class="ce-wrapper ce-container white  frame-space-after-medium">

    <!-- Image [top] + Text [bottom] [50|50] -->
    <div class="ce-textimage-ver ">
        <div class="ce-image-top">

        </div>
        <div class="ce-text-bottom rte" data-ce="textimage">

            <h2>
            </h2>
            <h4><strong>Create a free customer account </strong></h4><ul class="icon-blue"> 	<li>First create a <a href="/member/register.php?language=us" title="Create a customer account" class="internal-link">free customer account</a>.</li> 	<li>Now you can add domains in order to sell them or auction them off.</li> </ul><h4>Check comparable domain offers</h4><ul class="icon-blue"> 	<li>Get an overview of comparable domain offers on our marketplace</li> 	<li>Clever filter <a href="/search/?language=us" title="Domain search" class="internal-link">functions</a> help limit the search by letting you, for example, display only certain domain endings.</li> </ul><h4>Understand the value of domains</h4><ul class="icon-blue"> 	<li>Older, shorter domains with internet-savvy names and popular suffixes (e.g., .com or .co.uk) are of <a href="/us/services/domain-appraisal/" title="Domain appraisal for your domains" class="internal-link">great value</a>.</li> 	<li>Our domain experts designate particularly <a href="/search/?special_inventory=1&amp;cHash=be55b91bbbf9edcf13c9a4cbfb5e3756&amp;language=us" title="Top-Domains" class="internal-link">valuable web addresses</a> with the "Top Domain" label.</li> </ul>
        </div>
    </div>

    <!-- Image [top] + Text [bottom] [50|50] -->
    <div class="ce-textimage-ver ">
        <div class="ce-image-top">

        </div>
        <div class="ce-text-bottom rte" data-ce="textimage">

            <h2>
            </h2>
            <h4><b>Selling options and negotiations with buyers</b></h4><ul class="icon-blue"><li>Sellers can individually choose from several sales options for their domains.</li><li>Prices are negotiated directly between <a href="/us/buy-domains/" title="Buying domains" class="internal-link">buyers</a> and sellers.</li></ul><h4><b>Secure payment using our Transfer Service</b></h4><ul class="icon-blue"><li>Sedo's <a href="/us/services/domain-transfer-service/" title="Transfer service" class="internal-link">Transfer Service</a> provides secure payment processing.</li><li>The buyer does not take over the domain until the purchase price has been paid.</li></ul><h4><b>Easy domain transfer and payment</b></h4><ul class="icon-blue"><li>We handle the smooth <a href="/us/services/domain-transfer-service/" title="Transfer service" class="internal-link">transfer of ownership rights</a>. </li><li>Quick payment of the domain purchase price to the seller following a successful transfer.</li></ul>
        </div>
    </div>


</div>





<div class="ce-wrapper ce-container white  frame-space-after-large">

    <!-- Text [left] + Image [right] -->
    <div class="ce-textimage-hor ">
        <div class="ce-image-right">



            <a href="/us/know-how-support/" title="Customer support" class="cta">

                <img src="https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/Domain_Trade/FAQ.jpg" alt="" width="1420" height="1082">

            </a>


        </div>
        <div class="ce-text-left rte" data-ce="textimage">

            <h2>

                Frequently asked questions (FAQ)
            </h2>
            <p>You will find the most frequently asked questions about domain selling here.</p><ol> 	<li><a href="https://sedo-us1.custhelp.com/app/answers/detail/a_id/574/kw/auction/search/1" title="How can I auction my domains on Sedo" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/574\/kw\/auction\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">How can I auction my domain on Sedo?</a></li> 	<li><a href="https://sedo-us1.custhelp.com/app/answers/detail/a_id/2916/kw/MLS/search/1" title="What are the requirements for participation in SedoMLS Premium?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/2916\/kw\/MLS\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">What are the requirements for participation in SedoMLS Premium?</a></li> 	<li><a href="https://sedo-us1.custhelp.com/app/answers/detail/a_id/593/kw/cost/search/1" title="What is the cost to sell a domain through Sedo?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/593\/kw\/cost\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">What is the cost to sell a domain through Sedo?</a></li> </ol><p><a href="/us/know-how-support/" title="FAQ's" class="btn btn-beige">Additional questions &amp; answers</a></p>
        </div>
    </div>


</div>




