<main role="main" id="content-main-wrapper" class="content-wrapper-full">
    <div class="t3-content-fullwidth">
        <div class="ce-wrapper grey frame-space-before-medium frame-space-after-medium">


            <div class="ce-headline">
                <h1>Customer Support</h1>
            </div>














        </div>


        <div class="ce-wrapper ce-container white  frame-space-after-large">

            <!-- Text [left] + Image [right] -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-right">



                    <a href="https://sedo.com/faq/faq.php?language=us" title="Enter Support Center" class="cta">

                        <img src="https://cdn.sedo.com/fileadmin/user_upload/Sell_Domains/Domain_Auction/FAQ.jpg" alt="" width="1420" height="1082">

                    </a>


                </div>
                <div class="ce-text-left rte" data-ce="textimage">

                    <h2>

                        Welcome to Sedo's Customer Support Center
                    </h2>
                    <p>Domain assistance is at your fingertips here in the Customer Support Center, where&nbsp;you will find the answers to many commonly asked questions in the FAQs. If the answer to your question cannot be found, our Customer Support Team is happy to assist you directly. We hope you enjoy Sedo's Customer Support Center!</p>
                    <p><a href="https://sedo.com/faq/faq.php?language=us" title="Enter Sedo's Support Center" target="_blank" class="btn btn-blue">Enter Support Center</a></p>
                    <p>US/Canada: <strong>(617) 499-7200</strong> **<br> International: <strong>(+49) 221 / 340 30 - 230</strong><br> Email: <a href="mailto:contact@sedo.com" title="contact@sedo.com">contact@sedo.com</a></p>
                    <p>Customer Support Hours: Monday-Friday 9am-5pm EST/EDT<br> Transfer Support Hours: Monday-Friday 9am-5pm EST/EDT</p>
                </div>
            </div>


        </div>



    </div>
</main>