<main role="main" id="content-main-wrapper" class="content-wrapper-full">
    <div class="t3-content-fullwidth">
        <div class="ce-image-hero frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-medium" style="background-image: url('https://cdn.sedo.com/fileadmin/images/Headers/Header_generic_v1.jpg');">


            <div class="content">

                <div class="dark rte" data-ce="imagehero">


                    <h1>Transfer Services</h1>

                    <h2>Transfer domains securely after the completion of a sale.</h2>
                    <p>Perfect for both buyers and sellers: Our reliable Transfer Service provides secure notification of the purchase price and the seamless transfer of the domain ownership.</p>
                </div>

            </div>


            <div class="ce-infobox rte" data-ce="imagehero">

                <div class="ce-disturber">Security for buyer + seller</div>

                <h3>Your benefits</h3>
                <ul><li><b>Free </b>and automatic domain Transfer Service for all domains purchased via Sedo</li><li><b>Maximum <b></b>security</b> when paying for and transferring the domain</li><li>Includes purchase agreement and <b>personal support</b> for a&nbsp;seamless and professional transfer</li><li>Available also for <b>domains purchased </b><b><b>externally</b></b>: reliable transfer protection for domain purchases outside of our platform</li></ul>
            </div>

        </div>


        <div class="ce-wrapper ce-container white  frame-space-after-extra-large">

            <!-- Image [top] + Text [bottom] [50|50] -->
            <div class="ce-textimage-ver ">
                <div class="ce-image-top">


                    <div class="ce-disturber">Included for free</div>


                    <a href="/search/?language=us" title="Search domains" class="cta">

                        <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Transfer/Einigung-auf-Marktplatz.jpg" alt="" width="1420" height="1082">

                    </a>


                </div>
                <div class="ce-text-bottom rte" data-ce="textimage">

                    <h2>

                        Peace of Mind for Marketplace Deals
                    </h2>
                    <p><strong>As soon as the buyer and seller have reached an agreement using our trading platform, our free Transfer Service ensures secure payment and transfer of the domain. </strong></p>
                    <p>Our Transfer Service includes a purchase agreement&nbsp;specifically tailored to domains and web projects. You will also be assigned a dedicated Sedo representative for any questions concerning payment and the technical transfer until the domain ownership has officially changed hands.</p><ul class="icon-beige"> 	<li><span style="color:#0061aa"><strong>Free</strong> </span>and secure: reliable service for all domain purchases and sales made through Sedo</li> 	<li>Payment of the domain purchase price to our neutral account</li> 	<li>Seamless transfer of the domain ownership to the buyer</li> 	<li><span style="color:#000000">Individual purchase agreement</span> and&nbsp;dedicated representative&nbsp;for during the Domain Transfer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li> </ul><p>Sedo Transfer service is included <strong><span style="color:#0061aa">free of charge</span> </strong>as long as the domain purchase was made on our platform (standard marketplace pricing applies).</p>
                    <p><a href="/search/?language=us" title="Search and buy domains now" class="btn btn-blue">Find a Domain Now</a></p>
                </div>
            </div>

            <!-- Image [top] + Text [bottom] [50|50] -->
            <div class="ce-textimage-ver ">
                <div class="ce-image-top">


                    <div class="ce-disturber">Affordable security for all</div>


                    <a href="/us/services/domain-transfer-service/external-transfer-order-page/" class="cta">

                        <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Transfer/Einigung-ausserhalb-Marktplatz.jpg" alt="" width="1420" height="1082">

                    </a>


                </div>
                <div class="ce-text-bottom rte" data-ce="textimage">

                    <h2>

                        Protection for Deals Made Outside of Sedo
                    </h2>
                    <p><strong>Use our reliable Transfer Service even for agreements reached outside of our platform. Set up a customer account – and we will ensure a secure and hassle-free domain transfer.</strong></p>
                    <p>You benefit from maximum security even when agreements are made outside of our platform, regardless of your role in the transaction. We always ensure that sellers securely receive payments. And buyers can be certain of acquiring ownership of their new domain quickly and easily.</p><ul class="icon-beige"> 	<li><span style="color:#0061aa"><strong>Affordable</strong> </span>and guaranteed to be secure</li> 	<li><span style="color:#0061aa"><strong>Reliable</strong> </span>payment and domain transfer</li> 	<li>Purchase agreement and dedicated representative<span style="color:#0061aa"> </span>throughout the transfer of domains</li> 	<li>Service fees can be split between buyer and seller</li> </ul><p>Fees start at<span style="color:#0061aa"> <strong>just 3%</strong></span> of the domain purchase price</p>
                    <p><a href="/us/services/domain-transfer-service/external-transfer-order-page/" title="Request external domain transfer" class="btn btn-blue">Request External Domain Transfer</a></p>
                </div>
            </div>


        </div>


        <div class="ce-accordion-wrapper beige frame frame-default frame-type-dce_dceuid4 frame-layout-0 frame-space-after-medium">
            <div class="ce-stepbystep ce-accordion rte ui-accordion ui-widget ui-helper-reset" data-ce="stepbystep" role="tablist">
                <h2 class="ui-accordion-header ui-state-default ui-corner-all" role="tab" id="ui-id-2" aria-controls="ui-id-3" aria-selected="false" aria-expanded="false" tabindex="0">DOMAIN TRANSFER: HOW IT WORKS</h2>
                <div class="accordion-content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="display: none;" id="ui-id-3" aria-labelledby="ui-id-2" role="tabpanel" aria-hidden="true">
                    <p>Do you want to move your domain to a new provider?</p>
                    <p>Our professionals will help you with the domain transfer process.</p>
                    <div class="steps-wrapper">

                        <div class="step step-4">
                            <h3>Domain Purchase Agreement</h3>
                            <p>Upon agreement, both the buyer and seller will receive a free purchase contract from us,&nbsp;specifically tailored to domains or web projects at no additional charge.</p>
                            <span class="counter"></span>
                        </div>

                        <div class="step step-4">
                            <h3>Payment to Neutral Account</h3>
                            <p>The buyer pays the domain's agreed purchase price by wire transfer, PayPal or credit card into a neutral account provided by Sedo.</p>
                            <span class="counter"></span>
                        </div>

                        <div class="step step-4">
                            <h3>Trouble-free Domain Transfer</h3>
                            <p>Our transfer specialists work with both partners and their web hosting companies or registrars to quickly and safely transfer the domain.</p>
                            <span class="counter"></span>
                        </div>

                        <div class="step step-4">
                            <h3>Payment to the Seller</h3>
                            <p>The seller is paid as soon as the buyer is registered as the new owner and assumes full control of the domain. It's that simple!</p>
                            <span class="counter"></span>
                        </div>

                    </div>
                </div>
            </div>
        </div><div class="ce-wrapper grey frame frame-default frame-type-dce_dceuid16 frame-layout-0 frame-space-after-medium">
            <div class="ce-quotes">

                <div class="item">
                    <div class="quote rte" data-ce="quoteboxes">
                        <p>"With Sedo's transfer service, I was able to use Paypal to quickly transfer the money for my domain hassle-free."</p>
                    </div>
                    <div class="author">
                        <p>
                            PASCAL W.<br>
                            SEDO CUSTOMER
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="quote rte" data-ce="quoteboxes">
                        <p>"My transaction within the Sedo Transfer Center progressed with no  problems whatsoever. Thanks to the personal contact with the transfer  expert, I was always informed about every step of the domain transfer."</p>
                    </div>
                    <div class="author">
                        <p>
                            LUKAS B.<br>
                            SEDO CUSTOMER
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="quote rte" data-ce="quoteboxes">
                        <p>"After selling my domain on Sedo, I was paid in timely manner and found the transfer process to be highly professional."</p>
                    </div>
                    <div class="author">
                        <p>
                            ALEX S.<br>
                            SEDO CUSTOMER
                        </p>
                    </div>
                </div>

            </div>
        </div>


        <div class="ce-wrapper ce-container white  frame-space-before-small frame-space-after-medium">

            <!-- Text [left] + Image [right] -->
            <div class="ce-textimage-hor ">
                <div class="ce-image-right">



                    <a href="/us/know-how-support/" title="More FAQ" class="cta">

                        <img src="https://cdn.sedo.com/fileadmin/user_upload/Services/Transfer/FAQ.jpg" alt="" width="1420" height="1082">

                    </a>


                </div>
                <div class="ce-text-left rte" data-ce="textimage">

                    <h2>

                        Frequently asked questions (FAQ)
                    </h2>
                    <p>You will find the most frequently asked questions on the topic of domain transfer here.</p><ol> 	<li><a href="https://sedo-us1.custhelp.com/app/answers/detail/a_id/729/kw/transfer/search/1" title="How long does a domain transfer (transaction) take?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/729\/kw\/transfer\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">How long does a domain transfer (transaction) take?</a></li> 	<li><a href="https://sedo-us1.custhelp.com/app/answers/detail/a_id/742/kw/transfer/search/1" title="How safe and secure is transferring a domain or money with Sedo?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/742\/kw\/transfer\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">How safe and secure is transferring a domain or money with Sedo?</a></li> 	<li><a href="https://sedo-us1.custhelp.com/app/answers/detail/a_id/1254/kw/transfer%20payment/search/1" title="When I buy a domain, do I pay Sedo or the seller?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/1254\/kw\/transfer%20payment\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">When I buy a domain, do I pay Sedo or the seller?</a></li> 	<li><a href="https://sedo-us1.custhelp.com/app/answers/detail/a_id/2263/kw/transfer/search/1" title="How will I be informed of status changes or updates to my transfer?" target="1200x800" onclick="vHWin=window.open('https:\/\/sedo-us1.custhelp.com\/app\/answers\/detail\/a_id\/2263\/kw\/transfer\/search\/1','FEopenLink','width=1200,height=800');vHWin.focus();return false;" class="external-link">How will I be informed of status changes or updates to my transfer?</a></li> </ol><p><a href="/us/know-how-support/" title="FAQ's" class="btn btn-beige">Additional questions &amp; answers</a></p>
                </div>
            </div>


        </div>


        <div class="ce-wrapper white frame frame-default frame-type-dce_dceuid2 frame-layout-0 frame-space-after-large">
            <div class="ce-list-boxes-cta">
                <h2>What Sedo can do for you</h2>


                <div class="list-boxes-item" data-row="0">
                    <div class="header">
                        <h4>Tell you what your domain is worth.</h4>

                        <h4></h4>

                    </div>
                    <div class="list-box list-box-left">
                        <div class="content rte" data-ce="listboxescta">
                            <h3><b>Domain Appraisal</b></h3>
                            <p>Our experts will create an individual appraisal of your domain's value.</p>
                        </div>

                        <a href="/us/services/domain-appraisal/" class="blue cta"> </a>

                    </div>
                    <div class="list-box list-box-right">
                        <div class="content rte" data-ce="listboxescta">
                            <h3><b>Domain Promotion</b></h3>
                            <p>More exposure and more sales through more than 650 Sedo partners worldwide.</p>
                        </div>

                        <a href="/us/sell-domains/promotion-options/" class="blue cta"> </a>

                    </div>
                </div>

                <div class="list-boxes-item" data-row="1">
                    <div class="header">
                        <h4></h4>

                        <h4></h4>

                    </div>
                    <div class="list-box list-box-left">
                        <div class="content rte" data-ce="listboxescta">
                            <h3><b>Partner Program</b></h3>
                            <p>Join our affiliate network and earn money promoting our products.</p>
                        </div>

                        <a href="/us/services/sedos-partner-program/" class="blue cta"> </a>

                    </div>
                    <div class="list-box list-box-right">
                        <div class="content rte" data-ce="listboxescta">
                            <h3><b>Domain Parking</b></h3>
                            <p>Parked domains receive twice as many bids as unparked domains.</p>
                        </div>

                        <a href="/us/park-domains/" class="beige cta"> </a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</main>