
<div class="ce-image-hero frame frame-default frame-type-dce_dceuid1 frame-layout-0 frame-space-after-medium" style="background-image: url('https://cdn.sedo.com/fileadmin/user_upload/home_kaufen_Aa.jpg');">


    <div class="content">

        <div class="bright rte" data-ce="imagehero">


            <h1>Buy Domains</h1>

            <p>Thought of the perfect web address? Is the domain already taken?<br>No problem!&nbsp;</p>
        </div>

        <p><a href="/search/?language=us" title="Domain search" class="btn btn-blue cta">Find your perfect domain today</a></p>

    </div>




</div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid7 frame-layout-0 frame-space-after-medium">
    <div class="ce-list-image-vertical">
        <h2>Different options for buying domains</h2>
        <p>There are many ways to get the domain you want.</p>


        <div class="item" data-index="0">

            <div class="bubble">

                <a href="/search/?listing_type%5B0%5D=1&amp;cHash=4978f18a0fd1441670fd17e319941a3b&amp;language=us" title="Binding set price" class="cta">
                    <img src="https://cdn.sedo.com/fileadmin/user_upload/Buy_Domains/How_it_works/Sofortkauf.png" alt="" width="221" height="221">
                </a>

            </div>

            <div class="content rte" data-ce="listimagemodulevertical">
                <a href="/search/?listing_type%5B0%5D=1&amp;cHash=4978f18a0fd1441670fd17e319941a3b&amp;language=us" title="Binding set price" class="cta">
                    <h3>Buy Now</h3>
                </a>
                <p>This is the fastest of our purchase methods. First, the seller specifies a binding Buy Now price and then the buyer pays the price displayed on the domain offer page. After the transfer process completes, you’re free to start using your domain.</p>
            </div>
        </div>

        <div class="item" data-index="1">

            <div class="bubble">

                <a href="/search/?listing_type%5B0%5D=2&amp;cHash=fbd91659876407457a1cd7b6e07793b3&amp;language=us" title="Marketplace" class="cta">
                    <img src="https://cdn.sedo.com/fileadmin/user_upload/Buy_Domains/How_it_works/Preisverhandlung.png" alt="" width="221" height="221">
                </a>

            </div>

            <div class="content rte" data-ce="listimagemodulevertical">
                <a href="/search/?listing_type%5B0%5D=2&amp;cHash=fbd91659876407457a1cd7b6e07793b3&amp;language=us" title="Marketplace" class="cta">
                    <h3>Make Offer</h3>
                </a>
                <p>There is no fixed price listed but offers are welcomed. When you place a bid, the seller decides if they would like to negotiate with you. If both parties can agree on a price, Sedo will complete the sale.</p>
            </div>
        </div>

        <div class="item" data-index="2">

            <div class="bubble">

                <a href="/search/?listing_type%5B0%5D=3&amp;cHash=7080f41f0590366b37eed4cd4d4cc32d&amp;language=us" title="Auctions" class="cta">
                    <img src="https://cdn.sedo.com/fileadmin/user_upload/Buy_Domains/How_it_works/Auktion.png" alt="" width="221" height="221">
                </a>

            </div>

            <div class="content rte" data-ce="listimagemodulevertical">
                <a href="/search/?listing_type%5B0%5D=3&amp;cHash=7080f41f0590366b37eed4cd4d4cc32d&amp;language=us" title="Auctions" class="cta">
                    <h3>Auction</h3>
                </a>
                <p>Some domains are offered as part of an auction where the highest bid wins. You can see the bids made by others on the domain page – and also how much time is remaining to place a bid.</p>
            </div>
        </div>

        <div class="item" data-index="3">

            <div class="bubble">

                <a href="/us/services/broker-service/" title="Brokerage service" class="cta">
                    <img src="https://cdn.sedo.com/fileadmin/user_upload/Buy_Domains/How_it_works/Domain-Vermittlung.png" alt="" width="221" height="221">
                </a>

            </div>

            <div class="content rte" data-ce="listimagemodulevertical">
                <a href="/us/services/broker-service/" title="Brokerage service" class="cta">
                    <h3>Domain Brokers</h3>
                </a>
                <p>As a buyer, you can also use our <a href="/us/services/broker-service/" title="Brokerage service" class="internal-link">Brokerage Services</a>. Our experienced domain experts will help you with price negotiations and purchasing – even for domains which are currently not available in our database.</p>
            </div>
        </div>

    </div>
</div><div class="ce-wrapper white frame frame-default frame-type-dce_dceuid4 frame-layout-0 frame-space-after-medium">
    <div class="ce-stepbystep rte" data-ce="stepbystep">
        <h2>3 easy steps to buy a domain</h2>

        <div class="steps-wrapper">

            <div class="step step-3">
                <h3>Use our domain search</h3>
                <p>On the hunt for a specific domain name?<br> &nbsp;</p>
                <p>Using our <a href="/search/?language=us" title="Domain search" class="internal-link">search</a> allows you to look for your desired domain within Sedo's database. We're sure the domain you want - or a great alternative - is for sale at Sedo.</p>
                <span class="counter"></span>
            </div>

            <div class="step step-3">
                <h3>Compare and buy</h3>
                <p>Easily compare different <a href="/search/?language=us" title="Domain search" class="internal-link">domain offers</a> with in-depth statistics and detailed information about sellers.<br> &nbsp;</p>
                <p>Once you find a domain that meets your needs, you can buy it - quickly and securely!</p>
                <span class="counter"></span>
            </div>

            <div class="step step-3">
                <h3>Sedo takes care of the rest</h3>
                <p>Next our free <a href="/us/services/domain-transfer-service/" title="Transfer service" class="internal-link">Transfer Service</a> comes into play. After the payment has gone through, we will transfer the ownership of the domain to you. Depending on the domain extension this may take between 5 and 10 days.<br> <br> Congratulations, your new domain name is now at your disposal!</p>
                <p>&nbsp;</p>
                <span class="counter"></span>
            </div>

        </div>
    </div>
</div><div class="ce-wrapper white">




    <div class="ce-headline">
        <h2>Buying domains:  How it works</h2>
    </div>












</div>


<div class="ce-wrapper ce-container white  frame-space-after-medium">

    <!-- Image [top] + Text [bottom] [50|50] -->
    <div class="ce-textimage-ver ">
        <div class="ce-image-top">

        </div>
        <div class="ce-text-bottom rte" data-ce="textimage">

            <h2>
            </h2>
            <h4>Create a free customer account:</h4><ul class="icon-blue"> 	<li>First create a <a href="/member/register.php?language=us" title="Create a new account" class="internal-link">free customer account</a>.</li> 	<li>Now you can save domains in your watch list – and buy them.</li> </ul><h4>Search domains:</h4><ul class="icon-blue"> 	<li>Clever filter functions assist with your <a href="/search/?language=us" title="Domain search" class="internal-link">domain search</a>.</li> 	<li>Limit the selection by having only certain domain extensions displayed.</li> </ul><h4>Evaluate domains and prices:</h4><ul class="icon-blue"> 	<li>Older, shorter domains with popular suffixes (e.g., .com or .co.uk) are of great value.</li> 	<li>Our domain experts designate particularly valuable web addresses with the "Top domain" label.</li> </ul>
        </div>
    </div>

    <!-- Image [top] + Text [bottom] [50|50] -->
    <div class="ce-textimage-ver ">
        <div class="ce-image-top">

        </div>
        <div class="ce-text-bottom rte" data-ce="textimage">

            <h2>
            </h2>
            <h4>Understanding seller and purchase options: </h4><ul class="icon-blue"><li>Sellers can choose from several pricing options for their domains. </li><li>Prices are negotiated directly between buyers and sellers. </li></ul><h4>Secure payment using Transfer Services:</h4><ul class="icon-blue"><li>Sedo's domain <a href="/us/services/domain-transfer-service/" title="Transfer service" class="internal-link">Transfer Service</a> ensures a secure payment process.</li><li>The money is not released to the seller until the domain is transferred.</li></ul><h4>Easy Domain Transfer and use:</h4><ul class="icon-blue"><li>We handle the transferring of ownership rights seamlessly.</li><li>The domain is readily available to you following completion of the transfer. </li></ul>
        </div>
    </div>


</div>


<div class="ce-wrapper white frame frame-default frame-type-dce_dceuid17 frame-layout-0 frame-space-after-medium">
    <div class="ce-slider-small">
        <h2>Why it pays to buy a domain</h2>
        <p>Domains are a central component of successful online communication.</p>
        <div class="ce-slider-small-left rte" data-ce="slidersmall">
            <p>However, the majority of the best internet addresses are already owned. Therefore buying one of these domains is the best path to success.</p>
            <h4>Who best benefits from purchasing a domain:</h4><ul class="icon-beige"> 	<li>Online shops &amp; startups</li> 	<li>New campaigns and product development</li> 	<li>Expansion and protection of a brand</li> 	<li>Investors and domain traders</li> </ul><p>&nbsp;</p>
        </div>

        <div class="ce-slider-small-right">
            <div class="bx-wrapper" style="max-width: 100%;">
                <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 463px;">
                    <ul class="bxslider" style="width: 515%; position: relative; transition-duration: 0.5s; transform: translate3d(-1418px, 0px, 0px);">
                        <li style="float: left; list-style: outside none none; position: relative; width: 709px;" class="bx-clone">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Buy_Domains/How_it_works/BUY_DOMAINS_Slider_fotopuzzle.jpg" alt="" width="1524" height="280">
                            <div class="content rte" data-ce="slidersmall">
                                <h5>Expanding and protecting the brand</h5>
                                <p>Franz Trescher, Managing director of puzzle &amp; play GmbH</p>
                                <p>"We were convinced from the very beginning of our idea to convert customer photographs into genuine puzzles. In order to explore this potential platform, it was very important to us that we find the <strong>perfect domain</strong> for our innovative offering. Since the service was extremely well received, we prepared very intensively for our expansion to other EU countries.</p>
                                <p>We have not only secured the top level domains which are important to us in each country, but also the <strong>domain title in the correct language</strong>."</p>
                                <h3>&nbsp;</h3>
                            </div>
                        </li>

                        <li style="float: left; list-style: outside none none; position: relative; width: 709px;">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Buy_Domains/How_it_works/BUY_DOMAINS_Slider_give.jpg" alt="" width="1524" height="280">
                            <div class="content rte" data-ce="slidersmall">
                                <h5>Online-Shops &amp; Start-Ups</h5>
                                <p>Brent Oxley, Entrepreneur</p>
                                <p><strong>Give.com</strong> is the ultimate name for a charity, and had we not acted fast on the advice of our Sedo broker, we could have missed out on this effective branding for our cause. The domain <strong>projects exactly what we intend to do</strong> which is to positively impact more lives than all other charities combined, and I can’t imagine this being possible without <strong>a name as powerful and universal as Give.com</strong>.</p>
                                <p>We simply <strong>cannot afford to sound like an inexperienced startup</strong> and with the Give.com name, we won’t.</p>
                                <h2>&nbsp;</h2>
                            </div>
                        </li>

                        <li style="float: left; list-style: outside none none; position: relative; width: 709px;">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Buy_Domains/How_it_works/BUY_DOMAINS_Slider_hubspot.jpg" alt="" width="1524" height="280">
                            <div class="content rte" data-ce="slidersmall">
                                <h5>Campaigns and product development</h5>
                                <p>Dharmesh Shah, CTO, Hubspot</p>
                                <p>“HubSpot’s blog is a well-trafficked resource because we put a lot of thought into posting&nbsp; valuable content for our customers, partners and even employees or future employees, so <strong>culturecode.com was a natural place</strong> to unveil our culture code. However, we also wanted the ability to <strong>easily share</strong> the code, and giving someone a lengthy URL or asking them to do a search on our site isn’t very convenient.&nbsp; On the other hand, a custom domain is<strong> much easier to remember</strong>.”</p>
                            </div>
                        </li>

                        <li style="float: left; list-style: outside none none; position: relative; width: 709px;">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Buy_Domains/How_it_works/BUY_DOMAINS_Slider_fotopuzzle.jpg" alt="" width="1524" height="280">
                            <div class="content rte" data-ce="slidersmall">
                                <h5>Expanding and protecting the brand</h5>
                                <p>Franz Trescher, Managing director of puzzle &amp; play GmbH</p>
                                <p>"We were convinced from the very beginning of our idea to convert customer photographs into genuine puzzles. In order to explore this potential platform, it was very important to us that we find the <strong>perfect domain</strong> for our innovative offering. Since the service was extremely well received, we prepared very intensively for our expansion to other EU countries.</p>
                                <p>We have not only secured the top level domains which are important to us in each country, but also the <strong>domain title in the correct language</strong>."</p>
                                <h3>&nbsp;</h3>
                            </div>
                        </li>

                        <li style="float: left; list-style: outside none none; position: relative; width: 709px;" class="bx-clone">
                            <img src="https://cdn.sedo.com/fileadmin/user_upload/Buy_Domains/How_it_works/BUY_DOMAINS_Slider_give.jpg" alt="" width="1524" height="280">
                            <div class="content rte" data-ce="slidersmall">
                                <h5>Online-Shops &amp; Start-Ups</h5>
                                <p>Brent Oxley, Entrepreneur</p>
                                <p><strong>Give.com</strong> is the ultimate name for a charity, and had we not acted fast on the advice of our Sedo broker, we could have missed out on this effective branding for our cause. The domain <strong>projects exactly what we intend to do</strong> which is to positively impact more lives than all other charities combined, and I can’t imagine this being possible without <strong>a name as powerful and universal as Give.com</strong>.</p>
                                <p>We simply <strong>cannot afford to sound like an inexperienced startup</strong> and with the Give.com name, we won’t.</p>
                                <h2>&nbsp;</h2>
                            </div>
                        </li>
                    </ul>
                </div><div class="bx-controls bx-has-pager"><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link">1</a></div><div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link active">2</a></div><div class="bx-pager-item"><a href="" data-slide-index="2" class="bx-pager-link">3</a></div></div></div>
            </div>
        </div>
    </div>
</div><div class="ce-wrapper grey frame frame-default frame-type-dce_dceuid2 frame-layout-0 frame-space-after-medium">
    <div class="ce-list-boxes-cta">
        <h2>GET STARTED NOW</h2>


        <div class="list-boxes-item" data-row="0">
            <div class="header">
                <h4>Ready, steady, go to the marketplace!</h4>

            </div>
            <div class="list-box list-box-left">
                <div class="content rte" data-ce="listboxescta">
                    <h3>Search the marketplace</h3>
                    <p>Search and find your domain from over 19 million names in our data base.</p>
                </div>

                <a href="/search/?language=us" title="Domain search" class="blue cta"> </a>

            </div>
            <div class="list-box list-box-right">
                <div class="content rte" data-ce="listboxescta">
                    <h3>Contact a Broker</h3>
                    <p>Our domain experts will help you get the perfect domain name</p>
                </div>

                <a href="/us/services/broker-service/" class="blue cta"> </a>

            </div>
        </div>

        <div class="list-boxes-item" data-row="1">
            <div class="header">
                <h4>Learn more</h4>

            </div>
            <div class="list-box list-box-left">
                <div class="content rte" data-ce="listboxescta">
                    <h3>About Sedo</h3>
                    <p>Everything worth knowing about Sedo.</p>
                </div>

                <a href="/us/about-us/" class="blue cta"> </a>

            </div>
            <div class="list-box list-box-right">
                <div class="content rte" data-ce="listboxescta">
                    <h3>FAQ</h3>
                    <p>Find answers to the most frequently asked questions.</p>
                </div>

                <a href="/us/know-how-support/" class="beige cta"> </a>

            </div>
        </div>

    </div>
</div>
